<template>
  <div>
    <div v-if="survey">
      <q-stepper
        v-model="step"
        ref="stepper"
        contracted
        color="primary"
        animated flat
      >
        <q-step
          v-for="(question, qi) in survey.questions" :key="qi"
          :name="qi"
          :title="question.title"
          icon="fas fa-question"
          active-icon="far fa-heart" active-color="secondary"
          done-icon="fas fa-check" done-color="positive"
          v-if="question.status === 1"
          :done="step > qi"
        >
          <div :class="[ $q.screen.lt.md ? 'col-12' : 'col' ]">

            <div class="survey-question">
              <p class="text-subtitle1 survey-question-title text-blue-grey-8">{{question.title}}</p>
              <div class="survey-answers">
                <div v-if="question.type === 'radio'">

                  <q-radio
                    class="q-my-none"
                    v-if="answer.status === 1"
                    v-model="question.val"
                    @input="step === (survey.questions.length-1) ? persistResult() : parseResponse()"
                    v-for="answer in question.answers" :key="answer.val"
                    :val="answer.val" :label="answer.label" color="secondary"/>
                </div>

                <div v-else-if="question.type === 'checkbox'">
                  <q-checkbox
                    keep-color
                    class="q-my-none"
                    v-model="question.val"
                    v-if="answer.status === 1"
                    v-for="answer in question.answers" :key="answer.val"
                    :val="answer.val" :label="answer.label" color="primary"/>
                </div>

                <div v-else-if="['text', 'number' ].includes( question.type )">
                  <q-input
                    :type="question.type"
                    :name="question.name"
                    :mask="question.attr.mask ? question.attr.mask : ''"
                    :hint="question.attr.hint ? question.attr.hint : ''"
                    :label="question.attr.placeholder"
                    :maxlength="question.attr.maxlength || 255"
                    v-model="question.val"
                    class="q-my-none"
                    outlined square>

                    <template v-slot:prepend>

                      <q-icon name="event" class="cursor-pointer text-secondary"
                              v-if="[ 'date' ].includes( question.attr.behavior )">
                        <q-popup-proxy ref="dateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="question.val" mask="DD/MM/YYYY" minimal>
                            <div class="row items-center justify-end q-gutter-sm">
                              <q-btn label="OK" color="primary" flat v-close-popup/>
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>

                      <q-icon name="alarm" class="cursor-pointer text-secondary"
                              v-if="[ 'time' ].includes( question.attr.behavior )">
                        <q-popup-proxy ref="timeProxy" transition-show="slideUp" transition-hide="slideDown">
                          <q-time v-model="question.val" format24h>
                            <div class="row items-center justify-end q-gutter-sm">
                              <q-btn label="OK" color="primary" flat v-close-popup/>
                            </div>
                          </q-time>
                        </q-popup-proxy>
                      </q-icon>
                    </template>

                  </q-input>
                </div>

              </div>
            </div>
            <q-inner-loading :showing="loading">
              <q-spinner-hourglass size="50px" color="light-green"/>
            </q-inner-loading>
          </div>
        </q-step>
        <template v-slot:message>
          <h5 class="survey-title text-blue-5">
            {{ survey.name }}
            <transition name="credit_anim"
                        appear
                        enter-active-class="animated fadeInUp"
                        leave-active-class="animated fadeOutUp"
            >
            <span ref="credit_box" v-show="credits.show"
                  class="float-right text-positive q-mr-md text-subtitle1 question-credits">
              {{credits.amount}}
              <img src="img/tudobem-logo-moeda-rosa-64.png" style="width: 24px;"/>
            </span>
            </transition>
          </h5>
        </template>
        <template v-if="!loading" v-slot:navigation>
          <q-stepper-navigation :class="$q.screen.lt.sm ? 'text-right' : 'text-left'">
            <q-btn @click="parseResponse" unelevated icon-right="fas fa-chevron-right" color="primary" label="Continuar"
                   v-if="step < (survey.questions.length-1)"/>
            <q-btn @click="persistResult" unelevated color="positive" label="Finalizar"
                   v-if="step === (survey.questions.length-1)"/>
            <q-btn v-if="step < (survey.questions.length)" flat color="primary" @click="$refs.stepper.previous()"
                   label="Voltar" class="q-ml-sm"/>
          </q-stepper-navigation>
        </template>

      </q-stepper>

    </div>
  </div>

</template>

<script>

  import SurveyService from 'src/service/survey.service';
  import {mapActions} from 'vuex';

  export default {
    name: "Survey",
    components: {
      SurveyService
    },
    data() {
      return {
        step: 0
        , loading: false
        , survey: null
        , credits: {
          show: false, amount: '0'
        }

      };
    },

    methods:
    {
      parseResponse() {
        let question = this.survey.questions[this.step];
        let valid = true;

        this.loading = true;

        if (question.required) {
          if (question.val === undefined)
            valid = false;
          else if (typeof question.val !== 'number')
            valid = question.val.length > 0;
        }

        if ( question.credits && valid ) {
          this.credits.show = true;
          this.credits.amount = '+' + question.credits.user;
          this.$analytics.logEvent( 'earn_virtual_currency', { name: 'credibens', value: question.credits.user } );
        }

        if (valid)
          setTimeout(() => {
            this.loading = false;
            this.credits.show = false;
            this.$refs.stepper.next();
          }, 2000);
        else {
          this.$q.notify({
            message: '<b>Por favor, Responda à pergunta para avançar</b>', position: 'bottom', html: true,
            color: 'negative', textColor: 'white', icon: 'fas fa-exclamation'
          });
          this.loading = false;
          this.credits.show = false;
        }
      },

      persistResult() {
        this.loading = true;
        let userCryptos = 0, orgCryptos = 0;
        // let questions = this.survey.questions.filter( question => { return question.val ? { id: question.id, val: question.val } : null; });
        let survey = {id: this.survey.id, questions: []};
        if (this.survey.credits) {
          userCryptos = parseInt(this.survey.credits.user);
          orgCryptos = parseInt(this.survey.credits.org);
        }

        this.survey.questions.forEach(question => {
          if (question.val) {
            survey.questions.push({id: question.id, val: question.val});
          }

          if ( question.credits && question.val ) {
            userCryptos += parseInt(question.credits.user);
            orgCryptos += parseInt(question.credits.org);
          }
        });
        // persisting the survey result
        SurveyService.persist({survey}).then(data => {
          // this.loading = false;
          if (data) {
            let message = SurveyService.getThankYouMessage({crypto: userCryptos, crypto_org: orgCryptos, name: this.$store.state.guard.user.name });

            if( userCryptos > 0 && orgCryptos > 0 ) {
              let dismiss = this.$q.notify({
                html: true, message: message, color: 'grey-1', textColor: 'blue-5', timeout: 15000,
                avatar: 'icons/favicon-96x96.png', position: 'center',
                actions: [{
                  icon: 'fas fa-times', handler: () => { dismiss(); }
                }], multiLine: true
              });
              this.$analytics.logEvent( 'tutorial_complete', { name: this.survey.name, value: userCryptos } );
            }
            else
              this.$q.notify({ message: 'Obrigado por responder à Pesquisa', color: 'grey-1', textColor: 'blue-5', position: 'center' } );

            if (data.credits)
              this.setCredits( data.credits );

            this.removeSurvey();
          } else
            this.removeSurvey();

        })
          .catch(error => {
            console.log(error);
            let message = 'Ops, infelizmente houve um erro e os dados de pesquisa não puderam ser enviados. Por favor, tente novamente.';
            this.$q.notify({
              html: true,
              message: message,
              color: 'red-7',
              timeout: 5000,
              icon: 'fas fa-exclamation-circle',
              position: 'center'
            });
          })
          .finally(() => {
            this.refresh();
            this.loading = false;
          });
      },

      refresh() {
        let slug = this.$route.params.slug;
        SurveyService.get( slug ).then( data => {
          this.step = 0;
          this.survey = data;

          if ( data !== null )
            this.setSurvey(true);
        })
          .catch(error => {
            this.$q.notify({
              message: 'Ops, algo deu errado e não foi possível completar a Exibição da <b>Pesquisa</b>',
              html: true,
              type: 'negative'
            });
          });
      },

      ...mapActions({
        setSurvey: 'survey/setSurvey',
        removeSurvey: 'survey/removeSurvey',
        setCredits: 'guard/setCredits'
      })
    },

    mounted() {
      this.refresh();
    }
  }
</script>

<style scoped>
  .survey-title {
    margin: 7px 0 -24px 24px;
  }

  .survey-question-title {
    font-size: 20px;
  }

  .question-credits {
    font-weight: 500;
    font-size: 25px;
  }

  .credit_anim-enter-active {
    transition: fadeInUp 2s ease;
  }

  .credit_anim-leave-active {
    transition: all 2s;
  }

  .credit_anim-enter {
    transition: all 2s ease;
    opacity: 0;
  }

  .credit_anim-leave-to {
    opacity: 0;
  }
</style>
