<template>
  <!-- here begins the Rectangle Offer Component-->
  <q-card bordered flat v-if="offer">
    <q-img :src="offer.asset_url" :ratio="14/9" spinner-color="primary" spinner-size="40px" @click="accept">
      <q-btn push rounded color="red-9" size="sm" class="q-mt-sm float-right credibens-sticker-right">
        <template v-slot:default>
          <q-icon name="fas fa-donate" class="on-left" size="14px"/>
          <div class="text-caption justify-center text-weight-medium">{{ offer.payout_user }} credibens</div>
        </template>
      </q-btn>
    </q-img>
    <!--    <q-img src="produtos_tudobem_maquiagem.png" :ratio="14/9" spinner-color="primary" spinner-size="40px"></q-img>-->

    <q-card-section class="q-pa-none">
      <!-- offer Header -->
      <p class="text-center text-primary q-my-sm text-caption"
         :style="$q.screen.lt.md ? 'font-size: 15px;' : 'font-size: 23px'" v-html="offer.text.display"/>
      <q-btn push :size="$q.screen.lt.md ? 'md': 'lg'" color="positive"
             :label="offer.text.btn.accept"
             @click="accept" class="full-width no-border-radius"/>
    </q-card-section>

  </q-card>
</template>

<script>
import { getById } from "src/service/offerwall.service";
import {click} from "src/service/tracker.service";

export default {
  name: "Rectangle",
  props: {
    idOffer: { type: Number, default: null },
    value: { type: Object, default: null }
  },
  data(){
    return {
      offer: null
    }
  },
  mounted() {
    if( this.idOffer )
      getById( this.idOffer ).then( offer => {
        this.offer = offer;
      });
    else
      this.offer = this.value;
  },

  methods: {
    accept() {
      if ( this.offer.conf.url ){
        this.$analytics.logEvent( 'select_content', { content_type: 'offer', content_id: this.offer.id } );
        this.acceptBtnLoading = true;

        // click being registered
        click({ ety: 'offer', id_ety: this.offer.id, params: { ow_hash: this.hash } } ).then( response => {
          let url = this.offer.conf.url;
          if( response.hash )
            url = url.replace( /tdbtoken/, response.hash );
          window.open( url, '_blank' );
          this.acceptBtnLoading = false;
        });

      }
      else
        this.$router.push({name: 'offerwall', params: {slug: this.offer.slug}});
    }
  }
}
</script>

<style scoped>
.credibens-sticker-right{
  margin-right: 7px !important; /*transform: translate(-240%, -50%)*/;
}
</style>
