<template>
  <div v-if="offerlets" class="row q-mt-sm justify-center" :class="[ $q.screen.lt.sm ? 'q-mx-xs': 'q-gutter-sm']">
    <div class="col-12">
      <Hat title="Campanhas do Bem em Destaque" sub-title="Participe, Ganhe Credibens para trocar por Produtos e Cartões-Presente Grátis" />
    </div>
    <div v-for="(offer,i) in offerlets.offers" class="col-lg-3 col-md-4 col-sm-5 col-xs-12"
         :class="[ $q.screen.lt.sm ? 'q-pa-xs': '']">
      <Rectangle v-model="offerlets.offers[i]"/>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12"
         :class="[ $q.screen.lt.sm ? 'q-pa-xs': '']">
      <q-btn push color="secondary" label="ver todas as campanhas" class="full-width q-my-sm" :to="{name: 'offerwall'}" />
    </div>
  </div>
</template>

<script>
/** @todo implement rules to be configured in admin panel */
  import {get} from "src/service/offerwall.service";
  import { getExpiredAtTimestamp, getTs } from "src/service/Helpers/timestamp.helper";
  import Rectangle from "src/components/Entities/Display/Banner/Rectangle";
  import Hat from "src/components/sections/general/Hat";

  export default {
    name: "RectangleContainer",
    components: {
      Hat,
      Rectangle
    },
    props: {
      limit:{ type: Number, default: 6 }
    },
    data() {
      return {
        offerlets: null
      }
    },
    mounted() {
      let offerlets = JSON.parse( localStorage.getItem( 'rectoffers' ) );
      if( offerlets ){
        let currentTS = getTs();
        if( currentTS < offerlets.ts ){
          this.offerlets = offerlets.data;
        }
        else
          this.getData()
      }
      else
        this.getData();
    },
    methods:{
      getData()
      {
        get({ limit: this.limit }).then( data => {
          if( data.offers.length )
            this.offerlets = data;
          localStorage.setItem( 'rectoffers', JSON.stringify( { ts: getExpiredAtTimestamp(1, 'h' ), data } ) );
        });
      }
    }
  }
</script>
