<template>
  <q-card flat bordered>
    <q-img :src="$assets.url+ong.images[0].name" :alt="ong.images[0].description" />
    <q-card-section class="q-px-none q-py-xs">
      <p class="text-overline text-center text-primary q-mb-none" style="line-height: 20px;">
        {{ ong.label }}
      </p>
    </q-card-section>

    <q-card-actions align="center">
      <q-btn size="sm" flat dense label="Saiba mais"
             class="text-lowercase" :color="expanded ? 'blue-grey-14': 'secondary'" @click="expanded = !expanded" />
    </q-card-actions>
    <q-slide-transition>
      <div v-show="expanded">
        <p class="text-body2 text-blue-grey-14 q-mx-md" v-html="ong.description" />
      </div>
    </q-slide-transition>
  </q-card>
</template>

<script>
export default {
  name: "Onglet",
  props: {
    ong: { type: Object, required: true }
  },
  data()
  {
    return {
      expanded: false
    }
  },
  methods:{

  }
}
</script>

<style scoped>

</style>
