<template>
  <div v-if="ongs" class="row q-mt-sm justify-center" :class="[ $q.screen.lt.sm ? 'q-mx-sm': 'q-gutter-sm']">
    <div class="col-12">
      <p class="text-center text-body1 text-primary q-mb-none" v-if="copy.title">
        {{ copy.title }}
      </p>
    </div>
    <div v-for="(ong,i) in ongs" class="col-lg-2 col-md-4 col-sm-5 col-xs-6"
         :class="[ $q.screen.lt.sm ? 'q-pa-xs': '']">
      <Onglet :ong="ong"/>
    </div>
  </div>
</template>

<script>

  export default {
    name: "OngletContainer",
    components: {
      Onglet: () => import( "src/components/Entities/Ong/Onglet" )
    },
    props: {
      copy: { type: Object, default: () => { return { title: 'Alguns dos Projetos ajudados pelo tudobem' }; } }
    },
    data() {
      return {
        ongs: [
          {"id":1,"label":"CICV","description":"Fundado em 1863, o CICV trabalha no mundo todo para levar assistência humanitária às pessoas afetadas por conflitos e pela viol\u00eancia armada e para promover as leis que protegem as v\u00edtimas da guerra. \u00c9 uma organiza\u00e7\u00e3o independente e neutra e o seu mandado se origina essencialmente das Conven\u00e7\u00f5es de Genebra, de 1949. Com sede em Genebra, Su\u00ed\u00e7a, a organiza\u00e7\u00e3o tem cerca de 16 mil colaboradores em 80 pa\u00edses e \u00e9 financiada principalmente por doa\u00e7\u00f5es volunt\u00e1rias dos governos e das Sociedades Nacionais da Cruz Vermelha e do Crescente Vermelho.","images":[{"name":"img/ong/bdd3e6bb.jpeg","status":1,"description":"CICV"}]},
          {"id":2,"label":"ActionAid","description":"Somos uma organiza\u00e7\u00e3o internacional que trabalha por justi\u00e7a social, igualdade de g\u00eanero e pelo fim da pobreza. Fomos fundados em 1972 e estamos presentes em 43 pa\u00edses, alcan\u00e7ando mais de 15 milh\u00f5es de pessoas no mundo. No Brasil desde 1999, atuamos em mais de 2.4 mil comunidades e beneficiamos mais de 300 mil pessoas. Trabalhamos em parceria com comunidades e organiza\u00e7\u00f5es locais em projetos de educa\u00e7\u00e3o, agroecologia e clima, igualdade de g\u00eanero e participa\u00e7\u00e3o e democracia.","images":[{"name":"img/ong/22ec9634.jpeg","status":1,"description":"actionaid"}]},
          {"id":3,"label":"Child Fund Brasil","description":"Desde 1966 no pa\u00eds, o ChildFund Brasil, Ag\u00eancia Internacional de Desenvolvimento Infantil, beneficia milhares de pessoas, entre crian\u00e7as, adolescentes, jovens e suas fam\u00edlias. Conhe\u00e7a mais do nosso trabalho e saiba por que o ChildFund Brasil merece a sua ajuda!","images":[{"name":"img/ong/5f2bad07.jpeg","status":1,"description":"childfundbrasil"}]},
          {"id":5,"label":"Aldeias Infantis","description":"Com o apoio das contribui\u00e7\u00f5es de pessoas e empresas, conseguimos manter projetos que oferecem alternativas de cuidado, fortalecem fam\u00edlias e comunidades, e promovem melhorias em pol\u00edticas p\u00fablicas para que nenhuma crian\u00e7a sofra qualquer tipo de abuso ao longo da vida","images":[{"name":"img/ong/977ba899.jpeg","status":1,"description":"aldeias infantis"}]}]
      }
    },
    created() {

    }
  }
</script>

<style scoped>

</style>
