<template>
  <q-form ref="usrForm">
    <div class="row">
      <div class="col-12">
        <p class="text-center text-primary text-h5">{{data.text.header}}</p>
      </div>
    </div>
    <div class="row">
      <template v-for="(field, fi) in fields">
        <div class="col-12 q-mb-xs">
          <component :is="field.type" :key="fi" @input="val => setVal( field.name, val )" :ref="field.name" :attrs="field" />
        </div>
      </template>
      <div class="col-12 text-center">
        <q-btn label="enviar" :loading="loading" unelevated color="positive" size="lg" :class="$q.screen.lt.md ? 'full-width': 'q-px-lg'" @click="send">
          <template v-slot:loading>
            <q-spinner-hearts />
          </template>
        </q-btn>
      </div>
    </div>

  </q-form>
</template>

<script>
    import { post } from 'src/service/offerwall.service';
    export default {
      name: "UserData",
      components:{
        CEP:    () => import( 'src/components/Entities/OfferWall/Form/Input/CEP' ),
        CPF:    () => import( 'src/components/Entities/OfferWall/Form/Input/CPF' ),
        Gender: () => import( 'src/components/Entities/OfferWall/Form/Input/Gender' ),
        Email: () => import( 'src/components/Entities/OfferWall/Form/Input/Email' ),
        Name: () => import( 'src/components/Entities/OfferWall/Form/Input/Name' ),
        CustomSelect:     () => import( 'src/components/Entities/OfferWall/Form/Input/Custom/CustomSelect' ),
        CustomText:  () => import( 'src/components/Entities/OfferWall/Form/Input/Custom/CustomInputText' ),
        CustomRadio:  () => import( 'src/components/Entities/OfferWall/Form/Input/Custom/CustomRadio' ),
        CustomCheck: () => import( 'src/components/Entities/OfferWall/Form/Input/Custom/CustomInputCheck' )
      }
      ,props: {
        fields: { type: Array, required: true },
        data: { type: Object, required: true } // contains the offer id to prepare and execute a Conversion
      }
      ,data() {
        return {
          formData: {},
          loading: false
        }
      }
      ,methods: {
        send()
        {
          let validated = true;
          let fData = {};
          for( let field in this.formData ){
            if( this.$refs[ field ][0].attrs.required && this.$refs[ field ][0].val.length === 0 ){
              this.$refs[ field ][0].valid = false;
              validated = false;
            }
            fData[ field ] = this.formData[ field ].value;
          }

          if( validated ){
            // @todo code here the data sending to server...
            this.loading = true;
            post( { data: fData, id_offer: this.data.offer.id } ).then( response => {
              this.loading = false;
              // @todo include the conversion
              this.$emit('complete', { message: this.data.text.thankyou }); // uncomment after the test
            })
            .catch( error => {
              console.log( 'Erro no preenchimento do Form' );
            });
          }
        },

        /**
         * set value in the form data object
         * @param {String|Object} field
         * @param {Object} data
         */
        setVal( field, data )
        {
          this.formData[ field ].value = data.value;
          this.formData[ field ].valid = data.valid;
        }
      }
      ,created()
      {
        let value = '';
        this.fields.forEach( ( field, i ) => {
          // it is an object with: label, name, data{ options }, id, type( CustomSelect, CustomInput )
          this.formData[ field.name ] = { value: value, valid: false }
        });
      }
    }
</script>

<style lang="stylus" scoped>
  .text-h5
    font-size 1.3rem
    font-weight 400;
    line-height 2rem;
    letter-spacing normal
</style>
