<script>
    import * as Facebook from "fb-sdk-wrapper";

    export default {
      name: "Facebook",
      methods:
      {
        /**
         * Shares using the facebook UI
         * @param {Object} params { <string> quote, <string> hashtag, <closure> cbResponse }
         */
        shareUI( params )
        {
          Facebook.ui({
            method: 'share', href: href,
            quote: params.quote, hashtag: params.hashtag
          })
          .then( response => params.cbResponse );
        }
      },
      mounted() {
        Facebook.load()
        .then(() => {
          Facebook.init({
            appId: '2496718463876192'
          });
        });
      }
    }
</script>

<style scoped>

</style>
