<template>
  <div class="row">
    <div class="col-12 q-gutter-sm q-my-xs text-center">
      <q-btn unelevated color="blue-7" icon="fab fa-facebook-f" label="compartilhar no facebook" @click="onFacebook"/>
    </div>
    <div class="col-12 q-gutter-sm q-my-xs text-center">
      <q-btn unelevated color="green-7" icon="fab fa-whatsapp" label="compartilhar no whatsapp" @click="onWhatsapp"/>
    </div>

    <div class="col-12 q-gutter-sm q-my-xs text-center">
      <q-btn unelevated color="orange-10" @click="onShareableLink" label="copiar meu Link e compartilhar"/>
    </div>
  </div>
</template>

<script>
  import {copyToClipboard} from "quasar";

  export default {
    name: "SocialButtons",
    methods:
    {
      onWhatsapp()
      {
        let env = this.$q.screen.lt.md ? 'api' : 'web';
        this.$social.getWhatsappUrl({params: {token: this.$store.state.guard.user.token}, env});
      },

      onFacebook()
      {
        let env = this.$q.screen.lt.md ? 'api' : 'web';
        this.$social.onFacebook({params: {token: this.$store.state.guard.user.token}, env})
          .then(response => {
            this.$analytics.logEvent( 'select_content', { content_type: 'share-facebook-tudobem' } );
          })
          .catch(error => console.log('facebook error response', error));
      },

      onShareableLink()
      {
        copyToClipboard(this.$social.getUserAffiliateLink({token: this.$store.state.guard.user.token}))
          .then(() => {
            let message = 'Link de BemFeitor Copiado. Cole em suas Redes Sociais e Grupos de Amigos e ganhe '+this.$settings.memberGetMember+' Credibens a cada novo BemFeitor';
            this.$q.notify({
              message,
              position: 'bottom',
              'color': 'positive'
            })
          }).catch( error => {});
      }
    }
  }
</script>

<style scoped>

</style>
