<template>
  <div>
    <h6 class="text-center text-primary q-my-sm">{{title}}</h6>
    <p v-if="subTitle" class="text-body2 text-blue-grey-14 text-center" v-html="subTitle" />
  </div>
</template>

<script>
    export default {
      name: "Hat",
      props: {
        title: {type: String, required: true },
        subTitle: {type: String, required: false }
      }
    }
</script>

<style scoped>
</style>
