<template>
  <q-card flat bordered>
    <q-card-section horizontal>
      <q-card-section class="col-7 flex flex-center">
        <q-img :src="$assets.url+value.images[0].name" :alt="value.images[0].description" class="rounded-borders" />
      </q-card-section>
      <q-card-section class="col-5 flex flex-center">
        <p class="text-overline text-center text-secondary q-mb-none" style="line-height: 20px;">
          {{ value.label }}
        </p>
      </q-card-section>
    </q-card-section>

    <q-card-actions>
      <q-btn flat dense
        class="text-lowercase text-secondary" size="sm"
         :label="value.favorited ? 'sua ONG favorita' : 'tornar favorita'" :icon="value.favorited ? 'fas fa-heart' : 'far fa-heart'" @click="value.favorited ? ops() : $emit('favorited' )" :loading="value.loading" />
      <q-space />
      <q-btn size="sm" flat dense
             :icon-right="expanded ? 'fas fa-angle-up' : 'fas fa-angle-down'" label="Saiba mais"
             class="text-lowercase" :color="expanded ? 'blue-grey-14': 'primary'" @click="expanded = !expanded" />
    </q-card-actions>
    <q-slide-transition>
      <div v-show="expanded" class="text-caption text-blue-grey-12">
        <p class="text-caption text-blue-grey-14 q-mx-md" v-html="value.description"></p>
      </div>
    </q-slide-transition>
  </q-card>
</template>

<script>
    export default {
      name: "OngCard",
      props: {
        value: { type: Object, required: true }
      },
      data()
      {
        return {
          expanded: false
        }
      },
      methods:{
        ops()
        {
          this.$q.notify({type: 'info', message: `<b>${this.value.label}</b> é sua ONG Favorita`, html: true });
        }
      }
    }
</script>

<style scoped>

</style>
