<template>
  <div class="fixed-center text-center">
    <p class="text-blue-grey-14">Ops, acho que perdemos alguma coisa :/</p>
    <q-btn
      color="negative"
      flat
      style="width:300px;"
      @click="$router.push({ name: 'landing'})"
    >Voltar ao Tudobem</q-btn>
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
