<template>
  <div class="full-width">
    <q-icon name="far fa-question-circle" class="text-warning cursor-pointer q-mb-sm">
      <q-popup-proxy :offset="[10, 10]">
        <q-banner class="bg-light-blue text-white">
          <template v-slot:avatar>
            <q-icon name="fas fa-info" />
          </template>
          Os <b>Credibens</b> são Créditos Bônus do Tudobem para Você. <br />
          Alguns Benefícios:
          <br /><br />- Descontos em Produtos e Serviços;
          <br /><br />- Trocar por Produtos Grátis de sua Escolha;
          <br /><br />Em breve: Sacar em R$ para sua Conta.

        </q-banner>
      </q-popup-proxy>
    </q-icon>
    <div class="row justify-around">
      <!-- special card -->
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 q-mb-sm">
        <q-card flat bordered>
          <q-item>
            <q-item-section avatar>
              <q-icon name="fas fa-donate" color="primary" />
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-positive">{{credits.crypto}} Credibens</q-item-label>
              <q-item-label caption>São seus para usar no Aplicativo</q-item-label>
            </q-item-section>
          </q-item>
          <q-card-actions vertical align="center">
            <q-btn unelevated flat color="primary" label="Trocar por Produtos e Descontos" size="xs" :to="{ name: 'produtos' }" />
          </q-card-actions>
        </q-card>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 q-mb-sm">
        <q-card flat bordered>
          <q-item>
            <q-item-section avatar>
              <q-icon name="fas fa-hand-holding-heart" color="secondary" />
            </q-item-section>

            <q-item-section>
              <q-item-label class="text-positive">{{credits.crypto_org}} Credibens</q-item-label>
              <q-item-label caption>Destinados à Instituições Beneficentes através das Boas Ações que você realiza</q-item-label>
            </q-item-section>
          </q-item>
          <q-card-actions vertical align="center">
            <q-btn flat unelevated color="primary" label="Eleger minha ONG Favorita" size="xs" @click="$router.push({ name: 'ong' })" />
          </q-card-actions>
        </q-card>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" v-if="ongEntity">
        <q-card flat bordered>
          <q-card-section>
            <p class="text-primary q-ma-none text-center">ONG Favorita</p>
            <p class="text-secondary q-ma-none text-center">{{ ongEntity.label }}</p>
          </q-card-section>
          <q-card-actions vertical align="center">
            <q-btn flat unelevated color="primary" label="Escolher outra ONG" size="xs" @click="$router.push({ name: 'ong' })" />
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </div>

</template>

<script>
  import { get } from 'src/service/ong.service';

export default {
  name: "Credits",
  components: {
  },
  props: {
    credits: { type: Object, default: null }, ong: { default: null }
  },
  data(){
    return {
      ongEntity: null
    }
  },
  mounted()
  {
    get( this.ong ).then( response => {
      console.log( response );
      if( response )
        this.ongEntity = response;
    });
  }
  }
</script>

<style scoped>
</style>
