<template>
  <div class="full-width">
    <p class="text-body2 text-blue-grey-14 text-center">
      Responda sobre o seu perfil e Preferências de Consumo
    </p>
    <p class="text-body2 text-blue-grey-14 text-center">
      Ajude o Tudobem a encontrar os melhores produtos para você Testar e as melhores Ofertas e Descontos
      para você aproveitar.
    </p>

    <div class="row justify-around">
      <div class="col-12">
        <p class="text-subtitle2 text-secondary text-center">Estado Civil</p>
        <q-option-group type="radio" :options="options.marital_status" v-model="value.marital_status" />
      </div>
      <div class="col-12">
        <p class="text-subtitle2 text-secondary text-center q-mt-md">Faixa de Renda Individual</p>
        <q-option-group type="radio" :options="options.economic" v-model="value.economic" />
      </div>
      <div class="col-12">
        <p class="text-subtitle2 text-secondary text-center q-mt-md">Interesses</p>
        <q-tree
          :nodes="categories" :ticked.sync="value.interests" node-key="id" tick-strategy="strict" accordion
        />
      </div>
      <div class="col-12">
        <p class="text-subtitle2 text-secondary text-center q-mt-md">Possui filhos, quantos?</p>
        <q-input type="number" dense outlined label="Número de filhos" v-model="value.children" bg-color="white" color="positive"
           maxlength="1" hint="quantos filhos você tem?" hide-hint
        />
      </div>
    </div>
  </div>

</template>

<script>
  import { getters, actions } from "src/service/category.service";

  export default {
    name: "Profile",
    props: {
      value: { type: Object, required: true }
    },
    computed:
    {
      categories: getters.hierarchicallyCategories
    },
    data()
    {
      return {
        options: {
          marital_status: [
            { label: 'Solteiro', value: 1 },
            { label: 'Casado', value: 2 },
            { label: 'Noivado/Relacionamento Sério', value: 3 },
            { label: 'Namorando', value: 4 }
          ],
          economic: [
            { label: 'R$ 500,00 a R$ 1.000,00', value: 'e' },
            { label: 'R$ 1.001,00 a R$ 2.000,00', value: 'd' },
            { label: 'R$ 2.001,00 a R$ 5.000,00', value: 'c' },
            { label: 'R$ 5.001,00 a 10.000,00', value: 'b' },
            { label: 'Acima de R$ 10.000,00', value: 'a' }
          ]
        }
      }
    },

    mounted()
    {
      this.getHierarchically();
    },

    methods:
    {
      ...actions
    }
  }
</script>

<style scoped>
</style>
