<template>
  <div class="full-width">
    <div class="row">
      <div class="col">
        <p class="text-subtitle1 text-primary q-mb-xs">{{value.user.name}}</p>
        <p class="text-blue-grey-4 q-mb-none">{{value.user.email}}</p>
        <p class="text-subtitle2 text-blue-grey-4">{{value.user.ddd+' '+value.user.phone}}</p>
      </div>
    </div>
    <div class="row justify-around">
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <q-input
          outlined v-model="value.userData.cep" label="CEP" hint="CEP da sua Residência" hide-hint
          mask="#####-###" bg-color="white" color="positive"
        />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <q-input type="number" maxlength="5"
          outlined dense v-model="value.userData.address.number" label="Número" hint="Número do seu Endereço" hide-hint
          bg-color="white" color="positive"
        />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <q-input type="text"
          outlined dense v-model="value.userData.address.complement" label="Complemento" hint="Complemento do seu Endereço" hide-hint
          bg-color="white" color="positive"
        />
      </div>

    </div>

    <div class="row justify-around">
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <q-input
          outlined v-model="value.userData.dob" label="Data de Nascimento" hint="data em que você nasceu" hide-hint
          mask="##/##/####" bg-color="white" color="positive"
        >
          <template v-slot:prepend>
            <q-icon name="far fa-calendar-alt" class="cursor-pointer text-positive">
              <q-popup-proxy transition-show="scale" transition-hide="scale">
                <q-date v-model="value.userData.dob" mask="DD/MM/YYYY" title="Data de Nascimento" color="primary">
                  <div class="row items-center justify-end q-gutter-sm">
                    <q-btn label="OK" color="primary" flat v-close-popup />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <q-input outlined label="CPF" v-model="value.userData.cpf"
           bg-color="white" color="positive" maxlength="14" mask="###.###.###-##"
           :debounce="700" hint="CPF único e válido" hide-hint :rules="[ cpf ]"
        />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 text-center">
        <q-radio label="Feminino" v-model="value.user.gender" :val="1" />
        <q-radio label="Masculino" v-model="value.user.gender" :val="2" />
      </div>

    </div>
  </div>

</template>

<script>

  import { cpf } from 'src/components/Entities/OfferWall/Form/Input/Validations';

  export default {
    name: "Profile",
    props: {
      value: { type: Object, required: true }
    },
    data()
    {
      return {

      }
    },

    mounted()
    {
    },

    methods:
    {
      cpf: cpf
    }
  }
</script>

<style scoped>
</style>
