<template>
  <!-- Promotion Component -->
  <q-card flat bordered>
    <q-item>
      <q-item-section avatar>
        <q-avatar>
          <q-img src="icons/favicon-96x96.png" />
        </q-avatar>
      </q-item-section>

      <q-item-section>
        <q-item-label class="text-secondary">{{entity.name}}</q-item-label>
        <q-item-label caption>{{entity.label}}</q-item-label>
      </q-item-section>
    </q-item>

    <q-img :src="$assets.url+entity.images[0].path" :alt="entity.images[0].description" />

    <q-card-section>
      <q-badge :color="differenceInDays.color" class="q-pa-sm absolute badge-timeout">
        <q-icon name="fas fa-stopwatch" color="white" class="q-mr-xs" /> {{ differenceInDays.text }}
      </q-badge>
      <q-btn
        round :size="$q.screen.lt.md ? 'sm' : 'lg'" :color="favorited ? 'secondary' : 'blue-grey-1'" :text-color="favorited ? 'white' : 'secondary'" icon="far fa-heart" class="absolute action-favorite"
        @click="favoritePromotion" :loading="favoriteButtonLoading"
      >
        <template v-slot:loading>
          <q-spinner-hourglass />
        </template>
      </q-btn>
      <!-- social sharing buttons -->
      <!--<q-btn
        round :size="$q.screen.lt.md ? 'sm' : 'lg'" color="blue-5" icon="fab fa-facebook-messenger" class="absolute action-share-messenger"
        @click="onMessenger"
      />-->
      <q-btn
        round :size="$q.screen.lt.md ? 'sm' : 'lg'" color="green-5"
        icon="fab fa-whatsapp" class="absolute action-share-whatsapp"
        type="a" @click="onWhatsapp" :target="$q.screen.lt.md ? '_self' : '_blank'"
      />
      <q-btn
        round :size="$q.screen.lt.md ? 'sm' : 'lg'" color="blue-7" icon="fab fa-facebook-f" class="absolute action-share-facebook"
        @click="onFacebook"
      />

    </q-card-section>

    <q-card-actions align="around">

      <q-btn flat label="saiba mais" color="blue" :to="{ name: canDoLoggedActions ? 'promodobem' : 'promocoes', params: { slug: entity.slug } }" />
      <template v-if="differenceInDays.difference >= 0">
        <q-btn flat color="secondary" label="participar" @click="participate" />
      </template>
    </q-card-actions>

  </q-card>
  <!--/ end Promotion Component -->
</template>

<script>
    import differenceInDays from 'date-fns/differenceInDays';
    import parse from 'date-fns/parse';

    import { favorite } from 'src/service/promotion.service';
    import { mapActions } from 'vuex';

    export default {
      name: "Promotion",
      props:{
        entity: { type: Object, required: true },
        canDoLoggedActions: { type: Boolean, required: false, default: false }
      },
      data()
      {
        return {
          favorited: false,
          favoriteButtonLoading: false
        }
      },

      methods:
      {
        favoritePromotion()
        {
          if( this.canDoLoggedActions ){

            this.favoriteButtonLoading = true;
            this.favorited = this.favorited ? 0 : 1;
            favorite({ favorited: this.favorited, id_promotion: this.entity.id }).then( res => {

              this.favoriteButtonLoading = false;
              if( this.favorited )
                this.$q.notify({ message: '<b>'+this.entity.name+'</b> adicionada às suas Favoritas!', html: true, type: 'positive', position: 'bottom' });
              else
                this.$q.notify({ message: '<b>'+this.entity.name+'</b> Excluída das Favoritas.', html: true, type: 'negative', position: 'bottom' });

              this.$emit('favorite', { slug: this.entity.slug, favorited: this.favorited });
              this.$analytics.logEvent( 'select_content', { content_type: `favorite`, content_id: this.entity.slug});
            });

          }
          else{
            this.emitProperEvent( 'Cadastre-se Grátis e Favorite suas Promoções Preferidas' );
          }
        },

        participate()
        {
          if( this.canDoLoggedActions ){
            window.open( this.entity.url, '_blank' );
          }
          else{
            this.emitProperEvent( 'Entre para o Bem e Participe de Todas as Promoções' );
          }
        },

        emitProperEvent( text )
        {
          this.hasAccount().then( r => {
            let data = { entity: this.entity, text: text };
            if( r === true )
              this.$emit( 'show-signin',  data );
            else
              this.$emit( 'show-signup', data );

          });
        },

        getResolvedFullURL( route )
        {
          let fURL = window.location.protocol+'//'+window.location.hostname+''+this.$router.resolve({ name: route, params: { slug: this.entity.slug } }).href;
          return fURL;
        },

        onFacebook()
        {
          let href = this.getResolvedFullURL( 'promocoes' );
          this.$social.onFacebook({
            method: 'share', href: href,
            quote: this.entity.name+': '+this.entity.label, hashtag: '#produtosgratis #promocao #promodobem #'+this.entity.slug
          })
          .then( response => {
            console.log('facebook response', response );
            this.$analytics.logEvent( 'share', { content_type: `promotion-facebook`, content_id: this.entity.slug});
          })
        },

        onWhatsapp()
        {
          let env = this.$q.screen.lt.md ? 'api' : 'web';
          let quote = window.encodeURIComponent( 'Olha a Promoção que eu achei na Promo do Bem: *'+this.entity.label+'* -> ');
          let  href = this.getResolvedFullURL( 'promocoes' );
          this.$social.getWhatsappUrl({ quote, env, href });
          this.$analytics.logEvent( 'share', { content_type: `promotion-whatsapp`, content_id: this.entity.slug});
          // return `https://${env}.whatsapp.com/send?text=`+encodedText;
        },
        ...mapActions({ hasAccount: 'guard/hasAccount' })
      },

      computed:
      {
        differenceInDays()
        {
          let finishAt = parse( this.entity.finish_at, 'dd/MM/yyyy H:mm', new Date() );
          let difference = differenceInDays( new Date( finishAt ), new Date() );
          let data = { difference, text: 'Acaba ', color: 'green' };

          if( difference === 0 ){
            data.text += 'HOJE';
            data.color = 'amber-9';
          }

          if( difference < 0 ){
            data.text = 'Finalizada';
            data.color = 'deep-orange-9';
          }

          if( difference > 0 && difference < 11 ){
            data.text += `em ${difference} dias`;
            data.color = 'amber-9';
          }
          else if( difference > 10){
            data.text += `em ${difference} dias`;
          }
          return data;
        }
      },

      mounted()
      {
        if( this.canDoLoggedActions ){
          if( Boolean( this.entity.favorited ) )
            this.favorited = true;
        }
      }
    }
</script>

<style scoped>
  p{ margin: 0 0 0 0;}

  .action-favorite{
    top: 0; right: 12px; transform: translate(-240%, -50%);
  }
  .action-share-whatsapp{
    top: 0; right: 12px; transform: translate(-120%, -50%);
  }

  .action-share-facebook{
    top: 0; right: 12px; transform: translate(0%,-50%);
  }
  .action-share-messenger{
    top: 0; right: 12px; transform: translate(-120%, -50%);
  }
  .badge-timeout{
    top: 0; left: 12px; transform: translate(0%,-50%);
  }
</style>
