<template>

  <div class="row q-my-sm justify-center full-height offer-img bg-white shadow-1 rounded-borders">
    <div class="col-12 q-pa-none items-center" :class="[ $q.screen.gt.xs ? 'max-width-320' : 'max-width-400']">
      <p class="q-ma-none text-right">
        <q-btn flat color="grey" dense>
          <q-icon
            :name="favorited ? 'favorite' : 'favorite_border'"
            :color="favorited ? 'secondary':'grey'"
            @click="favorited = !favorited" size="sm" class="q-mr-xs q-mt-xs"></q-icon>
        </q-btn>
      </p>
      <p class="text-subtitle1  text-center">
        <q-img :src="offer.img" :alt="offer.name" style="width: 37%;" />
      </p>
      <p class="text-subtitle1 text-primary text-center q-ma-none offer-name">{{ offer.name }}</p>
      <p class="text-subtitle1 text-center offer-prices q-ma-none">
        <span class="text-green-9">
            {{formatFiatPrice( offer.price.fiat )}}
        </span>
        ou
        <span class="text-secondary">
          <q-icon name="bubble_chart" color="warning" /> {{ offer.price.cripto }}
        </span>
      </p>
    </div>

    <div class="col-12 text-center q-my-sm q-gutter-x-lg">
      <q-btn label="detalhes" flat color="primary" size="md" class="text-lowercase" />
      <q-btn label="eu quero" unelevated color="positive" size="md" />
    </div>

    <div class="col-12 text-right self-end q-mb-sm q-mr-md share-actions">
      <q-btn unelevated color="green" icon="fab fa-whatsapp" size="sm" class="q-px-xs q-ml-md" />
      <q-btn unelevated color="blue-10" icon="fab fa-facebook-f" size="sm" class="q-px-xs q-ml-md" />
      <q-btn unelevated color="purple-5" icon="fab fa-instagram" size="sm" class="q-px-xs q-ml-md" />
    </div>

  </div>
</template>

<script>
    export default {
        name: "Offer",
        props:{
            offer:Object
        },
        data()
        {
            return {
                favorited:false
            };

        },
        methods:
        {
            formatFiatPrice( v, abbr )
            {
                var res = '';
                v = parseFloat(v);

                if( v ){
                    if( abbr !== null && abbr !== undefined )
                        res = abbr+' '+v.toFixed(2).toString().replace('.',',');
                    else
                        res = 'R$ '+v.toFixed(2).toString().replace('.',',');
                }
                else
                    res = 'R$ 0,00';

                return res;
            }
        }

        ,filters:{

        }
    }
</script>

<style scoped>

</style>
