<template>

  <div class="text-center q-my-sm">
    <p class="text-subtitle1 text-primary q-mb-xs">{{ attrs.label }}
      <span v-if="!valid" class="text-caption text-negative"> Por favor, preencha este campo</span>
    </p>

    <q-checkbox
      v-for="(option, oi) in attrs.options" :key="oi"
      v-model="val"
      :val="oi"
      keep-color
      :color="ui.color"
      :label-color="ui.label_color"
      :dense="$q.screen.lt.md"
      :error="!valid" :error-message="userMessage"
      class="q-mr-sm"
      @input="validate"
    >
      <template v-slot:default>
        <span :class="valid ? 'text-blue-grey-9' : 'text-deep-orange-10'">{{option}}</span>
      </template>
    </q-checkbox>
  </div>

</template>

<script>
  import InputMixin from "src/components/Entities/OfferWall/Form/Input/InputMixin";
  import { notEmpty } from 'src/components/Entities/OfferWall/Form/Input/Validations';

  export default {
    name: "CustomSelect",
    mixins: [ InputMixin ],
    data(){
      return {
        userMessage: '',
        hint: '',
        options: []
      }
    },
    methods:{
      validate( evt ) {

        if( this.attrs.required ){

          let r = true;
          r = notEmpty( this.val );

          this.valid = r === true;
          this.changeUI( r );
        }
        this.emitInput();
      }
    }
    ,mounted() {
      this.val = [];
      for( let option in this.attrs.options ){
        this.options.unshift( { value: option, label: this.attrs.options[ option ] } );
      }

      if( this.attrs.test && this.attrs.value )
        this.val = this.attrs.value;
    }
  }
</script>

<style scoped>

</style>
