<template>
  <q-input
    outlined bottom-slots
    :label="attrs.label" :hint="attrs.hint" hide-hint
    v-model="val"
    :dense="$q.screen.lt.md"
    :color="ui.color" :label-color="ui.label_color"
    maxlength="40"
    :debounce="700"
    :error="!valid" :error-message="userMessage"
    @blur="validate"
  />
</template>

<script>
  import InputMixin from "../InputMixin";
  import { notEmpty } from '../Validations';
  export default {
    name: "CustomInputText",
    mixins: [ InputMixin ],
    data(){
      return {
        userMessage: '',
        hint: ''
      }
    },
    methods: {
      validate( evt ) {

        if( this.attrs.required ){
          let r = true;
          r = notEmpty( this.val );

          this.valid = r === true;
          this.changeUI( r );
        }
        this.emitInput();
      }
    },

    mounted() {
      if( this.attrs ){

      }
    }
  }
</script>

<style scoped>

</style>
