<template>
  <q-select
    outlined
    bottom-slots
    behavior="menu"
    :dense="$q.screen.lt.md"
    v-model="val"
    :color="ui.color" :label="attrs.label" :label-color="ui.label_color"
    :error="!valid" :error-message="userMessage"
    :options="options"
    transition-show="jump-up" transition-hide="flip-down"
    @input="validate"
  />
</template>

<script>
  import InputMixin from "../InputMixin";
  import { notEmpty } from '../Validations';
  export default {
    name: "CustomSelect",
    mixins: [ InputMixin ],
    data(){
      return {
        userMessage: '',
        hint: '',
        options: []
      }
    },
    methods:{
      validate( evt ){

        if( this.attrs.required ){
          let r = true;
          r = notEmpty( this.val );

          this.valid = r === true;
          this.changeUI( r );
        }
        this.emitInput();
      }
      ,customEmit()
      {
        let v = '';
        if( typeof this.val === 'object' && this.val.value !== undefined )
          v = this.val.value;
        else
          v = this.val;

        this.$emit( 'change-val', { value: v, valid: this.valid } );
      }
    }
    ,mounted() {
      for( let option in this.attrs.options ){
        this.options.unshift( { value: option, label: this.attrs.options[ option ] } );
      }
    }
  }
</script>

<style scoped>

</style>
