<template>
  <div v-if="products" class="row q-mt-sm justify-center" :class="[ $q.screen.lt.sm ? 'q-mx-sm': 'q-gutter-sm']">
    <div class="col-12">
      <p class="text-center text-h6 text-primary q-mb-none" v-if="copy.title">
        {{ copy.title }}
      </p>
    </div>
    <div v-for="(product,i) in products" class="col-lg-2 col-md-4 col-sm-5 col-xs-6"
         :class="[ $q.screen.lt.sm ? 'q-pa-xs': '']">
      <Productlet :product="product"/>
    </div>
  </div>
</template>

<script>
  import {get} from "src/service/product.service";

  export default {
    name: "ProductletContainer",
    components: {
      Productlet: () => import( "src/components/Entities/Product/Productlet" )
    },
    props: {
      limit: { type: Number, default: 8 },
      id_category: { type: Number, default: null },
      copy: { type: Object, default: () => { return { title: 'Ganhe Credibens e troque por Produtos e Vales-Compras!' }; } }
    },
    data() {
      return {
        products: null
      }
    },
    mounted() {
      let filters = [ { name: 'limit', value: this.limit } ];
      if( this.id_category )
        filters.push( { name: 'id_category', value: this.id_category } );

      get( null,filters ).then( data => {
        if( data.length )
          this.products = data;
      });
    }
  }
</script>

<style scoped>

</style>
