<template>
  <div>
    <q-card class="my-card" flat bordered>
      <img
        :src="`${$assets.url}${value.image_name}`" :alt="value.image_desc"
      />

      <!-- offer label -->
      <template v-if="value.offer_crypto">
        <div class="absolute">
          <q-chip color="purple-8" size="md" text-color="white" class="offer-label no-border-radius" v-html="value.offer_label">
          </q-chip>
        </div>
      </template>
      <!-- favorite -->
      <q-btn
        round flat unelevated :size="$q.screen.gt.sm ? 'sm' : 'xs'"
        :text-color="value.favorited ? 'secondary' : 'secondary'"
        :icon="value.favorited ? 'fas fa-heart' : 'far fa-heart'"
        class="absolute action-favorite bg-white"
        @click="favorite" :loading="favoriteButtonLoading"
      />
      <q-card-section>
        <div class="text-h5 text-primary q-mt-sm q-mb-xs">{{value.label}}</div>
        <div class="text-subtitle2 text-light-blue-14 q-mt-sm">
          <img src="img/tudobem-logo-moeda-rosa-32.png" style="height: 14px" class="q-mr-xs" />
          <span v-html="getCryptoPrice"/> Credibens
        </div>
        <template v-if="value.cta">
          <div class="q-mt-sm text-center">
            <q-btn v-if="value.cta.type === 1" :flat="value.cta.flat" :label="value.cta.label"
                   @click="doCtaAction" :style="{ 'background-color' : value.cta.color }" class="text-white" :size="$q.screen.lt.md ? 'sm': 'md'" />
          </div>
        </template>
        <!-- whatsapp -->
        <q-btn
          round unelevated :size="$q.screen.gt.sm ? 'lg' : 'sm'" color="green-5"
          icon="fab fa-whatsapp" class="absolute action-share-whatsapp"
          type="a" target="_blank" @click="onWhatsapp"
        />
        <!-- facebook -->
        <q-btn
          round unelevated :size="$q.screen.gt.sm ? 'lg' : 'sm'" color="blue-7" icon="fab fa-facebook-f" class="absolute action-share-facebook"
          @click="onFacebook"
        />
      </q-card-section>
      <q-card-actions>
        <q-btn :loading="exchanging" flat dense color="red" label="trocar" class="text-lowercase" @click="exchange" />
        <q-space />

        <q-btn
          :color="expanded ? 'grey':'secondary'" flat dense
          label="saiba mais" class="text-lowercase"
          @click="expanded = !expanded"
        />
      </q-card-actions>

      <q-slide-transition>
        <div v-show="expanded">
          <q-separator />
          <q-card-section class="text-body2 text-blue-grey-14" v-html="getDesc"/>
        </div>
      </q-slide-transition>
    </q-card>

    <q-dialog v-model="shareDialog" full-width>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-caption">Ganhe Mais Credibens...</div>
          <q-space />
          <q-btn icon="fas fa-times" flat round dense v-close-popup size="10px" color="blue-grey-5" />
        </q-card-section>
        <q-card-section>
          <p class="text-blue-grey-14 text-body1 text-center">
            Compartilhe e Ganhe <b class="secondary">{{$settings.memberGetMember}} Credibens</b> a cada novo BemFeitor que entrar com seu Link.
          </p>
          <div class="row">
            <div class="col-12 q-gutter-sm q-my-xs text-center">
              <q-btn unelevated color="blue-7" icon="fab fa-facebook-f" @click="onFacebook"/>
              <q-btn unelevated color="green-7" icon="fab fa-whatsapp" @click="onWhatsapp"/>
            </div>

            <div class="col-12 q-gutter-sm q-my-xs text-center">
              <q-btn unelevated color="positive" @click="onShareableLink" label="pegar meu Link de Bemfeitor"/>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
  import { favorite, exchange } from "src/service/product.service";
  import { secureStorage } from "src/api/crypt";
  import {copyToClipboard} from "quasar";

  export default {
    name: "Product",
    components: {},
    props: {
      value: { type: Object, required: true }
    },

    data()
    {
      return {
        expanded: false,
        exchanging: false,
        favoriteButtonLoading: false,
        shareDialog: false,
        user: { signedin: false, hasAccount: false, data: {} },
      }
    },

    computed:
    {
      getCryptoPrice()
      {
        return this.value.offer_crypto ?
          `de <span class="text-strike text-negative text-weight-regular">${this.value.crypto}</span> por <b class="text-positive">${this.value.offer_crypto}</b>` :
          `<b class="text-positive">${this.value.crypto}</b>`;
      },

      getDesc()
      {
        return this.value.offer_crypto ?
          this.value.description+ `<br /><br /><span class="text-light-blue-14">Sobre a Oferta</span>:<br />`+this.value.offer_desc :
          this.value.description;
      }
    },

    mounted()
    {
      this.user.data = secureStorage.getItem( 'yzr' );
      this.user.hasAccount = JSON.parse( localStorage.getItem( 'hasAccount' ) );
      if( this.user.data )
        this.user.signedin = true;

      if( this.value.cta !== null )
        this.value.cta = JSON.parse( this.value.cta );
    },

    methods:
    {
      doCtaAction()
      {
        if( this.user.signedin ){
          this.$analytics.logEvent( 'select_content', { content_type: 'product', content_id: this.value.id } );
          window.open( this.value.cta.link, '_blank' );
        }
        else{
          this.openProperDialog();
        }
      },

      favorite()
      {
        if( this.user.signedin ){
          let favorited = !this.value.favorited;
          let id = this.value.id;
          this.favoriteButtonLoading = true;
          favorite( { id, favorited } ).then( responseData => {
            this.value.favorited = favorited;
            this.favoriteButtonLoading = false;
            let message = `Produto ${this.value.label}`;

            this.$q.notify({
              type: favorited ? 'positive' : 'negative',
              message : favorited ? message+' incluído em seus favoritos' : message+ ' retirado dos seus Favoritos',
              html: true
            });
            if( favorited )
              this.$analytics.logEvent( 'add_to_wish_list', { item_name: this.value.slug, item_category: `product-${this.value.category_slug}` });
          })
            .catch( error => this.$q.notify({ type:'negative', message: 'Infelizmente, houve um erro e não pudemos completar a Solicitação de Favorito'}));
        }
        else
          this.openProperDialog();
      },

      exchange()
      {
        if( this.user.signedin ){
          let userCryptos = this.user.data.data.credits.crypto;
          let priceInCryptos = this.value.offer_crypto || this.value.crypto;
          if( userCryptos > priceInCryptos ){
            this.exchanging = true;
            exchange({ id_product: this.value.id }).then( res => {

              if( res.ok ){
                this.exchanging = false;
                this.$store.dispatch('guard/setCredits', { crypto: res.crypto, crypto_org: this.user.data.data.credits.crypto_org } );
                this.$q.notify({
                  type: 'positive',
                  message :  'Seu Pedido de troca foi  <b>Efetuado com Sucesso</b>, <br />Mantenha seus dados atualizados, nossa equipe entrará em Contato em Breve.',
                  html: true
                });
              }

            }).catch( error => {
              this.$q.notify({
                type: 'negative',
                message :  '<b>Pedimos Perdão</b>. Infelizmente houve um erro e sua solicitação não pôde ser concluída',
                html: true
              });
            });
          }
          else {
            this.shareDialog = true;
            setTimeout( () => this.shareDialog = false, 15000 );
          }
            /*this.$q.notify({
              color: 'white',
              textColor: 'primary',
              caption: 'Saldo Insuficiente para Troca.',
              message: 'Realize BemFeitorias para ganhar Credibens e trocar pelos seus Produtos favoritos',
              timeout: 10000,
              position: 'center',
              actions:[
                { label: 'Visite o Carrossel de Ofertas', color: 'positive', handler: () => { this.$router.push({'name': 'offerwall'})} },
                { label: 'Responda Pesquisas', color: 'positive', handler: () => { this.$router.push({'name': 'comenta'})} },
                { label: `compartilhe no facebook e ganhe ${this.$settings.socialMgm} Credibens`, color: 'positive', handler: () => { this.onFacebook(); } },
                { label: `compartilhe no whatsapp e ganhe ${this.$settings.socialMgm} Credibens`, color: 'positive', handler: () => { this.onWhatsapp(); } }
              ],
              html: true
            });*/
        }
        else
          this.openProperDialog();
      },

      openProperDialog()
      {
        if( this.user.hasAccount ){
          this.$emit( 'show-signin',{ entity: this.value, text: 'Entre, Faça BemFeitorias, Ganhe e espalhe o Bem!' } );
        }
        else{
          this.$emit( 'show-signup',{ entity: this.value, text: 'Faça seu Cadastro, Ganhe Créditos e Vales-Compras para trocar por este e muitos outros Produtos!' } )
        }
      },
      getResolvedFullURL( route )
      {
        let fURL = window.location.protocol+'//'+window.location.hostname+''+this.$router.resolve({ name: route, params: { slug: this.value.slug } }).href;
        return fURL;
      },

      onFacebook()
      {
        let href = this.getResolvedFullURL( 'produtos' );
        this.$social.onFacebook({
          method: 'share', href: href,
          quote: this.value.label+' : '+this.value.description, hashtag: '#tudobem #produtosgratis #fazerobem #correntedobem #fazerobemganhartambém #produtosdobem #'+this.value.slug
        })
        .then( response => {
          console.log( 'facebook response', response );
          this.$analytics.logEvent( 'share', { content_type: `product-facebook-${this.value.id}`, content_id: this.value.slug});
        });
      },

      onWhatsapp()
      {
        let env = this.$q.screen.lt.md ? 'api' : 'web';
        let quote = window.encodeURIComponent( 'Fazer o Bem não custa nada e você ainda pode ganhar Prêmios e Produtos Grátis: *'+this.value.label+'* -> ');
        let  href = this.getResolvedFullURL( 'produtos' );
        this.$social.getWhatsappUrl({ quote, env, href });
        this.$analytics.logEvent( 'share', { content_type: `product-whatsapp-${this.value.id}`, content_id: this.value.slug});
      },

      onShareableLink()
      {
        copyToClipboard(this.$social.getUserAffiliateLink({token: this.$store.state.guard.user.token}))
          .then(() => {
            let message = 'Link de BemFeitor Copiado. Cole em suas Redes Sociais e Grupos de Amigos e ganhe '+this.$settings.memberGetMember+' Credibens a cada novo BemFeitor';
            this.$q.notify({
              message,
              position: 'bottom',
              'color': 'positive'
            })
          }).catch( error => {});
      }
    }
  }
</script>

<style scoped>
  p{ margin: 0 0 0 0;}

  .offer-label{
    top: -15px; left: -8px;
  }
  .action-favorite{
    top: 20px; right: -35px; transform: translate(-180%, -50%);
  }

  .action-share-whatsapp{
    top: 0; right: 12px; transform: translate(-120%, -50%);
  }

  .action-share-facebook{
    top: 0; right: 12px; transform: translate(0%,-50%);
  }
  .action-share-messenger{
    top: 0; right: 12px; transform: translate(-120%, -50%);
  }
  .badge-timeout{
    top: 0; left: 12px; transform: translate(0%,-50%);
  }
</style>
