<template>
  <!-- here begins the Offer Component-->
  <q-card bordered flat>
    <q-img :src="$assets.url+product.image_name" :ratio="14/9" spinner-color="primary" spinner-size="40px">
    </q-img>

    <q-card-section class="q-pt-xs text-center drop-padding">
      <!-- offer Header -->
      <p class=" text-secondary text-caption q-ma-sm"
         :style="$q.screen.lt.md ? 'font-size: 15px;' : 'font-size: 23px'">{{product.label}}</p>
      <q-btn unelevated :size="$q.screen.lt.md ? 'sm': 'lg'" color="positive" label="eu quero"
             @click="accept" class="q-mb-sm" :class="$q.screen.lt.md ? '' : 'q-mt-sm'" />
    </q-card-section>

  </q-card>
</template>

<script>
  import {mapActions} from 'vuex';
  /**
   * Offer Entity Component
   */
  export default {
    name: "Productlet",
    props: {
      product: { type: Object, required: true }
    },
    data() {
      return {
        user: null
      }
    },
    components: {},

    mounted() {
      this.isAuthenticated().then(uzr => {
        this.user = uzr;
      });
    },
    methods: {
      accept() {
        if ( this.user ) {
          this.$router.push({ name: 'produtos', params:{ slug: this.product.slug } });
        }
        else{
          let y = this.$q.screen.gt.sm ? 0 : 200;
          scrollTo(0,y );
        }
        this.$analytics.logEvent( 'select_content', { content_type: 'productlet', content_id: this.product.id } );
      },

      next() {
      },

      ...mapActions('guard', ['isAuthenticated'])
    }
  }
</script>

<style scoped>
  .drop-padding{
    padding: 0 !important;
  }
</style>
