// app global css
body
  font-family: 'Rubik', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

.q-table th
    opacity:1 !important
    font-size:16px

p.notify
  font-size:18px

.bg-tudobem
  background:$bgtudobem !important

/* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'),
    url('./fonts/rubik-v9-latin-300.woff2') format('woff2')
}
/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'),
    url('./fonts/rubik-v9-latin-regular.woff2') format('woff2')
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'),
    url('./fonts/rubik-v9-latin-500.woff2') format('woff2')
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'),
    url('./fonts/rubik-v9-latin-700.woff2') format('woff2')
}
