<template>
  <q-page padding>
    <h5 class="text-primary text-center q-my-sm">
      <q-icon name="fas fa-dove" />
      {{ title }}
    </h5>
    <p class="text-subtitle1 text-blue-grey-14 text-center">
      Seja um dos nossos <span class="text-primary text-weight-bold">{{ title }}</span>.
    </p>
    <p class="text-subtitle2 text-blue-grey-14 text-center">
      Quanto mais Moedas do Bem você ganhar, Instituições que fazem a Diferença também ganham. Ajude a melhorar
      a vida de muitas crianças, adultos, idosos e pets em situação de vulnerabilidade social.
      Você ganha e ajuda muitas pessoas também! <br>
      É muito simples ganhar mais Moedas do Bem.
    </p>
    <p class="text-center">
      <q-btn class="text-capitalize" color="secondary" unelevated label="Entenda como Funciona" :to="{ name:'como_funciona' }" />
    </p>

    <h6 class="text-secondary text-center q-my-sm">
      Torne-se um Anjo, entre para a nossa História e seja Abençoado com um de nossos Prêmios Incríveis!
    </h6>

    <div class="row">
      <div class="col-12 items-center">

        <q-carousel
          v-model="slide"
          keep-alive
          transition-prev="jump-right"
          transition-next="jump-left"
          infinite
          animated
          control-color="positive"
          padding
          arrows
          class="text-primary shadow-none rounded-borders"
          :style="[ $q.screen.lt.sm ? 'height:400px' : 'height:500px' ]"
        >
          <q-carousel-slide v-for="(gift, i) in gifts" :key="i" :name="i" class="column no-wrap flex-center">
            <p class="text-body1 text-positive text-weight-bold">
              {{ gift.place }}
            </p>
            <q-img :src="gift.img" style="max-width: 600px;" />
            <p class="q-mt-md q-mb-none text-center">
              {{ gift.desc }}
            </p>
            <div class="q-gutter-x-sm q-my-sm ">
                <q-btn icon="fab fa-facebook-f" unelevated color="blue-10" class="q-px-sm" />
                <q-btn icon="fab fa-whatsapp" unelevated color="green" class="q-px-sm" />
            </div>

          </q-carousel-slide>

        </q-carousel>
        <div class="row justify-center q-my-sm">
              <q-btn-toggle
                glossy
                v-model="slide"
                :options="gifts.map( (item, i) => ( { label: item.place, value : i } ) )"
              />
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <h6 class="q-my-sm text-secondary">
          Para ganhar mais Moedas do Bem, basta fazer algumas das ações abaixo:
        </h6>
      </div>
      <div class="col-12 q-gutter-sm">
        <q-btn label="convide seus amigos" icon="fas fa-user-plus" size="lg" unelevated class="bg-green-8 text-white" style="min-width: 360px;" /><br>
        <q-btn label="espalhe o bem" icon="fas fa-heart" size="lg" unelevated class="bg-secondary text-white"  style="min-width: 360px;"/> <br>
        <q-btn label="Comente sobre Produtos" icon="far fa-address-card" size="lg" unelevated class="bg-primary text-white"  style="min-width: 360px;"/> <br>
        <q-btn label="complete o seu perfil" icon="far fa-address-card" size="lg" unelevated class="bg-amber-10 text-white"  style="min-width: 360px;"/>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <h6 class="q-my-sm text-secondary">
          Ranking Anjos de Setembro
        </h6>
        <p class="text-primary">você pode mudar isso :)</p>
      </div>
      <div class="col-12">
        <AnjosDoMes :title="title" />
      </div>
    </div>
  </q-page>
</template>

<script>
  import DateTime from "../../service/Helpers/Formatter/DateTime";
  import { QCarousel,QCarouselControl, QCarouselSlide, QBtnToggle } from 'quasar';
  import AnjosDoMes from "../../components/Entities/Ranking/AnjosDoMes";
export default {
  name: 'Anjos',
  components:{
      AnjosDoMes
  },
  data(){
      return {
          title: 'Anjos de '+DateTime.getCurrentMonth(),
        slide: 0,
        gifts: [
          {
            id: 1,
            place: '1º Lugar',
            desc: 'Celular Samsung S10 + R$ 50,00 em Créditos'
            , img: '/app-logo-128x128.png'
          },
          {
            id: 2,
            place: '2º Lugar',
            desc: 'Laptop Dell i9 SSD 16GB de RAM'
            , img: 'https://cdn.quasar.dev/img/mountains.jpg'
          },
          {
            id: 3,
            place: '3º Lugar',
            desc: 'Kit Completo de Maquiagem e Tratamento Pele Unhas e Cabelos'
            , img: 'https://cdn.quasar.dev/img/parallax2.jpg'
          }
        ]
      };
  },
  methods:{

  }
}
</script>

<style>
</style>
