<template>
  <q-page padding>
    <Hat title="Anjos Bemfeitores" sub-title="Realize BemFeitorias, ganhe Credibens e entre para a História como um Anjo BemFeitor" />

    <div class="row">
      <div class="col-12">
        <AngelGifts :gifts="gifts" />
      </div>
      <div class="col-12">
        <h6 class="q-my-sm text-secondary text-center">
          {{ getTitle }}
        </h6>
      </div>
      <div class="col-12">
        <AnjosDoMes :angels="angels" />
        <p class="text-primary text-center q-mt-sm">Realize BemFeitorias e entre para a nossa História!</p>
      </div>
    </div>
  </q-page>
</template>

<script>
import Hat from "src/components/sections/general/Hat";
import DateTime from "src/service/Helpers/Formatter/DateTime";
import AnjosDoMes from "src/components/Entities/Ranking/AnjosDoMes";
import AngelGifts from "src/components/Entities/Ranking/AngelGifts";
import { get } from 'src/service/angel.service';
export default {
  name: 'AnjosBemfeitores',
  components: { AnjosDoMes, AngelGifts, Hat, DateTime},
  data()
  {
    return {
      angels: null, gifts: null
    }
  },
  computed:
  {
    getTitle()
    {
      return 'Anjos de '+DateTime.getCurrentMonth();
    }
  },

  mounted()
  {
    get().then( data => {
      this.angels = data.angels;
      this.gifts  = data.gifts;
    });
  }
}
</script>

<style>
</style>
