<template>
  <q-page padding>
    <template v-if="firstTime">
      <HeaderHat />
    </template>
    <!-- Formas de Ganhar -->
    <div class="row">

      <!--<div class="col-12">
        <q-btn label="Nossa Missão" @click="goToRef('missao')" outline color="blue" class="text-lowercase" size="sm" />
      </div>-->
      <div class="col-12">
        <p class="text-primary text-h6 text-center">
          Como Ganhar com o Tudobem
        </p>
        <!--<p class="text-blue-grey-14 text-body2">
          <span class="text-secondary text-weight-medium">Quanto mais BemFeitorias você realiza, mais você recebe Recompensas ao mesmo Tempo em que ajuda a fazer o Bem</span>. Saiba agora o que você precisa fazer para Ganhar!
        </p>-->
      </div>
      <div class="col-12 text-center">
        <q-img src="bemfeitorias.png" style="max-width: 800px;" class="rounded-borders" />
      </div>
      <div class="col-12">
        <p class="text-secondary text-subtitle1 text-center">Campanhas do Bem</p>
        <!--<p class="text-blue-grey-14 text-body2">
          Nosso Parceiros disponibilizam Campanhas de Produtos e Serviços. Ao se cadastrar ou contratar, você receberá Credibens e outra quantidade doamos à sua ONG Favorita.
        </p>-->
        <p class="text-blue-grey-14 text-body2">Esta é a Forma que mais gera Recursos para Premiar você, nosso Membro BemFeitor e para arrecadar fundos para Doar.</p>
        <p class="text-blue-grey-14 text-body2">Abaixo, uma imagem explicativa dos indicadores de Recompensas das Campanhas do Bem:</p>
        <q-img src="img/welcome/indicadores_credibens.png" style="max-width: 500px;" class="cursor-pointer" @click="$router.push({ name: 'offerwall'})" />
        <p class="text-blue-grey-14 text-body2 text-center q-mt-sm">
          <q-btn :to="{ name: 'offerwall'}" push color="positive" label="acessar campanhas do bem" />
        </p>

        <p class="text-secondary text-subtitle1 text-center">Pesquisas de Opinião</p>
        <p class="text-blue-grey-14 text-body2">
          As Pesquisas de Opinião são a Ferramenta para você dizer o que pensa a respeito de vários assuntos, como melhorar e até mesmo desenvolver novos produtos e serviços.
        </p>
        <p class="text-blue-grey-14 text-body2">
          Enviamos um email para você. Valide o seu Cadastro e Desbloqueie as Pesquisas Remuneradas.
        </p>
        <p class="text-body text-bold text-secondary">Ao Completar uma Pesquisa, você Ganha Credibens e o Aplicativo doa a Causas Sociais também.</p>
        <!--<p class="text-blue-grey-14 text-body2 text-center">
          <q-btn type="a" :to="{ name: 'comenta'}" unelevated color="positive" label="acessar pesquisas" />
        </p>-->

        <p class="text-blue-grey-14 text-body2 text-center">
          Ative as Notificações para Receber Avisos sobre Novas Pesquisas e Campanhas.
        </p>
        <p class="text-blue-grey-14 text-body2 text-center">
          <q-btn @click="pushStatus.ask ? askToPushNotification() : ()=>{}" unelevated :color="pushStatus.ask ? 'positive' : 'blue-grey-14'" :label="pushStatus.message" :disable="!pushStatus.ask" />
        </p>

        <p class="text-secondary text-subtitle1 text-center">Compartilhando</p>
        <p class="text-blue-grey-14 text-body2">Criamos um <b class="text-primary">Link de BemFeitores</b> para você!</p>
        <p class="text-blue-grey-14 text-body2"><span class="text-secondary text-weight-medium">Compartilhe seu Link em suas Redes Sociais.</span> Toda vez que alguém acessar o Tudobem e se tornar um Membro usando o seu Link, <b class="text-secondary">Você ganha {{$settings.memberGetMember}} Credibens!</b></p>
        <SocialButtons />

        <p class="text-secondary text-subtitle1 text-center">Produtos para Testar ( Produtos do Bem )</p>
        <p class="text-blue-grey-14 text-body2">
          Ocasionalmente, realizamos Campanhas para distribuir Produtos para Testar.</p>
        <p class="text-blue-grey-14 text-body2">Para concorrer, basta acessar a Campanha e manifestar o seu Interesse pelo Produto.</p>
        <p class="text-blue text-body2 text-weight-medium">Enviamos um Email para você, Acesse e valide o seu cadastro.</p>
      </div>
    </div>
<!--    Missão -->
    <div class="row">
      <div class="col-12">
        <p class="text-primary text-h6 text-center" ref="missao">
          Nossa Missão
        </p>
      </div>
      <div class="col-12">
        <p class="text-secondary text-h6 text-weight-bold text-center">
          Sim, todos os valores que geramos São Revertidos em Doações!
        </p>
        <p class="text-body2 text-blue-grey-14">
          Acreditamos na Bondade das Pessoas. E nossa Missão é fazer a Diferença na vida das Pessoas principalmente das que mais precisam da nossa ajuda.
        </p>
        <p class="text-blue-grey-14 text-body2">
          Todos nós gostamos de ganhar Presentes e Prêmios. O Tudobem é a forma que encontramos para cumprir com o Propósito de <b class="text-secondary">Ajudar quem precisa</b> e <b class="text-primary">Recompensar quem Ajuda</b>.
        </p>
        <p class="text-blue-grey-14 text-body2 text-center">
          <q-btn type="a" :to="{ name: 'ong'}" unelevated color="positive" label="eleger minha ong favorita" />
        </p>
        <p class="text-blue-grey-14 text-body2">
          Todas as Atividades no site são Formas de gerar valores para ser destinados aos Projetos Sociais que cuidam de pessoas e animais sob risco e vulnerabilidade social.
        </p>

        <p class="text-blue-grey-14 text-body2">
          Elaboramos tudo para que nossos Membros possam ajudar apenas realizando <b class="text-secondary">BemFeitorias</b>, que é o nome dado às Atividades
          realizadas no Tudobem.
        </p>
        <!--<p class="text-blue-grey-14 text-body2">
          Se alguma atividade envolva doar diretamente ou a aquisição paga de algum produto/serviço, é de sua livre escolha realizar as atividades pagas ou não.
        </p>-->
      </div>
      <!-- thank you -->
      <div class="col-12 text-center">
        <p class="text-secondary text-subtitle1 text-weight-bold">
          Obrigado
        </p>
        <p class="text-body2 text-secondary text-weight-medium">
          por estar junto com a Gente neste Propósito!
        </p>
        <q-img src="img/lucio/lucio-pequeno.png" width="80px" />
        <p class="text-blue-grey-14 text-body2 text-center">
          <q-btn type="a" :to="{ name: 'offerwall'}" unelevated color="positive" label="começar" />
        </p>
      </div>
    </div>
  </q-page>
</template>

<script>

import SocialButtons from "../../components/Social/SocialButtons";
import { requestPushPermission, getPermissionStatus } from "src/service/firebase/fcm.service";

export default {
  name: 'BoasVindas',
  components: {
    SocialButtons,
    HeaderHat: () => import( 'src/components/sections/home/HeaderHat')
  },
  data() {
    return {
      title: 'Boas Vindas',
      firstTime: true,
      pushStatus: { ask: false },
    };
  },
  mounted() {
    this.firstTime = JSON.parse( localStorage.getItem('firstTime') );
    if ( this.firstTime )
      localStorage.setItem( 'firstTime', null);
    fbq('track', 'PageView', { content_name: 'welcome' });
    this.pushStatus = getPermissionStatus();
  },
  methods: {
    askToPushNotification()
    {
      requestPushPermission();
      this.pushStatus.ask = false;
    },
    goToRef( ref )
    {
      window.scrollTo(0, this.$refs[ ref ].offsetTop );
    }
  }
}
</script>

<style>
</style>
