<template>
  <q-page>
    <!-- banner testing element -->
    <!--<div class="row justify-center q-mt-sm q-mx-sm" :class="[ $q.screen.lt.sm ? '': 'q-gutter-sm']">
      <div class="col-12 text-center">
        <q-img :src="$assets.url+'img/promotion/avon_mini_banner.jpg'" @click="openTab('https://trck.venddi.digital/trackr/clk/u1id/538b1d04f79e5f99/pc/22/trck/39')" class="cursor-pointer" title="promoção avon 10% de desconto" style="max-width: 320px;"></q-img>
      </div>
    </div>-->
    <!-- end banner -->
    <div class="row justify-center q-mt-sm q-mx-sm" :class="[ $q.screen.lt.sm ? '': 'q-gutter-sm']">
      <div class="col-12">
        <p class="text-primary">
          Oi {{ user.name.split( ' ' )[0] }}, #tudobem?
        </p>
        <template v-if="credits.crypto < 1">
          <p>
            Você ainda não possui Credibens.
          </p>
          <p>
            Acesse o seu Email, <b class="text-red-7">Valide o Seu Cadastro</b>, Ganhe 5 Credibens e Desbloqueie sua Primeira Pesquisa para começar a <b class="text-red-7">Ganhar Produtos e Presentes</b>.
          </p>
        </template>
        <template v-else>
          <p>
            Você tem <b class="text-secondary">{{ credits.crypto }} Credibens</b>, Realize BemFeitorias para ganhar mais Credibens!
          </p>
        </template>

      </div>
      <!--<div class="col-lg-3 col-md-5 col-sm-9 col-xs-12">
        &lt;!&ndash; Main Highlight attribute &ndash;&gt;
        <Highlight :attributes="highlightAttributes" />
      </div>-->
    </div>

    <!-- Banners Campanhas do Bem -->
    <RectangleContainer :limit="6" />

    <div class="row justify-center q-my-xs" :class="[ $q.screen.lt.sm ? 'q-mx-sm': 'q-gutter-sm']">
      <!-- secondary highlighting items -->
      <template v-if="coverImgCards" v-for="cover in coverImgCards">
        <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12" :class="[ $q.screen.lt.sm ? 'q-mt-sm': '']">
          <CoverImg :attributes="cover" />
        </div>
      </template>
      <!-- third highlighting items -->
      <!--<template v-if="coverCards" v-for="card in coverCards">
        <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12 q-mt-sm">
          <CoverCard :attributes="card" />
        </div>
      </template>-->
      <!--<div class="col-lg-3 col-md-4 col-sm-9 col-xs-12" :class="[ $q.screen.lt.sm ? 'q-mt-sm': '']">
        <Rectangle :id-offer="18" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12" :class="[ $q.screen.lt.sm ? 'q-mt-sm': '']">
        <Rectangle :id-offer="10" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-9 col-xs-12" :class="[ $q.screen.lt.sm ? 'q-mt-sm': '']">
        <Rectangle :id-offer="17" />
      </div>-->

    </div>
<!--    <ProductletContainer :copy="{ title: 'Realize BemFeitorias e Ganhe Grátis Produtos e Vales-Compra'}" :limit="8" />-->
    <div v-html="html" style="display: none;"></div>
  </q-page>
</template>

<style>
</style>

<script>
// import ProductletContainer from "src/components/Entities/Product/ProductletContainer";
import {mapState} from "vuex";
import RectangleContainer from "src/components/Entities/Display/Banner/RectangleContainer";
import { openTab } from "src/service/marketing.service";

export default {
  name: 'Home',

  components:{
    RectangleContainer,
    CoverCard: () => import( "src/components/sections/home/CoverCard" ),
    CoverImg:  () => import( "src/components/sections/home/CoverImg" ),
    HeaderHat: () => import( "src/components/sections/home/HeaderHat" ),
    Highlight: () => import( "src/components/sections/home/HighlightGrid" ),
    OfferletContainer: () => import( "src/components/Entities/OfferWall/OfferletContainer" )
  },
  computed:{
    ...mapState({
      credits: store => store.guard.credits,
      user: store => store.guard.user
    })
  },
  data()
  {
    return {
      html: '',
      highlightAttributes:
      {
        img: { src: 'img/app/carrossel_7.png', alt: 'Carroussel de Ofertas do Bem', side: 1 },
        actions: { to: { name: 'offerwall' }, label: 'acessar campanhas', color: 'positive' },
        text: {
          title: 'Campanhas do Bem',
          body: 'Ganhe Credibens e Troque por Cartões-Presente com até 500,00 em Créditos e Produtos!'
        }
      },
      coverImgCards:[
        {
          justify: 1,
          img: { src: 'img/app/doacoes.png', alt: '', transparency: true },
          actions: { to: { name: 'ong', params: { from: 'home' } }, label: 'Escolha sua ONG', color: 'positive' },
          text: {
            title: 'Sua ONG Favorita',
            body: 'Conheça as ONGs apoiadas e escolha a sua favorita'
          }
        },
        /*{
          justify: 0,
          img: { src: 'img/app/produtosdobem_2.png', alt: '', transparency: true },
          actions: { to: { name: 'comenta' }, label: 'Você Comenta', color: 'positive' },
          text: {
            title: 'Comente e Ganhe',
            body: 'Opine sobre produtos e Marcas e ganhe Credibens para trocar por presentes'
          }
        },*/

        {
          justify: 1,
          img: { src: 'img/app/presente.png', alt: '', transparency: true },
          actions: { to: { name: 'produtos' }, label: 'Produtos Grátis', color: 'positive' },
          text: {
            title: 'Produtos do Bem',
            body: 'Conheça os Produtos que você pode trocar pelos seus Credibens!'
          }
        }
        /*,{
          justify: 0,
          img: { src: 'img/app/anjos_bemfeitores_3.png', alt: '',transparency: true },
          actions: { to: { name: 'bemfeitores' }, label: 'confira os prêmios', color: 'positive' },
          text: {
            title: 'Anjos BemFeitores',
            body: 'BemFeitores Ganham Prêmios todo Mês e entram para a nossa História'
          }
        }*/
      ],
      coverCards: [
        {
          text: { title: '#promodobem', body: 'Conheça as Promoções de várias Marcas e como você pode ganhar com elas.' },
          actions: { label: 'ver promoções', to: { name: 'promodobem' } }
        }
      ]
    };
  },

  created() {
    fbq( 'track', 'PageView', { content_name: 'home' } );
  },

  methods: {
    openTab: openTab
  }
}
</script>
