<template>

</template>

<script>
  import Vue from 'vue';
    export default {
        name: "logout",
      created() {
        this.$store.dispatch('guard/logout');
        this.$router.push({ name: 'login' });
      }
    }
</script>

<style scoped>

</style>
