<template>
  <q-page padding>
    <Hat title="Campanhas do Bem"/>

    <div class="row justify-center">
      <div v-if="!ui.showThankYouView" class="col-lg-4 col-md-5 col-sm-9 col-xs-12"
           :class="[ $q.screen.lt.md ? 'q-mb-sm': '' ]">

        <q-carousel animated
                    v-model="ui.currentOfferIndex"
                    transition-prev="fade"
                    transition-next="fade"
                    height="100%"
                    ref="offerwall">

          <template v-if="offers" v-for="(offer, i) in offers">
            <q-carousel-slide :name="i" :key="i">
              <Offer :offer="offer" :hash="hash" @next="next"/>
            </q-carousel-slide>

          </template>
        </q-carousel>

      </div>
      <div v-if="ui.showThankYouView" class="col-lg-4 col-md-5 col-sm-9 col-xs-12 text-center"
           :class="[ $q.screen.lt.md ? 'q-mb-sm': '' ]">
        <p class="text-h6 text-positive">Obrigado</p>
        <img src="img/lucio/lucio-pequeno.png" height="200px"/>
        <p class="text-subtitle1 text-secondary">Suas ações renderão Credibens para:</p>

        <div class="row q-mb-xs text-center">
          <div class="col-12 q-mb-sm">
            <q-btn
              unelevated color="primary"
              label="trocar por Produtos Grátis"
              :to="{ name: 'produtos' }"
              :class="$q.screen.lt.md ? 'full-width' : ''"/>
          </div>

          <div class="col-12 q-mb-sm">
            <!--            <q-btn unelevated color="secondary" label="apoiar quem precisa" :class="$q.screen.lt.md ? 'full-width' : ''" />-->
            <p class="text-subtitle1 text-secondary">Ações que impactam Vidas</p>
          </div>
          <div class="col-12">
            <p class="text-blue-grey-8">
              Todas as suas ações reservam Credibens para você e também para <b class="text-positive">Doações a ONGs</b>
              que verificadamente promovem <b>Ações e Obras</b> voltadas a ajudar Vidas em situação de Vulnerabilidade
              Social.
            </p>
          </div>

          <div class="col-12">
            <p class="text-secondary text-subtitle1 text-center">Compartilhe, Ganhe Credibens!</p>
            <p class="text-blue-grey-8 text-body2 q-mb-none">
              A cada novo Membro que se cadastrar usando o seu <b class="text-accent">Link de BemFeitor</b>, você ganha
              <b class="text-primary">{{ $settings.memberGetMember }} Credibens</b>
              e outros <b class="text-secondary">{{ $settings.socialMgm }} Credibens</b> serão reservados para uma
              Instituição Beneficente
              de sua escolha.
            </p>
          </div>
        </div>
        <SocialButtons/>
        <div class="row q-mt-md text-center">
          <div class="col-12 q-mb-sm">
            <q-btn
              unelevated color="green"
              icon="fas fa-home"
              label="home"
              :to="{ name: 'home' }"
              :class="$q.screen.lt.md ? '' : ''"/>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import {get, finish} from 'src/service/offerwall.service';
import {copyToClipboard} from 'quasar';
import Hat from "src/components/sections/general/Hat";
import SocialButtons from "src/components/Social/SocialButtons";

export default {

  name: 'Offerwall',
  components: {
    SocialButtons,
    Hat,
    Offer: () => import( 'src/components/Entities/OfferWall/Offer' )
  },
  data() {
    return {
      user: null,
      ui: {currentOfferIndex: 0, showThankYouView: false, thankYouViewProps: {crypto: {user: 300, ong: 250}}},
      offers: null,
      hash: null
    }
  },

  methods:
    {
      next(data) {
        if ((this.offers.length - 1) > this.ui.currentOfferIndex)
          this.$refs.offerwall.next();
        else {
          this.ui.showThankYouView = true;
          finish({hash: this.hash});
          this.$analytics.logEvent(this.$analytics.SCREEN_VIEW, {
            'screen_name': 'offerwall_thankyou',
            'transaction_id': this.hash
          });
        }
      }
    },

  mounted() {
    let query = this.$route.params;

    get({limit: 20, ...query}).then(data => {

      if (data.offers.length) {
        this.offers = data.offers;
        this.hash = data.ow_hash;
      } else {
        this.ui.showThankYouView = true;
      }
    });
  }
}
</script>

<style scoped>
.q-carousel__slide, .q-carousel .q-carousel--padding {
  padding: 0;
}

</style>
