<template>
  <q-page padding>
    <Hat title="ONGs e Projetos Apoiados" sub-title="Quando você ganha Credibens, ONGs e Projetos também ganham Credibens que são revertidos em Doações em Dinheiro para apoiar Projetos Sociais" />

    <div class="row">
      <div class="col-12">
        <p class="text-body1 text-center text-secondary">
          Compartilhe o Tudobem em suas redes Sociais e incentive os seus Amigos a fazer o Bem também.
          <br/> A cada novo membro, <b>você ganha {{$settings.memberGetMember}} Credibens</b> e outros <b>{{$settings.socialMgm}} Credibens</b>
          serão revertidos a Projetos Sociais.
        </p>
      </div>
    </div>
    <SocialButtons />
    <div class="row justify-center q-ma-sm" :class="[ $q.screen.lt.sm ? '': 'q-gutter-sm']">
      <div class="col-12 q-mt-sm">
        <p class="text-body2 text-blue-grey-14 text-center">
          Conheça algumas ONGs apoiadas pelo Aplicativo Tudobem
        </p>
      </div>
      <template v-if="ongs" v-for="(ong, i) in ongs">
        <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12 q-mt-sm">
          <OngCard v-model="ongs[i]" @favorited="setFavorite(i)" />
        </div>
      </template>
    </div>
    <div class="row justify-center q-ma-sm" :class="[ $q.screen.lt.sm ? '': 'q-gutter-sm']">
      <div class="col-12 q-mt-sm">
        <p class="text-body2 text-blue-grey-14 text-center">
          Já escolheu sua ONG Favorita?
          Realize BemFeitorias para Ganhar Credibens para sua ONG Favorita e Credibens para você trocar
          por <b>Produtos Grátis</b>, <b>Descontos</b> e muito mais.
        </p>
      </div>
      <template v-if="coverImgCards" v-for="cover in coverImgCards">
        <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12 q-mt-sm">
          <CoverImg :attributes="cover" />
        </div>
      </template>
    </div>
  </q-page>
</template>

<script>
import Hat from "src/components/sections/general/Hat";
import SocialButtons from "src/components/Social/SocialButtons";
import { getters, actions } from 'src/service/ong.service';
import OngCard from "src/components/sections/general/OngCard";
export default {
  name: 'ONG',
  components: {
    OngCard,
    SocialButtons,
    Hat,
    CoverImg: () => import( "src/components/sections/home/CoverImg" )
  },
  computed:{
    ongs: getters.getOngs
  },
  data()
  {
    return {
      coverImgCards: [
        {
          justify: 0,
          img: { src: 'img/app/carrossel_4.png', alt: '', transparency: true },
          actions: { to: { name: 'offerwall' }, label: 'ganhar credibens', color: 'positive' },
          text: {
            title: 'Campanhas do Bem',
            body: 'Realize BemFeitorias e Ganhe Recompensas'
          }
        },
        {
          justify: 0,
          img: { src: 'img/app/carrossel_2.png', alt: '', transparency: true },
          actions: { to: { name: 'produtos' }, label: 'ver produtos', color: 'positive' },
          text: {
            title: 'Produtos do Bem',
            body: 'Realize BemFeitorias, Ganhe Credibens. Conheça os Produtos que você pode Trocar Grátis.'
          }
        }

        /*,{
          justify: 0,
          img: { src: 'img/app/anjos_bemfeitores_1.png', alt: '',transparency: true },
          actions: { to: { name: 'bemfeitores' }, label: 'confira os prêmios', color: 'positive' },
          text: {
            title: 'Anjos BemFeitores',
            body: 'BemFeitores Ganham Prêmios todo Mês e entram para a nossa História'
          }
        }*/
      ]
    }
  },
  mounted()
  {
    this.fetchOngs();
    fbq( 'track', 'PageView', { content_name: 'ong' } );
  },

  methods:
  {
    ...actions
  }
}
</script>

<style>
</style>
