<template>
  <q-page padding>
    <Hat title="Produtos do Bem"
         sub-title="Todos os Produtos do Bem podem ser adquiridos através de seus Credibens que você acumula ao realizar BemFeitorias"
    />
    <template v-if="product">

      <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-lg' ]">
        <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12" :class="[ $q.screen.lt.md ? 'q-mb-sm': '' ]">
          <Product v-model="product" @show-signup="showSignup" @show-signin="showSignin"/>
        </div>
      </div>

    </template>

    <div class="row justify-center">
      <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12 q-mb-sm">
        <q-select
          clearable outlined dense :options="categories" v-model="category" color="primary" bg-color="white"
          input-debounce="0" use-input fill-input hide-selected label="Busque pela Categoria"
          dropdown-icon="fas fa-chevron-down" no-error-icon @filter="filterCategory" @clear="clearCategory" @input="searchByCategory">
        </q-select>
      </div>
      <template v-if="notFound">
        <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12" :class="[ $q.screen.lt.md ? 'q-mb-sm': '' ]">
          <p class="text-body2 text-secondary text-center">
            Pedimos Desculpas.<br/>
            Não foram encontrados produtos para a Categoria Selecionada
          </p>
        </div>
      </template>
    </div>

    <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-lg' ]">
      <template v-if="products" v-for="( product, pi ) in products">
        <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12" :key="pi" :class="[ $q.screen.lt.md ? 'q-mb-sm': '' ]">
          <Product v-model="products[ pi ]" :key="pi" @show-signup="showSignup" @show-signin="showSignin"/>
        </div>
      </template>
    </div>
    <q-inner-loading :showing="productLoader">
      <q-spinner-hearts size="100px" color="secondary"/>
    </q-inner-loading>
    <!-- signup dialog -->
    <q-dialog v-model="signupShow" no-backdrop-dismiss>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <q-btn icon="fas fa-times" text-color="grey-5" flat round dense v-close-popup class="text-caption"/>
          <div class="text-subtitle2 text-primary text-bold text-center">{{ signupHeaderText }}</div>
          <q-space/>
        </q-card-section>
        <q-card-section>
          <Signup :redirect-after-signup="{ name: 'produtos', params: { slug: signupData.slug }}"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
  import Hat from "src/components/sections/general/Hat";
  import { get } from "src/service/product.service";
  import Product from "src/components/Entities/Product/Product";
  import {getters, actions} from 'src/service/category.service';

  export default {
    name: 'Produtos',
    components: {
      Product, Hat,
      Signup: () => import( 'src/components/forms/Signup' )
    },

    data() {
      return {
        category: null, categories: [],
        product: null,
        products: null,
        notFound: false,
        productLoader: false, signupShow: false, signupHeaderText: null, signupData: {}
      }
    },

    mounted() {
      actions.fetchCategories(true).then(response => {
        this.categories = getters.getCategories();
      });
      fbq( 'track', 'PageView', { content_name: 'products' } );
      if (this.$route.params.slug !== undefined) {
        get( null, [{ name: 'slug', value: this.$route.params.slug }] ).then( product => {
          this.product = product[0];
        });
      } else
        this.getProducts();
    },

    methods:
      {
        getProducts(filter) {
          this.productLoader = true;
          get(null, filter).then(data => {
            data.forEach(product => {
              product.favorited = product.favorited === undefined ? false : product.favorited;
            });

            if (data.length) {
              this.products = data;
              this.notFound = false;
            }
            else {
              this.products = null;
              this.notFound = true;
            }
            this.productLoader = false;
          });
        },
        showSignup(event) {
          this.signupShow = true;
          this.signupData = event.entity;
          if (event.text)
            this.signupHeaderText = event.text;
        },

        showSignin(event) {
          localStorage.setItem('lastRoute', JSON.stringify({name: 'produtos'}));
          this.$router.push({'name': 'login'});
        },

        filterCategory(value, update/*, abort*/) {
          update(() => {
            const needle = value.toLowerCase();
            this.categories = getters.getCategories(true).filter(v => v.label.toLowerCase().indexOf(needle) > -1);
          });
        },

        clearCategory(value) {
          this.getProducts();
        },

        searchByCategory(selected) {
          if (selected)
            this.getProducts([{name: 'id_category', value: selected.value}]);
        },

        getCategories: actions.fetchCategories
      }
  }
</script>

<style>
</style>
