<template>
  <q-page padding>
    <Hat title="Meu Perfil" sub-title="Confira seus dados e atualize seu Perfil de Bemfeitor." />

    <q-tabs v-model="tab" dense>
      <q-tab name="user" label="Dados" class="text-blue text-lowercase" />
      <q-tab name="profile" label="Perfil" class="text-light-blue text-lowercase" />
      <q-tab name="credits" label="Créditos" class="text-light-blue text-lowercase" />
    </q-tabs>
    <q-tab-panels v-model="tab" class="bg-tudobem" keep-alive swipeable animated>
      <q-tab-panel name="user">
        <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-lg' ]">
          <UserData v-model="usr" />
        </div>
      </q-tab-panel>
      <q-tab-panel name="profile">
        <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-lg' ]">
          <Profile v-model="profile" />
        </div>
      </q-tab-panel>
      <q-tab-panel name="credits">
        <div class="row justify-center">
          <Credits :credits="credits" :ong="usr.userData.ong" />
        </div>
      </q-tab-panel>
    </q-tab-panels>

    <div class="row justify-around q-mt-sm">
      <div class="col-3">
        <q-btn unelevated color="positive" label="Salvar" size="lg" @click="updateAll" />
      </div>
    </div>
    <q-inner-loading :showing="loading">
      <q-spinner-gears color="secondary" size="100px" />
    </q-inner-loading>
  </q-page>
</template>

<script>
  import Hat from 'src/components/sections/general/Hat';
  import UserData from "src/components/forms/profile/UserData";
  import Validator from 'src/service/Helpers/validator';
  import { mapActions } from 'vuex';

export default {
  name: 'ProfilePage',
  components: {
    Credits: () => import( "src/components/forms/profile/Credits" ),
    Profile: () => import( "src/components/forms/profile/Profile" ),
    UserData,
    Hat
  },
  mixins: [ Validator ],
  data()
  {
    return {
      tab: 'user',
      loading: false,
      profile: {
        economic: null,
        marital_status: null,
        children: 0,
        interests: []
      },
      usr: {
        user: {
          name: '', email: '', phone: null, gender: null
        },
        userData: {
          cpf: '', cep: null, dob: null, gender: null, address: { number: null, complement: null }, ong: null
        }
      },
      credits: null
    }
  },

  mounted()
  {
    this.setAll();
    fbq( 'track', 'PageView', { content_name: 'profile' } );
  },
  methods: {
    setAll()
    {
      let activeTab = this.$route.params.tab;
      if( activeTab )
        this.tab = activeTab;

      this.isAuthenticated().then( data => {
        this.usr.user = data.data.user;

        this.setUserData( data.data.user_data );
        this.setProfile( data.data.user_data );
        this.credits = data.data.credits;
      });
    },

    setUserData( data )
    {
      if( data ){
        this.usr.userData.address = data.address || { number: null, complement: null };
        this.usr.userData.dob = data.dob || null;
        this.usr.userData.cep = data.cep || null;
        this.usr.userData.cpf = data.cpf || null;
        this.usr.userData.ong = data.ong || null;
      }
    },
    setProfile( data )
    {
      if( data ){
        this.profile.economic = data.economic || null;
        this.profile.marital_status = data.marital_status || null;
        this.profile.interests = data.interests || [];
        this.profile.children = data.children || 0;
        this.profile.geo = data.geo || { lat: null, lon: null };
      }
    },

    updateAll()
    {
      this.loading = true;
      this.update( { ...this.profile, ...this.usr.userData, ...this.usr.user } ).then( response => {
        this.loading = false;
        this.$q.notify({ message: 'Dados atualizados', type: 'positive' } );
      });
    },
    ...mapActions( 'guard', [ 'isAuthenticated', 'update' ] )
  }
}
</script>

<style>
</style>
