<template>
  <q-page padding>
    <Hat title="Você Comenta" sub-title="Ganhe Credibens opinando sobre Marcas e Produtos" />
      <Survey />
    <template v-if="!survey">
      <div class="row">
        <div class="col-12">
          <p class="text-body2 text-blue-grey-14 text-center">
            Não existem pesquisas disponíveis no momento.
          </p>
          <p class="text-body1 text-center text-secondary">Ganhe mais Credibens:</p>
        </div>
        <div class="col-12 text-center">
          <q-btn class="full-width" unelevated color="positive" label="Veja as Campanhas do Bem" :to="{ name: 'offerwall' }" />
          <q-btn class="full-width q-mt-sm" unelevated color="positive" label="Curta e Compartilhe" :to="{ name: 'promocoes' }" />
        </div>

        <div class="col-12 q-gutter-sm q-my-xs text-center">
          <q-btn unelevated color="blue-7" icon="fab fa-facebook-f" @click="onFacebook" />
          <q-btn unelevated color="green-7" icon="fab fa-whatsapp" @click="onWhatsapp" />
        </div>

      </div>
    </template>
  </q-page>
</template>

<script>
import Hat from "src/components/sections/general/Hat";
import { mapState } from "vuex";
import { copyToClipboard } from "quasar";
export default {
  name: 'Comenta',
  components: {
    Survey: () => import( "src/components/Entities/VoceComenta/Survey" ),
    Hat
  },

  computed:{
    ...mapState({
      survey: store => store.survey.survey
    })
  },

  mounted()
  {
    fbq( 'track', 'PageView', { content_name: 'survey' } );
  },

  methods:
  {
    onWhatsapp()
    {
      let env = this.$q.screen.lt.md ? 'api' : 'web';
      let token = this.$store.state.guard.user.token;
      this.$social.getWhatsappUrl({ params: { token }, env });
      this.$analytics.logEvent( 'select_content', { content_type: 'survey-whatsapp', id: token } );
    },

    onFacebook()
    {
      let env = this.$q.screen.lt.md ? 'api' : 'web';
      let token = this.$store.state.guard.user.token;
      this.$social.onFacebook({ params: { token }, env })
        .then( response => {
          console.log( 'facebook response', response );
          this.$analytics.logEvent( 'select_content', { content_type: 'survey-facebook', id: token } );
        })
        .catch( error => console.log( 'facebook error response', error ));
    },

    onShareableLink()
    {
      let token = this.$store.state.guard.user.token;
      copyToClipboard( this.$social.getUserAffiliateLink({ token } ) )
        .then( () => {
          this.$q.notify({ 'message': 'Link de Bemfeitor Copiado. Compartilhe o Bem com o Mundo!', position: 'bottom', 'color': 'positive' });
          this.$analytics.logEvent( 'select_content', { content_type: 'survey-link-copied', id: token } );
        }).catch( error => {
          /** @todo implement a method to report error in sharing */
        });
    }
  }
}
</script>

<style>
</style>
