<template>
  <!-- here begins the Offer Component-->
  <q-card bordered flat>
    <q-img :src="offer.asset_url" :ratio="14/9" spinner-color="primary" spinner-size="40px">
    </q-img>

    <q-card-section class="q-pa-xs">
      <!-- offer Header -->
      <p class="text-center text-secondary q-mb-xs text-caption"
         :style="$q.screen.lt.md ? 'font-size: 15px;height: 60px;' : 'font-size: 23px'">{{offer.text.h}}</p>
      <div class="row">

        <div class="col-6">
          <div class="text-body2 text-center text-primary">
            {{ offer.payout_user }} <q-icon name="fas fa-donate" />
          </div>
        </div>

        <div class="col-6">
          <div class="text-body2 text-center text-secondary">
            <q-icon name="fas fa-hand-holding-heart" /> {{ offer.payout_ong }}
          </div>
        </div>
      </div>

    </q-card-section>

    <q-card-actions align="around" class="q-mb-sm">
      <q-btn unelevated :size="$q.screen.lt.md ? 'sm': 'lg'" color="positive" label="ver Campanha"
             @click="accept" />
    </q-card-actions>

  </q-card>
</template>

<script>
  import {mapActions} from 'vuex';
  /**
   * Offer Entity Component
   */
  export default {
    name: "Offer",
    props: {
      offer: { type: Object, required: true }
    },
    data() {
      return {
        user: null
      }
    },
    components: {},

    mounted() {
      this.isAuthenticated().then(uzr => {
        this.user = uzr;
      });
    },
    methods: {
      accept() {
        if ( this.user ) {
          this.$router.push({ name: 'offerwall', params:{ slug: this.offer.slug } });
        }
        else{
          let y = this.$q.screen.gt.sm ? 0 : 200;
          scrollTo(0,y );
        }
      },

      next() {
      },

      ...mapActions('guard', ['isAuthenticated'])
    }
  }
</script>

<style scoped>

</style>
