<template>
  <!-- here begins the Offer Component-->
  <div class="bg-tudobem">
    <div class="row q-mb-sm">
      <div class="col">

        <q-btn unelevated color="positive" size="sm" class="q-mt-xs">
          <template v-slot:default>
            <q-icon name="fas fa-donate" class="on-left" size="12px"/>
            <div class="text-caption justify-center text-weight-medium">ganhe {{ offer.payout_user }}</div>
          </template>
        </q-btn>

        <q-btn unelevated color="secondary" size="sm" class="q-mt-xs float-right">
          <template v-slot:default style="padding: 4px 8px;">
            <q-icon name="fas fa-hand-holding-heart" class="on-left" size="12px"/>
            <div class="text-caption justify-center text-weight-medium">doamos {{ offer.payout_ong }}</div>
          </template>
        </q-btn>

      </div>
    </div>

    <q-card bordered flat>
      <template v-if="!showThankYouView">
        <q-img :src="offer.asset_url" :ratio="14/9" spinner-color="primary" spinner-size="40px" :alt="offer.asset_desc"
               @click="offer.conf.fields ? null : accept()">
          <!--<div class="absolute-bottom text-center" :class="$q.screen.lt.md ? 'text-subtitle1' : 'text-h5'">{{offer.name}}</div>-->
        </q-img>

        <q-card-section>
          <!-- offer Header -->
          <p class="text-center text-secondary q-mb-xs"
             :style="$q.screen.lt.md ? 'font-size: 15px' : 'font-size: 23px'">{{offer.text.h}}</p>

          <!-- Offer Body -->
          <div class="text-grey-8" :class="$q.screen.lt.md ? 'text-body1' : 'text-h5'" v-html="offer.text.b" />
        </q-card-section>
        <!-- form section -->
        <template v-if="offer.conf.fields">
          <q-card-section class="q-pt-none">
            <!-- offer form to collect user data -->
            <OfferForm :fields="offer.conf.fields"
                       :data="{ offer: { id: offer.id, id_copy: offer.id_copy, user: user }, text: offer.conf.text }"
                       @complete="showThankYou"/>
          </q-card-section>
        </template>
        <!-- end form section -->
        <q-card-actions align="around" class="q-mb-sm">
          <q-btn unelevated :size="$q.screen.lt.md ? 'md': 'lg'" color="positive" :label="offer.text.btn.accept"
                 @click="accept" :loading="acceptBtnLoading" v-if="!offer.conf.fields" class="full-width">
            <template #loading>
              <q-spinner-hourglass size="24px" />
            </template>
          </q-btn>
          <q-btn unelevated class="text-lowercase q-mt-md" :label="offer.text.btn.decline" size="12px" color="warning"
                 icon-right="fas fa-arrow-right"
                 @click="next"/>
        </q-card-actions>
        <q-card-section>
          <p class="offer_footer text-caption text-grey-7">{{offer.text.f}}</p>
        </q-card-section>
      </template>
      <template v-if="showThankYouView">
        <q-card-section>
          <p class="text-positive" v-html="thankyouView.message" />
          <p>Após a Confirmação dos dados,</p>
          <p>
            <b class="text-info">{{offer.payout_user}}</b> Credibens serão Creditados na sua Conta!
          </p>
          <p>
            <b class="text-secondary">{{offer.payout_ong}}</b> Credibens serão Doados para uma Instituição de sua Escolha
          </p>
          <div class="text-center">
            <q-btn unelevated color="positive" label="avançar" @click="next" icon-right="fas fa-chevron-right"/>
          </div>
        </q-card-section>
      </template>
    </q-card>
  </div>

</template>

<script>
  import {mapActions} from 'vuex';
  import { impression } from "src/service/offerwall.service";
  import { click } from "src/service/tracker.service";

  /**
   * Offer Entity Component
   */
  export default {
    name: "Offer",
    props: {
      offer: {
        type: Object, required: true
      },
      hash: {
        type: String, required: true
      }
    },
    data() {
      return {
        user: null,
        showThankYouView: false,
        acceptBtnLoading: false,
        thankyouView: {
          message: 'Agradecemos a sua Participação.'
        }
      }
    },
    components: {
      OfferForm: () => import( 'src/components/Entities/OfferWall/Form/OfferForm' )
    },

    mounted() {
      this.isAuthenticated().then(uzr => {
        this.user = uzr;
        this.impression('start');
      });

    },
    methods: {
      /**
       * @todo implement click event
       **/
      accept() {
        if ( this.offer.conf.url ){
          this.$analytics.logEvent( 'select_content', { content_type: 'offer', content_id: this.offer.id } );
          this.acceptBtnLoading = true;

          // click being registered
          click({ ety: 'offer', id_ety: this.offer.id, params: { ow_hash: this.hash } } ).then( response => {
            let url = this.offer.conf.url;
            if( response.hash )
              url = url.replace( /tdbtoken/, response.hash );
            window.open( url, '_blank' );
            this.acceptBtnLoading = false;
            this.next();
          });

        }
      },

      next() {
        this.impression('end');
        this.$emit('next', null);
      },

      impression(evt) {
        let uzr = null;
        if (this.user)
          uzr = this.user.data.user.email;

        let data = {
          id_offer: this.offer.id,
          id_copy: this.offer.id_copy,
          user: uzr, hash: this.hash,
          ad_version: this.offer.ad_version,
          event: evt
        };
        this.$analytics.logEvent( 'view_item', { items: [ { category: 'offer', id: this.offer.id, name: evt } ] } );
        impression(data).then(res => {
          fbq( 'trackCustom', `impression_${evt}`, { offer: this.offer.slug });
        });

      },
      /**
       * @param data
       */
      showThankYou(data) {
        if (data.message)
          this.thankyouView.message = data.message;

        this.showThankYouView = true;
        setTimeout(this.next, 10000 );
        this.$analytics.logEvent( 'generate_lead', { name: 'offer', transaction_id: this.offer.id });
        fbq('trackCustom', 'FinishOfferwall', { offerwall: this.hash });
      },
      ...mapActions('guard', ['isAuthenticated'])
    }
  }
</script>

<style scoped>
</style>
