<template>
  <div v-if="offerlets" class="row q-mt-sm justify-center" :class="[ $q.screen.lt.sm ? 'q-mx-xs': 'q-gutter-sm']">
    <div class="col-12">
      <p class="text-center text-h6 text-primary q-my-none">
        Ganhe mais Credibens com as Campanhas do Bem
      </p>
    </div>
    <div v-for="(offer,i) in offerlets.offers" class="col-lg-2 col-md-4 col-sm-5 col-xs-6"
         :class="[ $q.screen.lt.sm ? 'q-pa-xs': '']">
      <Offerlet :offer="offer"/>
    </div>
  </div>
</template>

<script>
  import {get} from "src/service/offerwall.service";
  import { getExpiredAtTimestamp, getTs } from "src/service/Helpers/timestamp.helper";

  export default {
    name: "OfferletContainer",
    components: {
      Offerlet:  () => import( "src/components/Entities/OfferWall/Offerlet" )
    },
    props: {
      limit:{ type: Number, default: 10 }
    },
    data() {
      return {
        offerlets: null
      }
    },
    mounted() {
      let offerlets = JSON.parse( localStorage.getItem( 'offerlets' ) );
      if( offerlets ){
        let currentTS = getTs();
        if( currentTS < offerlets.ts ){
          this.offerlets = offerlets.data;
        }
        else
          this.getData()
      }
      else
        this.getData();
    },
    methods:{
      getData()
      {
        get({ limit: this.limit }).then( data => {
          if( data.offers.length )
            this.offerlets = data;
          localStorage.setItem( 'offerlets', JSON.stringify( { ts: getExpiredAtTimestamp(1, 'h' ), data } ) );
        });
      }
    }
  }
</script>

<style scoped>

</style>
