<template>
  <q-card flat bordered class="">
    <q-card-section>
      <div class="text-subtitle2 text-secondary">{{ attributes.text.title }}</div>
      <div class="text-body1 text-primary">{{ attributes.text.body }}</div>
      <div class="self-end text-center q-mt-sm">
        <q-btn unelevated size="sm" :label="attributes.actions.label" color="positive" class="" @click="$router.push( attributes.actions.to )" />
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "CoverCard",
  props:
  {
    /**
     * {
     *   text: { title, body },
     *   actions: { text, to }
     * }
     */
    attributes: { type: Object, required: false }
  },
  computed:
  {
    getCustomClasses()
    {
      let alpha = this.attributes.img.transparency ? 'alpha ' : 'no-alpha ';
      let justify = this.attributes.justify ? 'justify-end text-right' : '';
      return alpha+justify;
    }
  },
  data()
  {
    return {}
  }
  ,methods: {
    /**
     * @param {Object} params
     */
    to()
    {
      this.$router.push( this.attributes.actions.to );
    }
  }
}
</script>

<style scoped>
  .alpha{ background: rgba(0,0,0,0.23); }
  .no-alpha{ background: rgba(0,0,0,0.0); }
  .cover-img{ cursor: pointer; }
</style>
