<template>
  <q-img :src="$assets.url+attributes.img.src" class="rounded-borders full-width" @click="to">
    <div class="absolute-full flex flex-inline cursor-pointer" :class="getCustomClasses">
      <div class="row">
        <div class="col-12">
          <div class="text-h6">{{ attributes.text.title }}</div>
        </div>
        <div class="col-12">
          <div class="text-body2">{{ attributes.text.body }}</div>
        </div>
        <div class="col-12">
          <q-btn push unelevated color="positive" size="sm" :label="attributes.actions.label" class="self-end" />
        </div>

      </div>
    </div>
  </q-img>
</template>

<script>
export default {
  name: "CoverImg",
  props:
  {
    /**
     * {
     *   img: { src, alt, side },
     *   text: { title, body },
     *   actions: { text, to }
     * }
     */
    attributes: { type: Object, required: true }
  },
  computed:
  {
    getCustomClasses()
    {
      let alpha = this.attributes.img.transparency ? 'alpha ' : 'no-alpha ';
      let justify = this.attributes.justify ? 'justify-end text-right' : '';
      return alpha+justify;
    }
  },
  data()
  {
    return {}
  }
  ,methods: {
    /**
     * @param {Object} params
     */
    to()
    {
      this.$router.push( this.attributes.actions.to );
    }
  }
}
</script>

<style scoped>
  .alpha{ background: rgba(0,0,0,0.25); }
  .no-alpha{ background: rgba(0,0,0,0.0); }
</style>
