<template>
    <q-banner :inline-actions="inlineActions" :dense="dense" :rounded="rounded" class="bg-white q-ma-sm q-px-sm full-width text-center">

        <div class="row">
          <div class="col-12 text-center">
            <lottie-animation path="lottie/simple_heart.json" :loop="true" :width="100" :height="100"/>
          </div>
          <div class="col-12 flex flex-center">
            <h5 class="text-secondary q-ma-none q-mb-sm">Oi <b>{{ $store.state.guard.user.name.split( ' ' )[0] }}</b>, #tudobem?</h5>
            <p class="text-body1 text-secondary q-ma-none">Enviamos um Email para você. </p>
            <p class="text-body1 text-secondary q-ma-none">
              Acesse o seu email e <b class="text-positive">valide o seu cadastro para ganhar {{$settings.emailValidation}} Credibens e Desbloquear as Pesquisas Remuneradas</b>.
            </p>
            <p class="text-body1 text-secondary q-ma-none">
              Caso o email não esteja na Caixa de Entrada, Procure o email em todas as abas e pastas e
              <b>inclua nosso Endereço de Email na sua lista de Contatos.</b>
            </p>
<!--            <p class="text-body1 text-secondary q-ma-none">Nosso coração bate mais forte com você aqui, <b>{{ $store.state.guard.user.name.split( ' ' )[0] }}</b>!</p>-->
          </div>
        </div>

      <template v-slot:action v-model="showActionButtons">

      </template>
    </q-banner>
</template>

<script>
  export default {
    name: "HeaderHat",
    components: {
      LottieAnimation: () => import( 'lottie-vuejs/src/LottieAnimation' )
    },
    props:
      {
        routerView: {
          type: String,
          default: 'home'
        }
      },
    data() {
      return {
        inlineActions: false,
        rounded: false,
        dense: false,
        showActionButtons: true
      }
    }
    , methods: {

      atAnimate( evt )
      {

      }

    }
  }
</script>

<style scoped>

</style>
