<template>
  <q-card flat bordered>
    <q-card-section horizontal>
      <template v-if="!attributes.img.side">
        <q-img :src="$assets.url+attributes.img.src" class="rounded-borders card-img" />
      </template>
      <q-card-section class="text-blue-grey-14">
        <div class="text-subtitle2 text-center text-primary q-mb-sm">
          {{ attributes.text.title }}
        </div>
        <div class="text-body2 text-center text-blue-grey-14 q-mb-sm">
          {{ attributes.text.body }}
        </div>
        <div class="flex flex-center full-width q-mb-sm">
          <q-btn push :color="attributes.actions.color" :label="attributes.actions.label" :to="attributes.actions.to" class="text-weight-medium" />
        </div>
      </q-card-section>
      <template v-if="attributes.img.side">
        <q-img :src="$assets.url+attributes.img.src" class="rounded-borders card-img" />
      </template>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "HighlightGrid",
  props:
  {
    /**
     * {
     *   img: { src, alt, side },
     *   text: { title, body },
     *   actions: { text, to }
     * }
     */
    attributes: { type: Object, required: true }
  },
  components:
  {},
  data()
  {
    return {}
  }
  ,methods: {}
}
</script>

<style scoped>
 .card-img{ height: auto; width: 70%; }
</style>
