<template>
  <div class="ofertas-bem-component">
    <div class="row q-my-sm header">
      <div class="col">
        <div :class="[ $q.screen.lt.sm ? 'q-ml-md' : '' ]">
          <q-icon name="card_giftcard" left size="36px" color="secondary"></q-icon>
          <span class="full-width text-weight-bold text-h5">
            Ofertas do Bem
          </span>
          <br v-if="$q.screen.lt.sm" />
          <span class="text-subtitle1">
            Curta, compartilhe, classifique e adquira nossas Ofertas do Bem. Você ganha na hora mais Moedas do Bem para poder trocar por ofertas grátis,
            descontos e muito mais!
          </span>

        </div>
      </div>
    </div>

    <div class="row justify-center" :class="[ $q.screen.lt.sm ? 'q-gutter-none': 'q-gutter-sm' ]">

      <Offer v-for="offer in offers" :offer="offer" :key="offer.id" />

      <div class="col-12 text-center q-my-md">
        <q-btn label="ver mais produtos" color="secondary" size="lg" unelevated />
      </div>

    </div>

  </div>

</template>

<script>
    import Offer from "src/components/Entities/Offer";

    export default {
        name: "OfertasBem",
        components:{ Offer },
        props:
        {
            routerView:{
                type:String,
                default:'home'
            }
        },
        data()
        {
            return {
                /**
                 * ofertas são produtos e kit com valores e itens customizados para melhorar os argumentos de venda:
                 * 1. Exibir o valor individual de cada produto se vendido separadamente
                 * 2. Informação clara de que o produto no Combo é mais barato do que se vendido individualmente
                 * 3. Opção de compra recorrente
                 * 4. Possibilidade de parcelar
                 * 5. Quantas Moedas do Bem ele vai ganhar
                 * 6. Quanto custa para comprar o produto em Moedas do Bem */
                offers:[
                    {
                        id:1,
                        id_category: 1,
                        name:'Kit de Barbear Gillete Completo',
                        desc: 'Kit Gillete de barbear com Mach 3, Espuma antialérgica, loção pós barba, Misturador e Toalha Exclusiva',
                        img:'/app-logo-128x128.png',
                        price: {
                            fiat:59.90, cripto:1200
                        },
                        rating:{
                            allow:true, gain:1, donation: 1
                        },
                        shareable:{
                            where:{
                                fb:{ gain:7, donation:2 }, tt:false, wa:{gain:7, donation:2}, msg:{gain:4, donation:2}, ins:{ gain:5, donation:2}
                            }
                        },
                        products:[
                            {
                                id:1, id_category: 1, id_marca: 1,
                                name:'Lâmina de Barbear Mach 3', desc:'Poderosa, anti alérgica, eficiente e se mantém afiada por meses para um barbear preciso e sem irritações'
                                ,image: 'app-logo-128x128.png', price: { fiat: 23.99, cripto: 500 }
                            },
                            {
                                id:2, id_category: 1, id_marca: 2,
                                name:'Espuma de Barbear Bozzano', desc:'Espuma de Barbear que protege e acalma a pele depois do barbear.'
                                ,image: 'app-logo-128x128.png', price: { fiat: 25.69, cripto: 550 }
                            },
                            {
                                id:3, id_category: 2, id_marca: 3,
                                name:'Kit Toalha e Misturador para Barbear', desc:'Toalha de Rosto e misturador e aplicador de espuma de barbear.'
                                ,image: 'app-logo-128x128.png', price: { fiat: 19.90, cripto: 200 }
                            }
                        ]
                    },
                    {
                        id:4,
                        id_category: 1,
                        name:'Kit de Barbear Gillete Completo',
                        desc: 'Kit Gillete de barbear com Mach 3, Espuma antialérgica, loção pós barba, Misturador e Toalha Exclusiva',
                        img:'/app-logo-128x128.png',
                        price: {
                            fiat:59.90, cripto:1200
                        },
                        rating:{
                            allow:true, gain:1, donation: 1
                        },
                        shareable:{
                            where:{
                                fb:{ gain:7, donation:2 }, tt:false, wa:{gain:7, donation:2}, msg:{gain:4, donation:2}, ins:{ gain:5, donation:2}
                            }
                        },
                        products:[
                            {
                                id:1, id_category: 1, id_marca: 1,
                                name:'Lâmina de Barbear Mach 3', desc:'Poderosa, anti alérgica, eficiente e se mantém afiada por meses para um barbear preciso e sem irritações'
                                ,image: 'app-logo-128x128.png', price: { fiat: 23.99, cripto: 500 }
                            },
                            {
                                id:2, id_category: 1, id_marca: 2,
                                name:'Espuma de Barbear Bozzano', desc:'Espuma de Barbear que protege e acalma a pele depois do barbear.'
                                ,image: 'app-logo-128x128.png', price: { fiat: 25.69, cripto: 550 }
                            },
                            {
                                id:3, id_category: 2, id_marca: 3,
                                name:'Kit Toalha e Misturador para Barbear', desc:'Toalha de Rosto e misturador e aplicador de espuma de barbear.'
                                ,image: 'app-logo-128x128.png', price: { fiat: 19.90, cripto: 200 }
                            }
                        ]
                    },
                    {
                        id:3,
                        id_category: 1,
                        name:'Kit de Barbear Gillete Completo',
                        desc: 'Kit Gillete de barbear com Mach 3, Espuma antialérgica, loção pós barba, Misturador e Toalha Exclusiva',
                        img:'/app-logo-128x128.png',
                        price: {
                            fiat:59.90, cripto:1200
                        },
                        rating:{
                            allow:true, gain:1, donation: 1
                        },
                        shareable:{
                            where:{
                                fb:{ gain:7, donation:2 }, tt:false, wa:{gain:7, donation:2}, msg:{gain:4, donation:2}, ins:{ gain:5, donation:2}
                            }
                        },
                        products:[
                            {
                                id:1, id_category: 1, id_marca: 1,
                                name:'Lâmina de Barbear Mach 3', desc:'Poderosa, anti alérgica, eficiente e se mantém afiada por meses para um barbear preciso e sem irritações'
                                ,image: 'app-logo-128x128.png', price: { fiat: 23.99, cripto: 500 }
                            },
                            {
                                id:2, id_category: 1, id_marca: 2,
                                name:'Espuma de Barbear Bozzano', desc:'Espuma de Barbear que protege e acalma a pele depois do barbear.'
                                ,image: 'app-logo-128x128.png', price: { fiat: 25.69, cripto: 550 }
                            },
                            {
                                id:3, id_category: 2, id_marca: 3,
                                name:'Kit Toalha e Misturador para Barbear', desc:'Toalha de Rosto e misturador e aplicador de espuma de barbear.'
                                ,image: 'app-logo-128x128.png', price: { fiat: 19.90, cripto: 200 }
                            }
                        ]
                    },
                    {
                        id:2,
                        id_category: 3,
                        name:'Combo Você Linda',
                        desc: 'Combo com Estojo de Maquiagem, Creme antirrugas e Filtro Solar',
                        img:'/app-logo-128x128.png',
                        price: {
                            fiat:125.79, cripto:2500
                        },
                        rating:{
                            allow:true, gain:1, donation: 1
                        },
                        shareable:{
                            where:{
                                fb:{ gain:7, donation:2 }, tt:false, wa:{gain:7, donation:2}, msg:{gain:4, donation:2}, ins:{ gain:5, donation:2}
                            }
                        },
                        products:[
                            {
                                id:1, id_category: 1, id_marca: 1,
                                name:'Karina Kotler', desc:'Creme antidade com ação prolongada'
                                ,image: 'app-logo-128x128.png', price: { fiat: 89.99, cripto: 900 }
                            },
                            {
                                id:2, id_category: 1, id_marca: 2,
                                name:'Estojo de Maquiagem com 32 Peças', desc:'Estojo de Maquiagem com 32 peças para olhos, boca e rosto.'
                                ,image: 'app-logo-128x128.png', price: { fiat: 119.90, cripto: 1200 }
                            },
                            {
                                id:3, id_category: 2, id_marca: 3,
                                name:'Filtro Solar SunBeach', desc:'FIltro Solar de longa duração fator 40.'
                                ,image: 'app-logo-128x128.png', price: { fiat: 19.90, cripto: 200 }
                            }
                        ]
                    }
                ]
            }
        }
        ,methods:
        {

        }
    }
</script>

<style scoped>
 .border-dashed{
   border: 1px dashed #999;
 }
  .max-width-320{
    max-width: 320px;
  }
  .max-width-400{
    max-width: 400px;
  }

</style>
