<template>
    <div class="voce-comenta-component">

      <div class="row q-my-md header" v-if="surveyModel">
        <div class="col">
          <div :class="[ $q.screen.lt.sm ? 'q-ml-md' : '' ]">
            <q-icon name="insert_comment" left size="36px" color="secondary"></q-icon>
            <span class="full-width text-weight-bold text-h5">
              Você Comenta:
            </span>
            <br v-if="$q.screen.lt.sm">
            <span class="text-subtitle1 full-width">
              Opine sobre seus produtos preferidos e ganhe Moedas do Bem.
            </span>
          </div>
        </div>
      </div>

<!-- THIS IS A COMPONENT: Survey -->
      <div class="row q-my-sm survey">
        <div class="col">
          <Survey />
        </div>
      </div>
<!-- End Survey Component -->

    </div>
</template>

<script>
    import Survey  from 'src/components/Entities/VoceComenta/Survey';
    import { mapState } from 'vuex';
    export default {
        name: "VoceComenta",
        components:{ Survey },
        props:
        {
            routerView:{
                type:String,
                default:'home'
            }
        },
        data()
        {
            return {
              color: null,
              show:false
            }
        },

        computed:{
          ...mapState({
            surveyModel: store => store.survey.survey
          })
        },

        methods:
        {}
    }
</script>

<style scoped>
 .border-dashed{
   border: 1px dashed #999;
 }
  .min-height-150{
    min-height: 150px;
  }
</style>
