<template>
<div class="col-12 items-center" v-if="gifts">

  <q-carousel
    v-model="slide"
    keep-alive swipeable
    transition-prev="jump-right"
    transition-next="jump-left"
    infinite animated
    control-color="positive"
    padding
    arrows
    class="text-primary shadow-none rounded-borders bg-tudobem"
    :style="[ $q.screen.lt.sm ? 'height:300px' : 'height:500px' ]"
  >
    <q-carousel-slide v-for="(gift, i) in gifts" :key="i" :name="i" class="column no-wrap flex-center">
      <p class="text-body1 text-positive text-weight-bold">
        {{ gift.place }}° Lugar
      </p>
      <img :src="`${$assets.url}${gift.img}`" style="max-width: 600px;" :desc="gift.img_desc"/>
      <p class="q-mt-md q-mb-none text-center">
        {{ gift.label }}
      </p>
      <div class="q-gutter-x-sm q-my-sm ">
        <q-btn icon="fab fa-facebook-f" unelevated color="blue-10" class="q-px-sm" @click="onFacebook" />
        <q-btn icon="fab fa-whatsapp" unelevated color="green" class="q-px-sm" @click="onWhatsapp" />
      </div>

    </q-carousel-slide>

  </q-carousel>
  <div class="row justify-center q-my-sm">
    <q-btn-toggle
      glossy
      v-model="slide"
      :options="gifts.map( (item, i) => ( { label: `${item.place}º Lugar`, value : i } ) )"
    />
  </div>
</div>
</template>

<script>

  export default {
    name: "AngelGifts",
    props:
    {
      gifts: { type: Array, required: false }
    },
    data()
    {
      return {
        slide: 0
      }
    },

    methods:
    {
      getResolvedFullURL( route )
      {
        let fURL = window.location.protocol+'//'+window.location.hostname+''+this.$router.resolve({ name: route }).href;
        return fURL;
      },

      onFacebook()
      {
        let href = this.getResolvedFullURL( 'bemfeitores' );
        let quote = `Ganhe Prêmios Mensais e Produtos Grátis: Seja um Anjo BemFeitor.`;
        this.$social.onFacebook({
          method: 'share', href,
          quote, hashtag: '#tudobem #anjosbemfeitores #rendaextra #produtosgratis #brindesgratis #fazerobem #correntedobem #produtosdobem'
        })
          .then( response => { console.log( response ); })
      },

      onWhatsapp()
      {
        let env = this.$q.screen.lt.md ? 'api' : 'web';
        let quote = `Ganhe Prêmios Mensais e Produtos Grátis: Acesse o app Tudobem e torne-se um Anjo BemFeitor. `;
        quote = window.encodeURIComponent( quote );
        let  href = this.getResolvedFullURL( 'bemfeitores' );
        this.$social.getWhatsappUrl({ quote, env, href });
      },
    }
  }
</script>

<style scoped>

</style>
