<template>
  <div class="ranking-anjos-do-bemfeitores" v-if="angels">
    <q-table
      flat
      color="secondary"
      table-header-class="text-primary"
      :pagination="{ rowsPerPage:10 }"
      :data="angels"
      :columns="columns"
      row-key="id"
      hide-bottom
      bordered
      class="table-anjos-bemfeitores"
    >
      <template v-slot:body-cell-name="props">
        <q-td key="name" :props="props" v-html="getName( props )" />
      </template>
    </q-table>
  </div>
</template>

<script>

    export default {
      name: "AnjosDoMes",
      props:
      {
        angels: { type: Array, required: false }
      },

      data()
      {
        return {
          columns: [
            {
              name: 'name', field: 'name', label: 'Anjo', align: 'left', sortable: false
            },
            {
              name: 'moedas', field: 'crypto_org', label: 'CrediBens', align: 'left', sortable: false
            }
          ]
          ,userIsInTheList: false
        }
      },

      methods:
      {
        getName( props )
        {
          let row = props.row;
          let tk = this.$store.state.guard.user.token;
          let label = `<span class="text-blue-grey-5">${row.name}</span>`;
          if( tk === row.token ) {
            label = `<span class="text-primary">${row.name} ( você )</span>`;
            this.userIsInTheList = true;
          }
          if( false ) {
            let p = V;
            label = `<b class="text-positive">${p}°</b> ` + label;
          }
          return label;
        }
      }
    }
</script>

<style scoped>
 .q-table td{
   font-weight: bold;
 }
</style>
