<template>
  <q-page class="">
    <Hat title="Como Funciona" sub-title="Entenda como o Tudobem funciona e quais as formas de ganhar produtos grátis ajudando quem precisa" />

    <div class="q-pa-md">
      <q-list>
        <q-expansion-item
          v-for="(question,i) in questions"
          popup
          icon="fas fa-quote-right"
          header-class="text-primary"
          :key="i"
        >
          <template v-slot:header>
            <q-item-section class="full-width">
              <p v-html="question.question" class="q-ma-none" />
            </q-item-section>
          </template>
          <q-separator />
          <q-card>
            <q-card-section v-html="question.answer" class="text-blue-grey-14">
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>

      <template v-if="!hasAccount()">
        <q-btn label="Ganhe Prêmios realizando BemFeitorias"
           unelevated color="positive"
           :to="{ name: 'landing', query:{ from: 'hiw' } }"
           class="full-width q-mt-md"
        />
      </template>
    </div>

  </q-page>
</template>

<style>
</style>

<script>

export default {
  name: 'ComoFunciona',
  components: {
    Hat: () => import( "src/components/sections/general/Hat" )
  },
  data()
  {
    return {
      questions:[
        {
          question: 'O que são os <b class="text-secondary">Credibens</b>?',
          answer: 'O <b class="text-secondary">Credibem</b> é a Moeda Oficial da Plataforma Tudobem. ' +
            'Sempre que um membro realiza uma BemFeitoria, participa das atividades, Ofertas e Campanhas no Tudobem, ' +
            'ele ganha Credibens para si e outra quantia é destinada pelo Tudobem para <b class="text-secondary">Doação</b>.'
        },
        {
          question: 'Eu ganho caso alguém se cadastrar com meu Link de BemFeitor?',
          answer: '<b class="text-primary">Sim</b>, toda vez que um novo usuário se cadastrar com o Link de BemFeitor que você compartilhar nas redes sociais, você ganha Credibens para você e para ' +
            'a ONG que você escolher.'
        },
        {
          question: 'O que eu devo fazer para ganhar Produtos Grátis e Cupons de Desconto no Tudobem?',
          answer: 'Basta acessar o Mural de Ofertas, participar das Campanhas e Pesquisas, compartilhar o Tudobem com amigos e parentes. Não custa nada, e junto com você, uma Instituição também ganha <b class="text-primary">Credibens</b>.'
        },

        {
          question: 'Como eu faço para trocar meus Credibens por Produtos Grátis no Tudobem?',
          answer: 'Quando um produto está disponível para troca, um botão aparecerá junto às informações do Produto'
        },
        {
          question: 'Como faço para Receber os meus Produtos?',
          answer: 'Sempre que um Membro BemFeitor faz um pedido de troca de seus Credibens por um Produto ou Desconto, ' +
            'nós entraremos em contato para confirmar os dados e enviamos o produto pelos Correios. <b class="text-secondary">Todos os custos são por nossa conta.</b>'
        },
        {
          question: 'Eu posso escolher uma ONG para o Tudobem doar os Credibens?',
          answer: '<b class="text-positive">Sim</b>, um Membro <b class="text-primary">BemFeitor</b> pode eleger sua <b class="text-secondary">ONG Favorita</b> e todos os Credibens reservados para Doação serão destinados à Instituição de sua Escolha.'
        },
        {
          question: 'Como Funciona o Promo do Bem?',
          answer: 'O <b class="text-primary">Promo do Bem</b> é a área do Tudobem reservada à Organização e Divulgação de Campanhas Promocionais que estão em andamento. O Tudobem não é responsável pela distribuição dos prêmios e sorteios das marcas proprietárias das Promoções'
        },

      ]
    }
  },
  methods:
  {
    next(i){
      let l = this.questions.length;
      let n = i+1;
      if( n < l-1 ){
        this.step = n;
      }
    },

    hasAccount()
    {
      return JSON.parse( localStorage.getItem( 'hasAccount' ) );
    }
  }
}
</script>
