<template>
  <q-page padding>
    <div class="row">
      <div class="col-12">
        <Hat title="Ativação de Conta" sub-title="Ative a sua conta e desbloqueie as Pesquisas e outras Oportunidades de Ganhos no tudobem!" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" v-if="$q.screen.gt.sm"></div>
      <div class="col-md-4 col-12 justify-center text-center" v-if="confirmed">
        <p class="text-primary" v-html="message" />
        <q-btn unelevated color="positive" :to="{ name: 'login'}" label="entrar" />
      </div>
      <div class="col-md-4 col-12 justify-center text-center" v-if="!confirmed">
        <p>
          <q-btn flat color="secondary" :to="{ name: 'landing'}" label="ainda não tenho cadastro" class="text-lowercase" />
        </p>
        <p>
          <q-btn flat color="primary" :to="{ name: 'login'}" label="fazer login" class="text-lowercase" />
        </p>
      </div>

      <div class="col-md-4" v-if="$q.screen.gt.sm"></div>
    </div>
    <q-inner-loading :showing="loading">
      <q-spinner-hearts color="secondary" size="50px" />
    </q-inner-loading>
  </q-page>
</template>

<script>

import { mapActions } from 'vuex';
import { confirm, setUserData, setCredits } from "src/service/user.service";
import Hat from "src/components/sections/general/Hat";
import { secureStorage } from "src/api/crypt";

export default {
  name: 'Confirmar',
  data()
  {
    return {
      confirmed: false, loading: false,
      message: 'Agradecemos por ter confirmado sua Conta!'
    }
  },
  components: { Hat },

  mounted()
  {
    let token = this.$route.params.token;
    if( token && !this.confirmed ){

      this.isAuthenticated().then( isAuth => {

        if( isAuth ){
          if( isAuth.data.user.email_verified_at ){
            this.confirmed = true;
            this.message = `${isAuth.data.user.name}, sua conta já foi confirmada e novas possibilidades no tudobem estão disponíveis!`;
          }
          else{
            this.doConfirmation( token ); // auth'd, run confirmation
          }
        }
        else{
          this.doConfirmation( token ); // not auth, run confirmation
        }
      });

    }
    else{
      this.doRedirect();
    }
  },


  methods:
  {
    ...mapActions( 'guard', [ 'isAuthenticated', 'setCredits' ] ),
    doRedirect()
    {
      this.isAuthenticated().then( isAuth => {
        if( isAuth ){
          this.$router.push({ name: 'home' });
        }
        else{
          if( localStorage.getItem('hasAccount') )
            this.$router.push({ name: 'login' });
          else
            this.$router.push({ name: 'landing' });
        }
      });
    },

    doConfirmation( token )
    {
      this.loading = true;
      confirm({ token }).then( json => {
        if( json.code === undefined ){
          let yzr = secureStorage.getItem('yzr');
          this.confirmed = true;
          this.message = `${json.name}, Obrigado. <b>Sua Conta foi Confirmada</b>. As Pesquisas foram desbloqueadas para você ganhar ainda mais com o <b class="text-primary">tudobem</b>.
                          <br>Dentro de alguns minutos, você receberá um Email com sua Primeira Pesquisa.`;
          setUserData([{ key: 'email_verified_at', value: json.email_verified_at }] );
          setCredits([{ key: 'crypto', value: json.crypto }] );
          this.setCredits( { crypto: parseFloat( json.crypto ), crypto_org: yzr.data.credits.crypto_org } );
        }
        else{
          let msg = `<b>A sua Conta já foi confirmada antes. Faça Login e comece a Ganhar Produtos e Prêmios ao mesmo tempo em que ajuda a Fazer o Bem.</b>`;
          switch ( json.code ){
            case 422:
              msg = `<b>Infelizmente, não foi possível confirmar sua Conta. Se você já tem Conta, Acesse o seu Email e responda a Mensagem que enviamos para você. Caso não, Faça o seu Cadastro e comece a Ganhar.</b>`;
            break;
          }
          this.$q.notify({ message: msg, html: true, type:'negative', timeout: 12000 } );
        }
        this.loading = false;
      })
      .catch( error => {
        this.loading = false;
      });
    }
  }
}
</script>

<style>
</style>
