<template>
  <q-page padding>
    <div class="row">
      <div class="col-12">
        <p class="text-primary text-center">Acessar minha Conta</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" v-if="$q.screen.gt.sm"></div>
      <div class="col-md-4 col-12 justify-center">
        <Login />
      </div>
      <div class="col-md-4" v-if="$q.screen.gt.sm"></div>
    </div>
  </q-page>
</template>

<script>

import { mapActions } from 'vuex';
import Login from  'src/components/forms/Login';

export default {
  name: 'Entrar',
  components:{
      Login
  },
  methods:
  {
    ...mapActions( 'guard', [ 'hasUserData' ] )
  }
}
</script>

<style>
</style>
