<template>
  <q-page class="">
    <div class="row">
      <div class="col-md-6 col-12">
        <q-img src="tudobem.jpeg" alt="Tudobem app" class="fit">
          <div class="row q-pa-md content-center absolute-full" style="background-color: rgba(233, 29, 99, 0.60);">
            <div class="col-12">
              <p :class="[ $q.screen.lt.sm ? 'text-h5': 'text-h2 q-mb-lg' ]">
                O app do Bem Chegou!
              </p>
            </div>
            <div class="col-12">
              <div :class="[ $q.screen.lt.sm ? 'text-body text-weight-bold q-mb-xs' : 'text-h5 q-mb-md' ]">
                Seja Remunerado por Opinar sobre Produtos<br />
              </div>
              <div :class="[ $q.screen.lt.sm ? 'text-body text-weight-bold q-mb-xs' : 'text-h5 q-mb-md' ]">
                Ganhe Produtos e Receba em Casa Grátis
              </div>
              <div :class="[ $q.screen.lt.sm ? 'text-body text-weight-bold q-mb-xs' : 'text-h5 q-mb-md' ]">
                Toda a nossa Renda é revertida para Fazer o Bem!
              </div>

            </div>
          </div>
        </q-img>
      </div>
<!--      signup form -->
      <div class="col-md-6 col-12">
        <div class="row q-pa-md full-height">
          <div class="col-lg-3"></div>
          <div class="col self-center">

            <p class="text-uppercase q-mb-md text-secondary text-center" v-html="copyForm" id="form_signup"></p>
            <Signup />

          </div>
          <div class="col-lg-3"></div>
        </div>
      </div>
    </div>
    <!-- produtos para ganhar -->
    <div class="row q-px-sm text-center">
      <div class="col-12 q-my-md">
        <p class="text-h5 q-my-none text-primary">Veja o que você pode Ganhar apenas realizando BemFeitorias.</p>
        <p class="text-subtitle1 q-my-none text-secondary">Participar de Pesquisas de Opinião, apoiar Campanhas e Compartilhar não custam nada, você é remunerado por isso e tudo o que arrecadamos é destinado a Fazer o Bem!</p>
      </div>
    </div>

    <ProductletContainer :copy="{}" :limit="6" />

    <div class="row text-center q-my-md">
      <div class="col-12 q-pb-lg">
        <q-btn push label="conheça outros produtos" size="lg" unelevated color="positive" @click="scrollToSignup"></q-btn>
      </div>
    </div>
    <!-- como funciona -->
    <div class="row q-px-sm text-center">
      <div class="col-12 q-mt-md">
        <p class="text-h4 q-my-none text-secondary">Como Funciona</p>
      </div>

      <div class="col-12">
        <div class="row">

          <div v-for="(bullet,i) in comoFunciona" :key="i" :class="[ $q.screen.lt.md ? 'col-12 q-mb-sm' : 'col' ]">
            <div class="q-mx-auto q-mb-sm como-funciona-bullet">
              <q-icon :name="bullet.icon" size="46px" class="q-pa-lg" color="secondary" />
            </div>
            <p class="text-body1 text-blue-grey-14" v-html="bullet.text"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 content-center q-pb-lg">
            <q-btn label="QUERO FAZER PARTE DO BEM" size="lg" push color="positive" @click="scrollToSignup"></q-btn>
          </div>
        </div>
      </div>
    </div>
    <!-- sobre o app -->
    <div class="row q-px-sm text-center bg-tudobem">
      <div class="col-12 q-my-md">
        <p class="text-h5 q-my-none text-secondary">app tudobem</p>
        <p class="text-subtitle1 text-primary">Você ajuda Causas do Bem e Ganha Credibens!</p>
      </div>

      <div class="col-12">
        <div class="row">

          <div :class="[ $q.screen.lt.md ? 'col-12' : 'col' ]">
            <p class="text-body1 text-blue-grey-14">
              Todas as ações realizadas na plataforma podem ser revertidas em Credibens para Causas Beneficentes
              e de ajuda humanitária que fomentam o desenvolvimento social e ajudam pessoas em situação de vulnerabilidade e risco social.
            </p>
            <!--<p class="text-body1 text-blue-grey-14">
              Agora Você e suas marcas e produtos favoritos podem ajudar para uma Sociedade Melhor.
              Com o Tudobem, você ganha e se torna um Anjo BemFeitor também. E isto é Incrível!
            </p>-->
          </div>

        </div>
      </div>
    </div>

  </q-page>
</template>

<style>
  .como-funciona-bullet{
    height: 75px; width: 75px; border-radius: 50%;
  }
</style>

<script>
  import Signup from "src/components/forms/Signup";
  import { mapActions } from 'vuex';
  import ProductletContainer from "src/components/Entities/Product/ProductletContainer";
export default {
  name: 'Home'
  ,components:{ProductletContainer, Signup }
  ,data() {
      return {
          comoFunciona: [
              {
                  icon:'fas fa-user-check'
                  ,text:'<b>Torne-se um <span class="text-secondary">Membro BemFeitor</span>. É Grátis <span class="text-primary">e leva menos de 40 segundos</span></b>.'
              },
              {
                  icon:'fas fa-gifts'
                  ,text:'<span class="text-secondary">Participe</span> de Pesquisas sobre Marcas e Produtos, <span class="text-primary"> ' +
                        'Campanhas</span>, <span class="text-green-9">Premiações e Sorteios</span> e <span class="text-primary">Compartilhe</span> tudo para Acumular <b class="text-primary">Credibens</b>.'
              },
              {
                  icon: 'fas fa-coins'
                  ,text: 'Troque seus <b class="text-primary">Credibens*</b> por Produtos, Serviços e Vales-Presentes em <b class="text-red">mais de 250 Lojas e Supermercados de todo o Brasil!</b>'
              },
              {
                  icon:'fas fa-award'
                  ,text:'...E tem mais: Os <b class="text-primary">3 maiores BemFeitores</b> de cada Mês ganham <span class="text-secondary text-weight-medium">Prêmios Incríveis</span> e entram para a nossa História!'

              },
              {
                  icon:'fas fa-shipping-fast'
                  ,text:'Você recebe seus Produtos na sua Casa. <b>Até o Frete é por nossa conta</b>, <span class="text-primary text-weight-medium">#tudobem</span>?'
              },
              {
                  icon:'fas fa-hand-holding-heart'
                  ,text:'<b class="text-primary">Esta é a forma que encontramos para Praticar o Nosso Propósito</b>: O <b class="text-secondary">tudobem</b> <span class="text-secondary text-weight-medium">Doa a maior parte dos lucros</span> a Projetos Sociais enquanto existirmos.'
              }

          ]
          // form header copy
          ,copyForm: `Torne-se um Membro, Valide o seu Cadastro e Ganhe <br /><b class="text-primary">${this.$settings.emailValidation} Credibens*</b> agora mesmo.`
      }
  }
  ,methods:{
      scrollToSignup(ev){
          window.scrollTo(0,0);
      }
      ,...mapActions( 'guard', [ 'isAuthenticated'])
  }
  ,mounted()
  {
    this.isAuthenticated().then( isAuth => {
      if( isAuth ){
        this.$router.push({ name: 'home' });
      }
    });
  }
}
</script>
