<template>
  <q-page padding>
    <div class="row">
      <!-- unique promotion -->
      <div class="col-12" v-if="promotion">
        <h5 class="titulo-promocao text-center q-my-xs text-red" v-html="promotion.name" />

        <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-sm' ]">
          <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 image-container">
            <!--<template v-if="promotion.images.length > 0">
              <q-carousel arrows animated swipeable infinite keep-alive v-model="slide" control-color="secondary"
                prev-icon="fas fa-chevron-left" next-icon="fas fa-chevron-right"
                :height="$q.screen.lt.md ? '224px' : '550px'"
              >
                <q-carousel-slide v-for="(image, imi ) in promotion.images" :name="imi" :img-src="$assets.url+image.path" :key="imi" class="promotion-slide-image">
                  <div class="absolute-bottom text-center text-white custom-caption">
                    <div class="text-subtitle1" v-html="image.description" />
                  </div>
                </q-carousel-slide>
              </q-carousel>
            </template>
            <template v-else>
              <q-img :src="promotion.images[0].path" :alt="promotion.images[0].description" />
            </template>-->
            <q-img :src="$assets.url+promotion.images[0].path" :alt="promotion.images[0].description" />
          </div>
        </div>
        <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-sm' ]">
          <!-- sharing buttons -->
          <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 text-center q-mt-sm">

            <q-btn
              round flat :size="$q.screen.lt.md ? 'md' : 'lg'" :color="promotion.favorited ? 'secondary' : 'blue-grey-1'"
              :text-color="promotion.favorited ? 'secondary' : 'blue-grey-12'" icon="far fa-heart" class="q-mr-md"
              @click="favoritePromotion" :loading="favoriteButtonLoading"
            >
              <template v-slot:loading>
                <q-spinner-hourglass />
              </template>
            </q-btn>

            <q-btn
              round flat :size="$q.screen.lt.md ? 'md' : 'lg'" color="green-14"
              icon="fab fa-whatsapp" class="q-mr-md action-share-whatsapp"
              type="a" :href="getWhatsappUrl" :target="$q.screen.lt.md ? '_self' : '_blank'"
            />

            <q-btn
              round flat :size="$q.screen.lt.md ? 'md' : 'lg'" color="blue-7" icon="fab fa-facebook-f"
              class="action-share-facebook" @click="onFacebook"
            />
          </div>
          <!-- begin and finish dates -->
          <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 text-center q-my-sm">
            <q-badge color="green" class="q-pa-xs q-mr-sm text-bold">
              <q-icon name="fas fa-flag" color="white" class="q-mr-xs" /> {{ promotion.begin_at }}
            </q-badge>
            <q-badge color="red" class="q-pa-xs text-bold">
              <q-icon name="fas fa-fire-alt" color="white" class="q-mr-xs" /> {{ promotion.finish_at }}
            </q-badge> <br />


          </div>
          <!-- description -->
          <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 text-center">

            <div class="descricao-promocao q-my-sm" v-html="promotion.desc" />
            <!-- CTA button -->
            <template v-if="!canDoLoggedActions">
              <q-btn size="23px" unelevated color="green-14" label="Cadastre-se e Participe"
                 class="full-width q-my-md" @click="showSignup({entity: promotion} )" />
            </template>
          </div>

          <!-- promotion links -->
          <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 text-center q-mt-sm" v-if="canDoLoggedActions">
            <q-btn flat :size="$q.screen.lt.md ? 'sm' : 'md'" label="regulamento" color="secondary" @click="viewRule" />
            <q-btn flat :size="$q.screen.lt.md ? 'sm' : 'md'" label="como participar" color="secondary" @click="participate" />
          </div>

        </div>
      </div>
    </div>

    <h5 class="text-center text-primary q-my-sm" v-html="$route.params.slug ? 'Mais Promoções' : 'Promo do Bem'" />

    <p class="text-body2 text-blue-grey-14 text-center">
      Todas as Promoções das maiores e melhores Marcas do Brasil reunidas e organizadas em um só Lugar.
    </p>

    <template v-if="canDoLoggedActions">
      <q-tabs v-model="tab" dense>
        <q-tab name="all" label="Promoções" class="text-blue text-lowercase" />
        <q-tab name="fav" label="Favoritas" class="text-light-blue text-lowercase" />
      </q-tabs>
      <q-tab-panels v-model="tab" class="bg-tudobem" keep-alive swipeable animated>
        <q-tab-panel name="all">
          <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-lg' ]">
            <template v-else v-if="promo.slug !== $route.params.slug && !promo.favorited" v-for="(promo, i) in promotions">
              <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12" :key="i" :class="[ $q.screen.lt.md ? 'q-mb-sm': '' ]">
                <Promotion :entity="promo" :value="promo" :can-do-logged-actions="canDoLoggedActions" @favorite="setFavorited" @show-signup="showSignup" @show-signin="showSignin" />
              </div>
            </template>
          </div>
        </q-tab-panel>
        <q-tab-panel name="fav">
          <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-lg' ]">
            <template v-else v-if="promo.slug !== $route.params.slug && promo.favorited === 1" v-for="(promo, i) in promotions">
              <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12" :key="i" :class="[ $q.screen.lt.md ? 'q-mb-sm': '' ]">
                <Promotion :entity="promo" :can-do-logged-actions="canDoLoggedActions" @favorite="setFavorited" @show-signup="showSignup" @show-signin="showSignin" />
              </div>
            </template>
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </template>
    <template v-else>
      <div class="row justify-center" :class="[ $q.screen.lt.sm ? '': 'q-gutter-lg' ]">
        <template v-else v-if="promo.slug !== $route.params.slug" v-for="(promo, i) in promotions">
          <div class="col-lg-3 col-md-5 col-sm-9 col-xs-12" :key="i" :class="[ $q.screen.lt.md ? 'q-mb-sm': '' ]">
            <Promotion :entity="promo" :can-do-logged-actions="canDoLoggedActions" @favorite="setFavorited" @show-signup="showSignup" @show-signin="showSignin" />
          </div>
        </template>
      </div>
    </template>

    <q-dialog v-model="signupShow" no-backdrop-dismiss>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <q-btn icon="fas fa-times" text-color="grey-5" flat round dense v-close-popup class="text-caption" />
          <div class="text-subtitle1 text-primary text-bold text-center">{{ signupHeaderText }}</div>
          <q-space />
        </q-card-section>
        <q-card-section>
          <Signup :redirect-after-signup="{ name: 'promodobem', params: { slug: signupData.slug }}" />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>

import { mapActions, mapState } from 'vuex';
import Promotion from "src/components/Entities/Promocoes/Promotion";
import {favorite} from "src/service/promotion.service";

export default {

  data()
  {
    return {
      tab: 'all', // when the user is logged in
      signupShow: false,
      signupData: { slug: null },
      signupHeaderText: 'Cadastre-se Grátis e Participe da Promoção',
      canDoLoggedActions: false,
      viewDescription: false,
      promotion: null,
      slide: 0,
      favoriteButtonLoading: false
    }
  },

  computed:
  {
    getWhatsappUrl()
    {
      let env = this.$q.screen.lt.md ? 'api' : 'web';
      let encodedText = window.encodeURIComponent( 'Olha a Promoção que eu achei na Promo do Bem: *'+this.promotion.label+'* -> '+this.getResolvedFullURL() );
      return `https://${env}.whatsapp.com/send?text=`+encodedText;
    },
    ...mapState({
      promotions: store => store.promotion.promotions
    })
  },

  name: 'Promocoes',
  components:
  {
    Promotion,
    Signup: () => import( 'src/components/forms/Signup' )
  },
  methods:
  {
    toRouteChange()
    {
      if( this.promotions.hasOwnProperty( this.$route.params.slug ) ){
        this.promotion = this.promotions[ this.$route.params.slug ];
        document.getElementById('ogp_title' ).setAttribute('content', this.promotion.name );
        document.getElementById('ogp_description' ).setAttribute('content', this.promotion.label );
        document.getElementById('ogp_image' ).setAttribute('content', this.promotion.images[0].path );
      }
    },

    showSignup( event )
    {
      this.signupShow = true;
      this.signupData = event.entity;
      if( event.text )
        this.signupHeaderText = event.text;
    },

    showSignin( event )
    {
      localStorage.setItem( 'lastRoute', JSON.stringify({ name: 'promodobem', params: { slug: event.entity.slug } }) );
      this.$router.push({'name': 'login'});
    },
    /**
     * favorites a promotion when showing detailed promotions
     */
    favoritePromotion()
    {
      if( this.canDoLoggedActions ){

        let fav = this.promotion.favorited ? 0 : 1;
        this.favoriteButtonLoading = true;
        favorite({ favorited: fav, id_promotion: this.promotion.id }).then( res => {
          this.favoriteButtonLoading = false;
          if( fav )
            this.$q.notify({ message: '<b>'+this.promotion.name+'</b> adicionada às suas Favoritas!', html: true, type: 'positive', position: 'bottom' });
          else
            this.$q.notify({ message: '<b>'+this.promotion.name+'</b> Excluída das Favoritas.', html: true, type: 'negative', position: 'bottom' });

          this.setFavorited({ slug: this.promotion.slug, favorited: fav });
        });

      }
      else{
        this.emitProperEvent( 'Cadastre-se Grátis e Favorite suas Promoções Preferidas' );
      }
    },

    participate()
    {
      if( this.canDoLoggedActions ){
        window.open( this.promotion.url, '_blank' );
      }
      else{
        this.emitProperEvent( 'Entre para o Bem e Participe de Todas as Promoções' );
      }
    },

    viewRule()
    {
      window.open( this.promotion.rules, '_blank' );
    },

    emitProperEvent( text )
    {
      this.hasAccount().then( r => {
        let data = { entity: this.promotion, text: text };
        if( r === true )
          this.showSignin( data );
        else
          this.showSignup( data );
      });
    },

    getResolvedFullURL()
    {
      let fURL = window.location.protocol+'//'+window.location.hostname+''+this.$router.resolve({ name: 'promocoes', params: { slug: this.promotion.slug } }).href;
      return fURL;
    },

    onFacebook()
    {
      let href = this.getResolvedFullURL();
      this.$social.onFacebook({
        href: href, quote: this.promotion.name+': '+this.promotion.label,
        hashtag: '#produtosgratis #promocao #promodobem #'+this.promotion.slug
      })
        .then( response => { console.log( response ); })
    },

    ...mapActions({
      get: 'promotion/get',
      authenticatedUser: 'guard/isAuthenticated',
      hasAccount: 'guard/hasAccount',
      setFavorited: 'promotion/setFavorited'
    })
  }

  ,mounted()
  {
    this.authenticatedUser().then( u => {

      if( u )
        this.canDoLoggedActions = true;

      this.get( { auth: this.canDoLoggedActions }).then(r => {
        this.toRouteChange();
      });
    });
  },

  watch:
  {
    $route( to, from )
    {
      this.toRouteChange();
    }
  }
}
</script>

<style type="text/css" scoped>
  .titulo-promocao{

  }
  .image-container{
    max-width: 500px;
  }
</style>
