<template>
  <q-page class="">
    <Hat title="Termos e Condições" sub-title="Política de Privacidade e LGPD" />
    <h6 class="text-secondary text-center q-ma-xs">Introdução</h6>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Allright Prestação de Serviços em Informática ("nossa Empresa"), inscrita sob o CNPJ 10.672.695/0001-01, disponibiliza este Aplicativo, aqui denominado como “Tudobem” (o “Site/Aplicativo”). Ao se inscrever neste Site/Aplicativo, você concorda com os presentes Termos de Uso e de Privacidade. Não utilize nem participe do Site/Aplicativo sem ter lido, compreendido e concordado com os Termos de Uso e de Privacidade.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      A sua privacidade e participação são importantes para nós e para os nossos parceiros e Entidades. Por favor, consulte atentamente os pontos-chave resumidos, bem como a versão integral (abaixo) dos nossos Termos de Uso e de Privacidade antes de se inscrever para se tornar um membro. Esperamos que este texto esclareça todas as suas dúvidas, caso contrário, poderá entrar em contato conosco através de nosso e-mail.
    </p>
    <h6 class="text-secondary text-center q-ma-xs">Pontos-Chave</h6>
    <ul>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Ao registrar-se como membro, concorda em receber informações da nossa parte e de nossos Parceiros, por e-mail, Notificação Push, SMS, Whatsapp e Messenger, sobre novas Campanhas, Pesquisas (Você Comenta), notícias ou atividades interessantes do Tudobem, bem como o nosso feedback relativo aos seus relatórios. Mas fique tranquilo, não iremos entupir a sua caixa de correio!
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Não iremos vender os seus dados pessoais nem compartilhá-los com terceiros sem o seu consentimento prévio. O Tudobem é a única proprietária destas informações. Os clientes não poderão comunicar diretamente com os membros do Tudobem, exceto se estes tiverem dado o seu consentimento.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Aceita reger-se pelo nosso código de conduta, que consiste em ser capaz de expressar a sua opinião honesta, ser respeitador, ser transparente e divertir-se enquanto participa em atividades de disponíveis no site/aplicativo bem como na defesa das marcas, tanto em conversas pessoais como online.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Ao participar como BemFeitor em nossas campanhas, aceita divulgar que está participando de nossas Campanhas, Promoções e ajudando a arrecadar fundos para o fomento de Projetos com o objetivo de amparar/ajudar pessoas e animais em situação de vulnerabilidade Social.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Os conteúdos e publicações deste Site/Aplicativo são/tornam-se propriedade da nossa Entidade e dos nossos clientes.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Não somos responsáveis por quaisquer danos imediatos ou consequentes. Como Usuário/BemFeitor, é da sua responsabilidade manter os dados da sua conta e a sua senha confidenciais.  Enquanto parte intermediária entre os nossos consumidores e os nossos clientes, não somos responsáveis pelos produtos testados ou promoções e sorteios de terceiros, em termos de experiência, defeitos, garantia ou qualquer outro dano direto ou indireto, uma vez que toda a responsabilidade pertence diretamente ao fabricante/cliente/fornecedor de tais produtos, serviços e atividades promocionais.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Ao tornar-se um membro BemFeitor, você concorda com os Termos de Uso e de Privacidade integrais, expostos abaixo. Em caso de utilização indevida, a sua conta poderá ser eliminada ou recusada.
        </p>
      </li>
    </ul>

    <h6 class="text-secondary text-center q-ma-xs">Termos de Uso e de Privacidade do Tudobem (versão integral)</h6>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Os nossos Serviços</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Nós (Allright Prestação de Serviços em Informática) oferecemos serviços sob a designação “Tudobem” no site/aplicativo com o mesmo nome. O Site/Aplicativo Tudobem oferece aos seus membros registrados a possibilidade de participarem em campanhas e atividades de BemFeitores, bem como de utilizarem determinados serviços ( nomeadamente questionários/pesquisas, descontos, transferências, sorteios, premiações, doações, entre outros).
    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Registro</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Para poder utilizar o Site/Aplicativo e participar das campanhas de BemFeitores, um usuário precisa criar uma conta ao preencher o formulário de registro com os seus dados pessoais (nome, endereço de e-mail, telefone celular) e outras informações não-pessoais (como por exemplo, interesses e atividades). Só pode ser criada e usada uma conta por pessoa. Após a criação da conta, cada usuário irá receber uma mensagem de e-mail, no endereço de e-mail registrado, que contém um link para confimar a conta. Cada membro tem um nome de início de sessão (o endereço de e-mail do membro) e uma senha exclusivas. É da responsabilidade do membro manter os dados da sua conta e a sua senha confidenciais. Em caso de utilização indevida do nome de usuário e da senha por terceiros, o membro deverá informar de imediato ao Tudobem.
    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Condições de Uso</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Para se registrar, um usuário deverá ter, pelo menos, 14 anos de idade e possuir um endereço de e-mail e um telefone celular válidos. Se o usuário tiver menos de 18 anos de idade, terá de obter permissão dos seus pais ou tutores. A permissão dos pais ou tutores tem de ser confirmada no registro. No caso de campanhas que envolvam bebida alcoólicas, a idade mínima é de 21 anos. Consulte também os regulamentos rigorosos estipulados no Código de Conduta dos membros. Apenas pessoas singulares podem se tornar membros (e não empresas ou entidades oficiais). Todos os usuários devem fornecer informações exatas sobre si próprios para poderem se inscrever como membros e participar das campanhas e atividades de BemFeitores. O fornecimento de informações incorretas ou enganosas irá afetar o nível de serviço que o Tudobem oferece aos seus clientes. Por conseguinte, o Tudobem reserva-se o direito de fazer alterações ao Site/Aplicativo a qualquer momento. O Tudobem reserva-se o direito de remover a conta de qualquer membro que viole estas regras. O Tudobem reserva-se o direito de modificar, suspender ou descontinuar campanhas a qualquer momento, com ou sem informação prévia aos membros. Caso este direito seja posto em prática, a nossa Empresa não poderá ser responsabilizada por quaisquer danos imediatos ou consequentes, perante qualquer membro ou terceiros.
    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Código de Conduta da Comunidade</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      A participação como membro na Comunidade está sujeita ao seguinte Código de Conduta, tanto em conversas offline como em publicações online, ao participar em campanhas de defesa e de influência:
    </p>
    <ul>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Honestidade: O boca-a-boca só funciona se for honesto. É livre de expressar a sua própria opinião sobre um produto, quer seja positiva ou negativa.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Enviar-nos feedback: Os membros são os nossos olhos e ouvidos! É essencial que se mantenham em contato conosco e que nos enviem feedback sobre as suas experiências e as opiniões dos outros.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Divulgação: A transparência é uma ferramenta poderosa. Ao serem claros e declararem-se abertamente como BemFeitores, os membros geram confiança e estabelecem-se como fontes honestas.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          O Tudobem exige que todos os participantes divulguem o fato de fornecer o seu feedback e as suas opiniões no âmbito de uma campanha promovida. Em cada campanha, disponibilizamos formação e procedemos à monitorização, a fim de garantir que os membros compreendem perfeitamente estas diretrizes.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Ser ativo: Isto significa enviar-nos feedback regularmente, de acordo com as diretrizes, e envolver-se nas atividades das campanhas. Esforçamo-nos bastante para criar campanhas para que os membros possam ganhar Credibens para si e para instituições Beneficentes, e é por isso que ser ativo é essencial. Além do mais, isto aumentará as hipóteses de novas participações, enquanto uma atividade nula ou limitada resultará na remoção temporária ou definitiva da nossa comunidade. 
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          A participação em pesquisas e campanhas é de forma voluntária, você poderá ser acionado por email, Notificação Push, Whatsapp ou poderá ver as que estiverem disponíveis no site, após realizar seu login.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Ao solicitar o Resgate de Prêmios e Produtos, solicitaremos dados, tais como CPF, Nome Completo, Comprovante de Endereço, entre outros para comprovar sua identidade e fazer o Envio Identificado do Prêmio/Produto para você. Sem estas informações não é possível realizar os resgates dos Produtos/Prêmios disponíveis.
        </p>
      </li>

      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Ser responsável:  Enquanto influenciador no seu grupo de amigos, tenha em mente que algumas campanhas têm restrições de idade (por exemplo, campanhas que envolvam álcool, conteúdos para adultos, produtos farmacêuticos, etc..). Leve isto em consideração ao compartilhar amostras, entregar cupons, tirar fotografias, etc.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Respeito: uma vez que somos uma comunidade aberta, cada membro é livre para expressar a sua opinião. Contudo, não se esqueça que a sua opinião poderá ser lida por qualquer pessoa. Por este motivo, pedimos-lhe que seja cortês e evite comentários depreciativos ou impróprios. Os membros têm de se respeitar mutuamente, independentemente da raça, religião, orientação sexual, etc. Tais comentários serão removidos dos nossos canais, com o risco de a conta ser banida/eliminada.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Participar das Atividades do Tudobem é uma forma inteligente de Ganhar Produtos Grátis, Descontos e Prêmios ao mesmo tempo em que ajuda a nossa Sociedade a ser um Lugar mais justo e igualitário e deve ser compartilhada com seus amigos e familiares!
        </p>
      </li>
    </ul>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Código de Conduta da Comunidade adicional relativo à criação de conteúdos online </p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Ocasionalmente, a nossa Empresa pode contratar um Membro para realizar determinadas tarefas e criar determinados materiais (coletivamente, os “Serviços”) em nome de uma empresa Cliente ou Parceira ou de uma Entidade Beneficente que faz parte de nossa lista de Entidades beneficiadas com as Doações do Aplicativo/Site Tudobem. Se um Membro for contratado para realizar Serviços para um Cliente ou Entidade Beneficente, o Membro concorda pelo presente com os seguintes termos e condições:
    </p>
    <ul>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Seguir as instruções e ser responsável: Os membros deverão seguir todas as instruções fornecidas por escrito pelo Tudobem. Os membros deverão executar integralmente as responsabilidades estipuladas nas instruções da campanha dentro dos prazos indicados, incluindo quaisquer pedidos de correção. Se um membro não for capaz de executar as suas responsabilidades, deverá comunicar imediatamente quaisquer preocupações ao contato da campanha ou para o endereço de contato fornecido.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Apoiar os outros membros da Comunidade: Os nossos membros apoiam-se ao compartilharem os conteúdos uns dos outros e ao subscreverem os canais do Tudobem. 
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Permanência dos conteúdos: Os membros deverão manter todos os conteúdos produzidos para a nossa rede publicamente visíveis com os hashtags das campanhas e informações de divulgação por um período mínimo de 90 dias após o fim da campanha.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          O Membro concorda que não é funcionário do Tudobem, e a única relação do Membro com o Tudobem é de prestador de serviços independente. O Membro não estará abrangido por, não terá direito a participar em, e não poderá tirar partido das vantagens de quaisquer planos, acordos ou benefícios relativos a pensões de reforma, participação de lucros, opção de compra de ações, bónus, saúde, hospitalização, férias, seguros, compensação de trabalhadores, invalidez ou outros semelhantes, atualmente em vigor ou posteriormente estabelecidos pela nossa Empresa.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          O Tudobem não irá pagar nem reter quaisquer impostos do abaixo assinado.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          O Membro concorda que nem a nossa Empresa nem o Cliente serão responsabilizados pelo Membro por quaisquer pedidos de indenização, danos, exigências e responsabilidades, seja de que tipo ou natureza forem, contra o Tudobem ou o Cliente/Parceiro derivados das atividades do Membro.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          O Membro não terá autoridade para vincular a nossa Empresa ou o Cliente/Parceiro a qualquer contrato.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          O Membro irá defender, indenizar e exonerar de responsabilidades o Tudobem, os seus Clientes/Parceiros, as suas afiliadas, empresas-mãe, subsidiárias e os seu administradores, diretores, agentes e funcionários relativamente a quaisquer ações, custos, pedidos de indenização, perdas, despesas e/ou danos, incluindo encargos com advogados, decorrentes de ou de qualquer forma relacionados com ou consequentes da realização dos Serviços.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Se o Membro receber informações confidenciais e/ou sujeitas a direitos de propriedade intelectual do Tudobem ou dos Clientes/Parceiros, o Membro não irá divulgar nem utilizar tais informações.
        </p>
      </li>
      <li>
        <p class="text-blue-grey-14 q-ma-sm text-caption">
          Os presentes termos e condições serão regidos pelas leis do Brasil, independentemente de quaisquer princípios aplicáveis relativamente a conflito de leis.
        </p>
      </li>
    </ul>
    <h6 class="text-secondary text-center q-ma-xs">Política de Privacidade e Dados</h6>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      O Tudobem cumpre os requisitos legais de proteção da privacidade e de divulgação às autoridades no que diz respeito à coleta de dados pessoais. Isto incluiu a política do LGPD (Lei Geral de Proteção de Dados) e as diretrizes no Brasil. Ao utilizar o nosso Site/Aplicativo, são recolhidas várias informações sobre os nossos membros, em diferentes ocasiões e em momentos diversos. Leia abaixo para entender a forma como os dados são recolhidos e como são usados pela nossa Empresa. O Tudobem é a única proprietária destas informações. O Tudobem poderá divulgar estas informações anonimamente a clientes, usuários ou terceiros. Isto significa que poderemos passar dados demográficos ou estatísticos que não poderão ser associados diretamente aos dados pessoais ou à conta pessoal de um membro. A remoção de dados pessoais implica o fecho da conta do membro. Para obter mais detalhes sobre como solicitar um encerramento e o que acontece com as suas informações após o encerramento, leia a seção "Remoção de conta".  Não vendemos, alugamos ou compartilhamos com terceiros estes dados pessoais, exceto conforme descrito acima. Os dados pessoais só poderão ser transferidos para terceiros com o consentimento expresso do membro ( opção de inclusão ).
    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Dados que nos são fornecidos</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Tipo 1. Dados pessoais sensíveis (Informações da conta):
      Quando você se inscreve em nosso Site/Aplicativo e se torna um membro BemFeitor, é solicitado que nos forneça os seus dados pessoais, como o nome, gênero, endereço de e-mail, telefone celular, residência, data de nascimento).  Estes são os dados mínimos necessários para utilizar a plataforma/participar no Site/Aplicativo Tudobem. Estas informações são necessárias para utilizar o Site/Aplicativo e podem ser modificadas ou removidas pelos membros, em qualquer momento, na página do perfil ou nas definições.
      Tipo 2. Dados do perfil:
      solicitamos-lhe mais dados que podem proporcionar-nos uma melhor ideia dos seus interesses, da sua vida pessoal, da sua vida profissional entre outros, como o estado civil, número de filhos, interesses sobre produtos, interesses online, etc. Em alguns casos, também são necessários os seus Dados de Pagamento, os quais são recolhidos dos seu perfil. Para obter mais informações sobre os dados de pagamento, consulte a seção Termos e condições de pagamento. Essas informações ajudam-nos a entender a categoria de público a que pertence, o que nos permite apresentar-lhe melhores serviços com Campanhas relevantes. Isto é necessário para poder participar nas campanhas que são oferecidas em nosso Site/Aplicativo e podem ser modificadas ou removidas pelos membros, em qualquer momento, na página do perfil ou nas definições.
      Tipo 3.Dados Ad Hoc (específico da campanha ou atividade):
      Você pode optar por nos fornecer informações pessoais adicionais participando em inquéritos para obter uma melhor experiência com a nossa plataforma. Estas informações podem ser sobre os seus interesses, atividades, contexto educacional, informações de carreira, etc., dependendo das pesquisas em que escolha participar.
      Tipo 4.Serviços e dados de Terceiros
      Se relacionar, ligar ou iniciar sessão na sua conta de membro BemFeitor com site de terceiros ( Instagram, Facebook, Twitter, Google etc.) o terceiro poderá enviar-nos informações, como o seu registo e detalhes de informações do seu perfil pessoal daquele serviço. Essas informações são variáveis e são controladas por esse serviço ou conforme for autorizado por você, através das suas definições de privacidade nesse serviço.
      Tipo 5.  Conteúdo fornecido:
      Quaisquer dados e conteúdos fornecidos e enviados para o nosso Site/Aplicativo, como opiniões, comunicações, fotos, vídeos ou qualquer outro conteúdo. Este é um elemento importante do objetivo comercial para os nossos clientes. Comunicações e mensagens: Quando você opta participar de Campanhas, quaisquer publicações em blog da comunidade ou qualquer informação exibida em nosso Site/Aplicativo.
    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Segurança dos Dados</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      1.Os membros são total e pessoalmente responsáveis por manter a sua senha e os seus dados de conta confidenciais.
      2.O Tudobem controla de forma rigorosa todos os dados pessoais fornecidos durante o processo de inscrição, bem como todas as informações adicionais recolhidas através do nosso Site/Aplicativo,
      em diferentes páginas e em momentos diversos, para evitar a violação e o abuso dos dados. Estas informações estão seguras tanto online (através do nome de usuário e senha) como offline. O acesso aos dados pessoais dos nossos membros está limitado aos nossos escritórios. Apenas aos funcionários que necessitem de informações para completar uma tarefa será concedido o acesso temporário aos dados pessoais. Os servidores que armazenam os dados pessoais são alojados num ambiente seguro e mantidos por profissionais. Esses fornecedores de serviços também trabalham sob políticas rígidas de segurança e em conformidade com o LGPD (Lei Geral de Proteção de Dados). Implementamos de forma contínua medidas de segurança administrativas, técnicas e físicas para ajudar a proteger as suas informações contra acessos não autorizados, perda, destruição ou alteração. No entanto, a Internet não é um ambiente 100% seguro, pelo que não podemos garantir a segurança da transmissão ou armazenamento das suas informações. Em caso de violação, apesar das fortes medidas de segurança em vigor, divulgamos e informamos os nossos membros no prazo de 48 horas.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Propriedade e utilização dos seus dados</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      1.A nossa empresa é a única proprietária de todas as informações e do tipo de dados que nos fornece.
      2.O Tudobem realiza com frequência Pesquisas e Campanhas de Opinião com coleta de dados de nossos Membros para Efetuar Marketing de Permissão, Algumas destas Pesquisas são patrocinadas por Empresas e Entidades parceiras, a quem os dados podem ser transmitidos.
      3.Quando participar em campanhas, temos que estar habilitados para lhe enviar informações e/ou produtos para a sua residência ou local de entrega indicado. Esta informação é compartilhada com os nossos parceiros de Logística. Apesar disso, esta informação não seja armazenada para além do limite de tempo para o qual é necessária. Para garantir, trabalhamos com parceiros de Logística que cumprem as leis e diretrizes de cada país em que operam. Isso inclui as novas Alterações no LGPD.
      4.Concorda que todos os conteúdos (Tipo 5) que fornece e envia para o nosso Site/Aplicativo, como opiniões, análises, publicações em blogs, comunicação, fotos, vídeos ou qualquer outro conteúdo, tornam-se propriedade exclusiva do Tudobem. Renuncia à sua propriedade e direitos sobre esses conteúdos e concede expressamente à nossa Empresa o uso global e ilimitado desses dados em qualquer canal e formatos possíveis. O Tudobem também adquire o direito para transferir, vender ou alugar todos os conteúdos enviados para o nosso Site/Aplicativo.
      5.Todos os dados, opiniões, fotos, vídeos e qualquer outro conteúdo podem ser compartilhados com o nosso Cliente/Parceiro para as campanhas em que escolha participar. No entanto, esses dados são compartilhados apenas para fins comerciais e são agregados, os quais podem ser rastreados por cada um dos participantes. As informações pessoais ou que lhe possam ser atribuíveis e que são divulgadas em fotos e/ou vídeos são da sua responsabilidade exclusiva, dado que serão transferidas para o nosso Cliente e/ou visíveis no nosso Site/Aplicativo.
      6.Os dados pessoais só poderão ser transferidos para terceiros com o consentimento expresso do membro (opção de inclusão), para o que aceita os termos desta opção de inclusão.
      7. Ao se inscrever/tornar-se Membro do Tudobem, você concorda com os Termos e Condições, bem como com as Políticas de Privacidade aqui descritas.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Acessibilidade dos seus dados</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      No âmbito da Lei Geral de Proteção de Dados, dispõe do direito de acessar, retificar, transferir e apagar os seus dados. Armazenamos os seus dados até que a sua conta seja eliminada (consulte a Seção Eliminação de Conta). Dispõe do direito de contestar e restringir determinados processamentos dos seus dados. Isto inclui acesso às informações da sua conta e aos dados do perfil. Nas definições do seu painel pessoal, você pode acessar, visualizar e modificar os seus dados em qualquer momento.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">E-mails e Opções de Inclusão</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Os membros podem optar por não receber e-mails de Tudobem (opção de exclusão). Neste caso, as hipóteses de participação numa campanha são significativamente reduzidas, uma vez que não o poderemos manter atualizado. Enviamos a todos os novos membros um e-mail de boas-vindas para verificar o seu nome de usuário e senha/telefone. Os membros que podemos contactar por e-mail (opção de inclusão) receberão ocasionalmente e-mails com notícias, atualizações sobre campanhas novas ou atuais, novas ONGs assistidas, doações feitas, recompensas, promoções, respostas a relatórios ou outros fatos interessantes que ocorram no Site/Aplicativo Tudobem.
    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Anúncios sobre o Site/Aplicativo e os Serviços</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Em circunstâncias excepcionais, a nossa Empresa poderá ter de enviar um e-mail a todos os membros ou a membros específicos para fazer anúncios importantes sobre o Site/Aplicativo Tudobem ou alterações nos serviços. Não existe opção de exclusão relativamente a estes anúncios. Tais anúncios serão primeiro publicados online. Reservamo-nos o direito de entrar em contato com os membros relativamente a erros na respectiva conta ou para solicitar informações essenciais para o Tudobem.
    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Eliminação de Conta</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Os membros e a nossa Empresa reservam-se ambos no direito de encerrar o serviço a qualquer momento. O Tudobem não pode ser responsabilizado, por membros ou por terceiros, devido ao encerramento de uma conta. Reconhece que, quando elimina a sua conta, deixa de ter acesso e que os seus dados pessoais sensíveis (dados da conta) serão removidos. Não haverá forma de restaurar a conta e aceita que perde todos os potenciais direitos relacionados com a sua conta. A partir desse ponto, a nossa Empresa deixará de ter qualquer tipo de responsabilidade para consigo. Para eliminar a sua conta: acesse a “Meu Perfil” no Site/Aplicativo e clique na opção "Excluir conta".
      1.Eliminamos os seus dados pessoais sensíveis (tipo 1 - informações da conta) e dados do perfil (tipo 2 - informações de pagamento) e deixamos de processar os seus dados. Deixará de receber mais comunicações da nossa empresa.
      2.Para efeitos comerciais, alguns dados permanecem armazenados, mas não são rastreáveis por si a nível de membro individual, mas apenas num nível agregado.  Os nossos clientes exigem o armazenamento desses dados e apenas têm por finalidade a análise (agregada) ao nível da campanha ou do cliente. Esses dados são os dados pessoais não sensíveis, como dados da campanha, dados de terceiros (tipo 3 e 4).
      3.Conteúdo: todos os conteúdos (dados do tipo 5) fornecidos tornaram-se propriedade exclusiva do Tudobem (consultar a Seção: Propriedade e uso dos seus dados) e podem permanecer visíveis no nosso Site/Aplicativo ou em qualquer outro canal, de qualquer forma possível. Isto inclui publicações em blogs, opiniões, imagens ou qualquer outro conteúdo fornecido.

    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Termos e Condições de Pagamento</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Algumas das nossas campanhas exigem que as suas informações de pagamento sejam uma condição para poder participar. Quando adiciona os dados de pagamento no seu perfil (conforme na seção Tipo de dados), você pode modificar ou remover esses dados de pagamento, a qualquer momento, através das definições do seu perfil. Antes de fornecer os dados de pagamento para uma campanha, é necessário que leia e aceite os termos e condições dessa Campanha.
      O Tudobem trabalha com "portais" de pagamento globais de terceiros, que asseguram uma transação segura (de acordo com os padrões de Compliance e melhores práticas do setor) e são tomadas outras medidas de segurança para garantir que as informações de pagamento são encriptadas. Desta forma, o seu cartão de crédito, cartão de débito e dados bancários online estão seguros. O Tudobem não tem acesso direto a essas informações de pagamento e não armazenamos essas informações de pagamento em nossos servidores e bases de dados.
      Todos os dados de pagamento são imediatamente eliminados após uma transação financeira.

    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Permissão para Utilização Limitada de Informações e Materiais</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      O Tudobem não é responsável por avarias ou danos em qualquer computador relacionados com ou resultantes da transferência ou impressão dos materiais do Site/Aplicativo, ou da utilização do mesmo.  
      Os Materiais e conteúdos do Site/Aplicativo podem conter arte gráfica, documentos, imagens, informações e outros materiais que não sejam nossa propriedade, tais como fotografias, ilustrações, clipArt, trechos de filmes ou músicas, pistas de áudio ou efeitos sonoros, ou os nomes, nomes comerciais, marcas comerciais, marcas de serviços, logotipos ou designações de licenciantes ou de terceiros. Qualquer utilização destes materiais poderá ser estritamente proibida pelos terceiros, exceto se tiver sido obtida autorização prévia por escrito junto dos mesmos.  
      Os dados recolhidos são utilizados de forma agregada para determinar o alcance e a eficácia dos membros/grupos. Além disso, a nossa Empresa e os seus parceiros reservam-se o direito de utilizar ligações API para determinar a abrangência e a influência em qualquer uma ou em todas as redes exteriores ligadas. Todos os dados pessoais recolhidos são tratados de forma confidencial e nunca serão compartilhados publicamente. Todas as estatísticas e dados de abrangência só serão compartilhados publicamente de forma agregada ou anônima.  
      Qualquer utilização não autorizada ou proibida deste Site/Aplicativo ou dos Materiais poderá sujeitar o infrator a responsabilidade civil e ação penal ao abrigo das leis federais e estaduais aplicáveis. 

    </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Anti Spam</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Você Concorda que não usará o Site/Aplicativo para obter nem para enviar mensagens de e-mail não solicitadas.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Responsabilidade</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      O Tudobem não é de forma alguma responsável por danos imediatos ou consequentes resultantes da utilização - ou da ineficácia de utilização - do Site/Aplicativo. O Tudobem não é responsável pelo material que é publicado no nosso Site/Aplicativo. Contudo, monitoramos atentamente o nosso site/aplicativo para detectar comentários racistas, discriminatórios, agressivos ou outros que possam causar danos imediatos ou consequentes a Tudobem, aos seus membros ou a terceiros. Tais comentários serão removidos do Site/Aplicativo. Se o nosso Site/Aplicativo contiver link para sites de outras empresas/parceiros/entidades, os conteúdos dos mesmos são verificados pela nossa Empresa no momento em que o link é criado. Contudo, não verificamos continuamente estes conteúdos, que podem mudar sem o nosso conhecimento ou consentimento. Como tal, a nossa Empresa não pode garantir que os conteúdos destes sites cumpram os requisitos legais e não pode ser responsabilizada por quaisquer danos resultantes dos conteúdos ou da utilização destes sites. A responsabilidade será exclusivamente imputada à parte que distribui o site, não à parte que o referencia através de um link. Isto também se aplica a links publicados pelos membros em blogs ou outras páginas do Site/Aplicativo.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Responsabilidade pelos Produtos</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      O Tudobem não é de forma alguma responsável por danos imediatos ou consequentes resultantes da utilização - ou da ineficácia de utilização - dos produtos. Enquanto parte intermediária entre os nossos consumidores e os nossos clientes/parceiros, não somos responsáveis pelos produtos testados, em termos de experiência, defeitos, garantia ou qualquer outro dano direto ou indireto, uma vez que toda a responsabilidade pertence diretamente ao fabricante, bem como a responsabilidade pelos testes/investigações/análises dos produtos testados a nível técnico, químico, médico, farmacêutico ou outro. O Tudobem não é de forma alguma responsável perante os membros participantes no que diz respeito à utilização dos produtos, e os membros não apresentarão quaisquer pedidos de indenização à nossa Empresa, empresas afiliadas ou respectivos funcionários/colaborares. Os membros são responsáveis por ler todas as informações fornecidas pelo fabricante e por utilizar o produto corretamente e por sua conta e risco. O Tudobem também não é responsável por perdas, danos ou incapacidade de fornecer bens prometidos. O Tudobem pode retirar produtos a qualquer momento ou alterar as condições para participar em campanhas e atividades.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Pontos de Membro ( Credibens )</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      Os Credibens são a Moeda Virtual do Site/Aplicativo Tudobem e tem os objetivos de: <br />
      Bonificar os Membros BemFeitores por participar de Campanhas e Atividades no Site/Aplicativo. <br />
      Bonificar a ONG escolhida pelo membro ou pelo Site/Aplicativo pelas ações realizadas pelos membros do Tudobem <br />

      Os Credibens podem ser trocados por Produtos e Serviços disponíveis no Site/Aplicativo Tudobem bem como obter descontos na compra ou aquisição dos mesmos.
      Os Credibens de propriedade de um Membro podem ser doados para ONGs.
      Os Credibens reservados para as ONGs através das Atividades dos Membros são de uso exclusivo à Doação para ONGs e são automaticamente revertidos em dinheiro da moeda corrente em questão ( Reais do Brasil ) e depositados na conta bancária titular das ONGs escolhidas pelo Membro ou pelo Site/Aplicativo Tudobem.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Cartões-Presente ou Vale-Compras</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">
      O Cadastro no site responsável pelo cartão-presente ou vale-compras é de sua responsabilidade.
      Nós apenas disponibilizamos o código promocional e informações para que você possa utilizar o Benefício.
    </p>
    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Encerramento de uma Conta</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">Tanto os membros (ao aceitar a “Meu Perfil” no site) como a nossa Empresa reservam-se o direito de cessar o Serviço a qualquer momento. O Tudobem não pode ser responsabilizado por um membro ou terceiros em resultado do encerramento de uma conta.</p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Vigência dos Termos de Uso</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption">Se as condições supramencionadas deixarem de cumprir, total ou parcialmente, os regulamentos atuais ou futuros, todas as outras condições manter-se-ão em vigor. Ao criar uma conta no Site/Aplicativo Tudobem, os membros concordam que leram e aceitam as condições da presente Política de Uso e de Privacidade. Os membros têm o direito de discordar das condições supramencionadas, a qualquer momento, simplesmente encerrando a sua conta. Todos os dados pessoais serão subsequentemente removidos. A nossa Empresa reserva-se o direito de alterar os termos e condições da presente Política de Uso e de Privacidade, se necessário. Neste caso, os membros deverão voltar a ler e concordar com os termos.</p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Exclusão de Garantias </p>
    <p class="text-blue-grey-14 q-ma-sm text-caption text-lowercase">AS INFORMAÇÕES NO SITE SÃO FORNECIDAS “TAL COMO ESTÃO” E “CONFORME DISPONIBILIZADAS”, E TODAS AS GARANTIAS, EXPRESSAS OU IMPLÍCITAS, SÃO EXCLUÍDAS (INCLUINDO, SEM CARÁTER LIMITATIVO, A EXCLUSÃO DE QUAISQUER GARANTIAS IMPLÍCITAS DE COMERCIALIZAÇÃO E ADEQUAÇÃO A UM DETERMINADO FIM). AS INFORMAÇÕES E SERVIÇOS PODEM CONTER FALHAS, ERROS, PROBLEMAS OU OUTRAS LIMITAÇÕES. NÓS E AS PARTES NOSSAS AFILIADAS NÃO TEMOS QUALQUER RESPONSABILIDADE PELA UTILIZAÇÃO QUE FAZ DE QUAISQUER INFORMAÇÕES OU SERVIÇOS. EM PARTICULAR, MAS SEM CARÁTER LIMITATIVO, NÓS E AS PARTES NOSSAS AFILIADAS NÃO SOMOS RESPONSÁVEIS POR QUAISQUER DANOS DIRETOS, ESPECIAIS, INCIDENTAIS OU CONSEQUENTES (INCLUINDO DANOS POR PERDA DE NEGÓCIOS, PERDA DE LUCRO, LITÍGIOS OU OUTROS), QUER COM BASE EM VIOLAÇÃO DO CONTRATO, VIOLAÇÃO DA GARANTIA, ATOS ILÍCITOS (INCLUINDO NEGLIGÊNCIA), RESPONSABILIDADE PELOS PRODUTOS OU OUTRA SEMELHANTE, MESMO QUE TENHAMOS SIDO INFORMADOS DA POSSIBILIDADE DE OCORRÊNCIA DE TAIS DANOS. A NEGAÇÃO DE DANOS ACIMA ESTIPULADA É UM ELEMENTO FUNDAMENTAL DA BASE DO ACORDO ENTRE NÓS. ESTE SITE/APLICATIVO E AS INFORMAÇÕES NÃO SERIAM FORNECIDOS SEM TAIS LIMITAÇÕES. NENHUMA INFORMAÇÃO OBTIDA POR SI, ORALMENTE OU POR ESCRITO, DA NOSSA PARTE OU ATRAVÉS DO SITE/APLICATIVO IRÁ CONSTITUIR QUALQUER GARANTIA OU DECLARAÇÃO NÃO EXPRESSAMENTE ESTIPULADA NO PRESENTE ACORDO. </p>

    <p class="text-blue-grey-14 q-ma-sm text-subtitle2">Foro e Leis Aplicáveis</p>
    <p class="text-blue-grey-14 q-ma-sm text-caption text-lowercase">VOCÊ CONCORDA QUE TODAS AS AÇÕES OU PROCEDIMENTOS RESULTANTES DIRETA OU INDIRETAMENTE DESTE CONTRATO OU SEU USO DO SITE OU QUAISQUER AMOSTRAS OU PRODUTOS OBTIDOS ATRAVÉS DE TAL USO, DEVERÃO SER LITIGADOS NO TRIBUNAL DE CÍRCULO DE BRASÍLIA, NO BRASIL OU NO TRIBUNAL APLICÁVEL À COBRIR. DO DIREITO BRASILEIRO. ENVIAR E EXPRESSAMENTE CONSENTEMENTE ESSA JURISDIÇÃO EM QUALQUER AÇÃO OU PROCESSO EM QUALQUER UM DESSE TÍTULO, E RENÚNCIA A QUALQUER REIVINDICAÇÃO DE QUE O BRASIL E QUE A LEI BRASILEIRA SEJAM UM FÓRUM INCONVENIENTE OU INADEQUADO.</p>

  </q-page>
</template>

<style>
</style>

<script>
import Hat from "../../components/sections/general/Hat";
export default {
  name: 'Termos',
  components: {Hat}
}
</script>
