<!DOCTYPE html>
<html>
  <head>
    <title>Ganhar é tudo de Bom, Ganhar é Tudobem</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!--<link rel="icon" type="image/png" href="app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">-->
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
<!--    <link rel="icon" type="image/ico" href="icons/favicon.ico">-->
    <meta id="ogp_url" property="og:url" content="" />
    <meta id="ogp_type" property="og:type" content="website" />
    <meta id="ogp_title" property="og:title" content="tudobem.app" />
    <meta id="ogp_description" property="og:description" content="" />
    <meta id="ogp_image" property="og:image" content="https://tudobem.app/icons/icon-512x512.png" />
    <meta property="og:locale" content="pt_BR" />
<!--    <meta id="fb_app_id" property="fb:app_id" content="2496718463876192" />-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-776906487"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-776906487');
    </script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
