<template>
  <q-input outlined :dense="$q.screen.lt.md" label="CPF"
   v-model="val"
   :color="ui.color"
   :label-color="ui.label_color"
   maxlength="14"
   mask="###.###.###-##"
   :debounce="700"
   :hint="hint" hide-hint
   bottom-slots
   :error="!valid"
   :error-message="userMessage"
   @blur="validate"
  />
</template>

<script>
    import InputMixin from "./InputMixin";
    import { cpf } from './Validations';
    export default {
      name: "CPF",
      mixins: [ InputMixin ],
      data() {
        return {
          hint: 'Informe seu CPF'
        }
      },
      methods:{
        validate(evt) {

          if( this.attrs.required ){
            let r = true;
            r = cpf( this.val );
            this.valid = r === true;
            this.changeUI( r );
            this.emitInput();
          }
        }
      }
    }
</script>

<style scoped>

</style>
