<template>
  <div class="text-center q-gutter-x-md q-mb-md">
    <p class="text-subtitle1 text-primary q-mb-xs">Gênero
      <span v-if="!valid" class="text-caption text-negative"> Por favor, preencha este campo</span>
    </p>
    <q-radio v-model="val" dense :val="1" label="Feminino" color="cyan" left-label @input="onChange" />
    <q-radio v-model="val" dense :val="2" label="Masculino" color="cyan" @input="onChange" />
  </div>
</template>

<script>
  import InputMixin from "./InputMixin";

  export default {
    name: "Gender",
    mixins: [ InputMixin ],
    data(){
      return {
        val: '',
        valid: true
      }
    },
    methods: {
      onChange()
      {
        this.valid = true;
        this.$emit( 'input', { value: this.val, valid: this.valid });
      }
    }
  }
</script>

<style scoped>

</style>
