<script>
    export default {
      name: "InputMixin",
      props:{
        attrs: { type: Object, required: false }
      },
      data(){
        return {
          userMessage: '',
          val: '',
          valid: true,
          ui:{
            color: 'blue-gray-3',
            label_color: 'primary',
          }
        }
      },

      methods: {
        emitInput()
        {
          let v = '';
          if( typeof this.val === 'object' && this.val.value !== undefined )
            v = this.val.value;
          else
            v = this.val;

          this.$emit( 'input', { value: v, valid: this.valid } );
        }

        ,changeUI( r )
        {
          if( r !== true ){
            this.userMessage = r;
            this.ui = { color: 'negative', label_color: 'negative'};
          }
          else{
            this.hint = `${this.attrs.name} ok!`;
            this.ui = { color: 'positive', label_color: 'green-9'};
          }
        }
      },

      mounted() {
        if( this.attrs.test && this.attrs.value )
          this.val = this.attrs.value;

        if( this.$store.state.guard.user_data && this.$store.state.guard.user_data[ this.attrs.name ] ){
          this.val = this.$store.state.guard.user_data[ this.attrs.name ];
          this.emitInput();
        }

        if( this.$store.state.guard.user[ this.attrs.name ] ){
          this.val = this.$store.state.guard.user[ this.attrs.name ];
          this.emitInput();
        }
      }
    }
</script>

<style scoped>

</style>
