<template>
  <q-input outlined :dense="$q.screen.lt.md"
     label="Name" :hint="hint" hide-hint
     v-model="val"
     :color="ui.color"
     :label-color="ui.label_color"
     maxlength="40"
     :debounce="700"
     bottom-slots
     :error="!valid"
     :error-message="userMessage"
     @blur="validate"
  />
</template>

<script>
    import InputMixin from "./InputMixin";
    import { notEmpty } from './Validations';
    export default {
      name: "Name",
      mixins: [ InputMixin ],
      data(){
        return {
          hint: 'Informe o seu Nome'
        }
      },
      methods:{
        validate( evt ) {

          if( this.attrs.required ){
            let r = true;
            r = notEmpty( this.val );
            this.valid = r === true;
            this.changeUI( r );
            this.emitInput();
          }

        }
      }
    }
</script>

<style scoped>

</style>
