<template>
  <q-layout view="lHh LPr lFf">
    <!-- desktop header menu -->
    <q-header reveal :reveal-offset="100" bordered class="bg-white text-primary">
      <q-toolbar>
        <q-avatar>
          <q-btn icon="img:app-logo-128x128.png" color="secondary" :to="{name:'home'}" flat />
        </q-avatar>
        <q-toolbar-title>
          <div v-if="$q.screen.gt.md">
            <img src="img/tudobem-logo-fonte-128.png" alt="tudobem.app : o seu cashback do Bem" />
          </div>
        </q-toolbar-title>

        <div v-if="$q.screen.gt.sm" class="tb_toolbar_link q-mx-md q-gutter-lg text-uppercase medium row items-center no-wrap">
          <q-btn flat :to="{name: menu.name }" v-for="menu in menus" :key="menu.path" :label="menu.label" class="q-btn--no-uppercase" />
        </div>

        <q-btn-group flat>
          <q-btn flat color="secondary" class="user-credits" :label="credits.crypto" icon-right="img:img/tudobem-logo-moeda-rosa-32.png" />
        </q-btn-group>

        <q-btn
          class="text-capitalize cursor-pointer"
          ref="profile" :label="profile.name" size="sm" color="green-7" :to="{ name: 'profile' }" stack no-caps flat />
        <q-btn flat round dense aria-label="Icone" @click="showDrawer" icon="fas fa-bars" v-if="$q.screen.lt.md" />
      </q-toolbar>
    </q-header>
    <!-- mobile side menu -->
    <q-drawer
      v-model="drawer"
      :width="250"
      :breakpoint="1000"
      overlay bordered side="right">

      <q-scroll-area class="fit">

        <q-list v-for="menu in menus" :key="menu.path">
          <q-item clickable v-ripple class="cursor-pointer" exact :to="{ name: menu.name }">
            <q-item-section avatar class="text-secondary">
              <q-icon :name="menu.icon" />
            </q-item-section>
            <q-item-section class="text-primary">
              {{ menu.label }}
            </q-item-section>
          </q-item>
        </q-list>

      </q-scroll-area>

    </q-drawer>

    <q-page-container class="bg-tudobem" :class="[ $q.screen.gt.sm ? 'q-mx-sm' : '' ]">
      <router-view />
    </q-page-container>

    <div class="row content-center" style="border-top: 1px solid #efefef;">
      <div class="col">
        <q-toolbar>
          <q-avatar>
            <q-btn icon="img:app-logo-128x128.png" color="secondary" :to="{name:'home'}" flat />
          </q-avatar>
          <q-toolbar-title v-if="$q.screen.gt.sm">
            <img src="img/tudobem-logo-fonte-128.png" alt="tudobem.app : o seu cashback do Bem" />
            <div v-if="$q.screen.gt.sm" class="tb_toolbar_link q-mx-md q-gutter-lg text-uppercase medium row items-center no-wrap float-right">
              <q-btn flat :to="menu.path" v-for="menu in menus" :key="menu.path" :label="menu.label" class="q-btn--no-uppercase" />
            </div>
          </q-toolbar-title>

          <q-toolbar-title v-if="$q.screen.lt.md" class="text-primary">
            <div class="tb_toolbar_link q-mx-md q-gutter-lg text-uppercase medium row items-center no-wrap float-right">
              <q-btn type="a" flat href="https://www.instagram.com/tudobem.app" target="_blank" icon="img:img/social/instagram.png" size="20px" class="text-purple-4" />
              <q-btn type="a" flat href="https://www.facebook.com/Tudobem-101293018087012" target="_blank" icon="img:img/social/facebook.png" size="20px" class="text-blue-7 fb-icon" />
              <q-btn flat :to="{ name: 'como-funciona' }" icon="far fa-question-circle" size="10px" class="text-blue-grey-14" />
            </div>
          </q-toolbar-title>

        </q-toolbar>
      </div>
    </div>

  </q-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'LoggedinLayout',
  data () {
    return {
      drawer: false,
      menus:null,
      profile: { name:null, email:null }
    }
  },
  computed:{
      ...mapState({
        credits: store => store.guard.credits,
        user: store => store.guard.user
      })
  },
  methods: {
      showDrawer(){
        this.drawer = !this.drawer;
      }
      ,getMenu(){
          this.menus = this.$router.options.routes[1].children.filter( (m,i) => m.drawer );
      }
      ,buildProfileComponent()
      {
        this.profile = { name: this.user.name.split( ' ' )[0], email: this.user.email };
      }
      ,setCredits( credits )
      {
        this.credits = credits;
      }
      ,handleAuthentication( data )
      {
        if( !data ){
          this.logout();
          this.$router.push({ name: 'login' });
        }
      }
      ,...mapActions( 'guard', [ 'refreshState', 'logout' ] )
  }
  ,created()
  {
    this.refreshState().then( data => this.handleAuthentication( data ), error =>  this.logout() );
    this.getMenu();
    this.buildProfileComponent();
  }
}
</script>

<style lang="stylus">
  .tb
    &_toolbar_link
      a
        color $secondary
        text-decoration none
        &:hover
          color $primary
          text-decoration underline

  .user-credits
     font-size 15px !important

  .on-left
    margin-right 5px
</style>
