<template>
  <q-layout view="lHh LPr lFf">
    <q-header reveal :reveal-offset="100" bordered class="bg-white text-primary q-pa-xs">
      <q-toolbar>
        <q-avatar>
          <q-icon name="img:app-logo-128x128.png" color="secondary" size="28px"
                  @click="$router.push({name:'landing'})"/>
        </q-avatar>
        <q-toolbar-title>
          <img src="img/tudobem-logo-fonte-64.png" alt="tudobem.app : o seu app do Bem"/>
        </q-toolbar-title>

        <template v-if="$q.screen.gt.sm">
          <div class="tb_toolbar_link q-mx-md q-gutter-lg text-uppercase medium row items-center no-wrap">
            <q-btn flat :to="{ name: menu.name }" v-for="menu in menus" :key="menu.path" :label="menu.label"/>
          </div>
        </template>
        <template v-if="$q.screen.lt.md">
          <div>
            <q-btn v-if="$route.name !== 'login'" label="entrar" icon="fas fa-sign-in-alt" size="xs" to="/entrar"
                   color="grey-7" stack no-caps flat/>
            <q-btn flat dense aria-label="Icone" @click="showDrawer" icon="fas fa-bars" size="sm"/>
          </div>
        </template>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      overlay side="right">

      <q-list v-for="menu in menus" :key="menu.path">
        <q-item clickable class="cursor-pointer" exact :to="{ name: menu.name }" v-if="$route.name !== menu.name">
          <q-item-section avatar class="text-secondary">
            <q-icon :name="menu.icon"/>
          </q-item-section>
          <q-item-section class="text-primary">
            {{ menu.label }}
          </q-item-section>
        </q-item>
      </q-list>

    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>

    <div class="row q-pa-xs content-center" style="border-top: 0px solid #efefef;">
      <div class="col">
        <q-toolbar>
          <q-avatar>
            <q-icon name="img:app-logo-128x128.png" color="secondary" size="32px"/>
          </q-avatar>

          <q-toolbar-title class="text-primary">
            <img src="img/tudobem-logo-fonte-64.png" alt="tudobem : o seu cashback do Bem"/>
            <q-btn flat :to="{ name: 'termos' }" label="termos e condições"
                   class="text-lowercase text-light-blue-14 text-weight-light text-caption"/>
          </q-toolbar-title>

        </q-toolbar>
      </div>
    </div>

  </q-layout>
</template>

<script>

export default {

  name: 'PublicLayout',
  data() {
    return {
      drawer: false,
      menus: null
    }
  },
  methods: {
    showDrawer() {
      this.drawer = !this.drawer;
    }
    , getMenu() {
      this.menus = this.$router.options.routes[0].children.filter((m, i) => i !== 0 && m.drawer);
    }
    , checkLGPD() {
      let accepted = localStorage.getItem('lgpd');
      if ( !accepted ){
        this.$q.notify({
          html: true,
          message: 'Nós usamos cookies e tecnologias semelhantes para melhorar sua experiência e exibir informações de seu interesse .'+
            ' Ao usar nossos serviços, você aceita a política de monitoramento. Para mais informações, consulte nossa <a href="/termos-condicoes-politica-privacidade">Política de Privacidade</a>.',
          color: 'white',
          textColor: 'blue-grey-14',
          multiLine: true,
          position: 'bottom',
          timeout: 20*1000,
          actions: [
            {
              label: 'continuar', color: 'secondary', handler: this.acceptLGPD
            }
          ]
        });
      }
    },
    acceptLGPD()
    {
      localStorage.setItem( 'lgpd', 'accepted' );
    }

  }
  , created() {
    this.getMenu();
    setTimeout( this.checkLGPD, 4000 );
  }
}
</script>

<style lang="stylus">
.tb
  &_toolbar_link
    a
      color $secondary
      text-decoration none

      &:hover
        color $primary
        text-decoration underline
</style>
