<template>
  <q-form
    @submit.prevent="onSubmit"
    class="q-gutter-md"
    ref="form_login"
    id="form_login"
  >

    <q-input
      outlined
      debounce="700"
      label="Email"
      color="positive"
      v-model="email"
      ref="input_email"
      hint="Email do seu Cadastro no App"
      :rules="[ email_format ]"
    >

      <template v-slot:append>
        <q-icon name="far fa-envelope" color="primary"></q-icon>
      </template>
    </q-input>

    <q-input
      outlined
      debounce="500"
      v-model="password"
      ref="input_passwd"
      color="positive"
      label="Telefone"
      hint="Telefone do seu Cadastro no App"
      mask="(##) ##### - ####"
      :rules="[ phone_format ]"
    >
      <template v-slot:append>
        <q-icon name="fas fa-mobile-alt" color="primary"></q-icon>
      </template>
    </q-input>

    <div class="row">
      <div class="col items-center text-center">
        <q-btn type="submit" label="login" color="secondary" :loading="form.loading" unelevated size="lg"
               class="q-px-xl" :class="{ 'full-width': $q.screen.lt.sm }"/>
      </div>
    </div>
    <div class="row">
      <div class="col items-center text-center">
        <q-btn
          label="não tem uma conta? cadastre-se aqui"
          @click="doRegister"
          color="blue" :loading="form.loading" flat size="md" class="q-px-xl btn-cadastrar"
          :class="{ 'full-width': $q.screen.lt.sm }"/>
      </div>
    </div>
    <q-inner-loading :showing="form.loading" class="fullscreen">
      <q-spinner-hearts color="secondary" size="5em"/>
    </q-inner-loading>
  </q-form>
</template>

<script>
  import {mapActions} from 'vuex';
  import Validator from 'src/service/Helpers/validator';

  export default {
    name: "Login",
    mixins: [Validator],
    data() {
      return {
        password: ''
        , email: ''
        , form: {
          loading: false,
          validEmail: false
        }
        , todos: null // just for testing
      }
    },
    // lifecycle hook
    created() {
      this.isAuthenticated().then(isAuth => {
        if (isAuth) {
          this.$router.push({name: 'home'});
        }
      });
      /** when data comes from url query */
      this.email = this.$route.query.email || '';
      this.password = this.$route.query.phone || '';
    },
    methods: {
      onSubmit() {
        this.form.loading = true;
        let data = {email: this.email, password: this.password};

        this.login(data).then(json => {

          if (this.$store.state.guard.authenticated) {

            let lastRoute = JSON.parse(localStorage.getItem('lastRoute'));
            this.$analytics.logEvent( 'login', { user: this.$store.state.guard.user.token });
            if (lastRoute) {
              localStorage.setItem('lastRoute', null);
              this.$router.push(lastRoute);
            } else
              this.$router.push({name: 'home'});
          } else {
            this.$q.notify({
              message: `<b>${this.messages[this.$store.state.guard.errors]}</b>`,
              color: 'negative', icon: 'fas fa-exclamation-triangle', position: 'bottom', html: true
            });
            this.form.loading = false;
          }
        }).catch(error => {
          this.form.loading = false;
        });
        return false;
      },
      doRegister() {
        this.$router.push({'name': 'landing', query: {email: this.email, phone: this.password}});
      },
      ...mapActions( 'guard', ['login', 'isAuthenticated'] )
    }

  }
</script>

<style scoped>
  .btn-cadastrar {
    text-transform: lowercase !important;
  }
</style>
