<template>
  <q-form
    @submit.prevent="onSubmit"
    class="q-gutter"
    ref="form_signup"
    id="form_signup"
  >
    <q-input
      outlined
      debounce="500"
      v-model="name"
      ref="input_name"
      color="positive"
      label="Nome Completo"
      :rules="[ name_format ]"
      no-error-icon
    >
      <template v-slot:append>
        <q-icon name="far fa-address-card" color="primary"></q-icon>
      </template>
    </q-input>

    <q-input
      outlined
      color="positive"
      v-model="email"
      ref="input_email"
      hint="O email que você vai acessar e validar o seu cadastro" hide-hint
      label="Email Pessoal"
      lazy-rules
      :rules="[ email_format ]"
      no-error-icon
    >
      <template v-slot:append>
        <q-icon name="far fa-envelope" color="primary"></q-icon>
      </template>
    </q-input>

    <q-input
      outlined
      color="positive"
      v-model="phone"
      ref="input_phone"
      hint="Seu telefone será seu login" hide-hint
      label="DDD e Telefone"
      mask="(##) ##### - ####"
      lazy-rules
      :rules="[ phone_format ]"
      no-error-icon
    >

      <template v-slot:append>
        <q-icon name="fas fa-mobile-alt" color="primary"></q-icon>
      </template>
    </q-input>

    <div class="row q-mb-sm">

      <div class="col-12 text-center">
        <q-checkbox v-model="terms" :color="form.alertToCheckTerms ? 'red': 'teal'" keep-color size="xs"/>
        aceito os <a href="/termos-condicoes-politica-privacidade">Termos e Política de Privacidade</a>
      </div>
      <div class="col-12 text-red text-center" v-if="form.alertToCheckTerms">Por favor, aceite os termos e condições
        acima para continuar
      </div>
    </div>
    <div class="row">
      <div class="col items-center text-center">

        <q-btn type="submit" :label="view.submitLabel" color="positive" :loading="form.loading" unelevated size="lg"
               class="" :class="{ 'full-width': $q.screen.lt.sm }"/>
      </div>
    </div>
    <q-inner-loading :showing="form.loading" class="fullscreen">
      <q-spinner-hearts color="secondary" size="5em"/>
    </q-inner-loading>
  </q-form>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
import Validator from 'src/service/Helpers/validator';
import {executeConversionPixel} from "src/service/marketing.service";

export default {
  name: "Signup",
  mixins: [Validator],
  props:
  {
    redirectAfterSignup:
      {
        type: Object,
        default() {
          return {name: 'welcome'};
        }
      }
    , view:
      {
        required: false, type: Object, default() {
          return {submitLabel: 'entrar para o bem'};
        }
      }
  },
  data() {
    return {
      name: '',
      email: '',
      phone: '',
      terms: false,
      form: {
        loading: false,
        validEmail: false,
        alertToCheckTerms: false
      }
      , errors: {
        email: {
          'use': {
            'message': 'O email informado está em uso',
            callback: (email, phone) => {
              this.$router.push({name: 'login', query: {email: email, phone: phone}});
            }
          },
          'inv': {
            'message': 'O email informado é inválido ou não foi encontrado',
            callback: (email, phone) => {
              this.$refs.input_email.focus();
            }
          }
        },
        phone: {
          'use': {
            'message': 'O telefone informado faz parte de outro cadastro. Confirme a propriedade do número através da autenticação de 2 Fatores.',
            callback: (email, phone) => { /*this.$router.push({name:'login', query:{ email: email, phone: phone } } );*/
            }
          }
        }
      }
    }
  },
  // lifecycle hook
  created() {
    this.name = this.$route.query.name || '';
    this.email = this.$route.query.email || '';
    this.phone = this.$route.query.phone || '';
    // redirects user to login when an account exists for this device
    this.hasAccount().then(r => {
      if (r) {
        let query = null;
        if (this.email)
          query = {email: this.email, phone: this.phone, name: this.name};
        this.$router.push({name: 'login', query: query});
        return null;
      }
    });

    if (this.$route.query.email) {
      this.$q.notify({
        message: '<b class="text-h5">Complete o seu Cadastro e Entre para o tudobem!</b>',
        color: 'primary',
        avatar: 'app-logo-128x128.png',
        caption: 'Entre para o Bem',
        position: 'bottom',
        timeout: 8000,
        html: true
      });
    }
  }
  , methods: {
    /**
     * It handles the user form data submit
     * @returns {boolean}
     */
    onSubmit() {
      if (!this.terms) {
        this.form.alertToCheckTerms = true;
        return false;
      } else
        this.form.alertToCheckTerms = false;

      this.form.loading = true;
      let query = this.$route.query;
      let data = {name: this.name, email: this.email.replace(/\s+/g, ''), phone: this.phone, query};
      this.register(data).then(json => {

        if (this.$store.state.guard.authenticated) {
          localStorage.setItem('firstTime', 'true');
          this.$analytics.logEvent('signup', {user: this.$store.state.guard.user.token});

          if (query.from !== undefined)
            executeConversionPixel(query.from);

          if (this.redirectAfterSignup)
            this.$router.push(this.redirectAfterSignup);
          else
            this.$router.push({name: 'home'});
        } else {
          let errors = this.getErrors();
          if (errors) {
            for (const field in errors) {
              if (errors.hasOwnProperty(field)) {

                let type = this.errors[field][errors[field][0]];
                this.$q.notify({
                  message: '<b>' + type.message + '</b>',
                  type: 'negative',
                  icon: 'fas fa-exclamation-triangle',
                  caption: 'Ops',
                  position: 'bottom',
                  timeout: 10000,
                  html: true,
                  closeBtn: 'Fechar'
                });
                type.callback(this.email, this.phone);
              }
            }
          }

          this.form.loading = false;
        }
      }).catch(error => {
        this.form.loading = false;
        this.$q.notify({
          message: 'Infelizmente, houve um erro e não pudemos criar sua Conta, por favor tente mais tarde.',
          color: 'negative',
          icon: 'fas fa-exclamation-triangle',
          position: 'bottom'
        });
      });
      return false;
    }

    , ...mapActions('guard', ['register', 'login', 'isAuthenticated', 'hasAccount'])
    , ...mapGetters('guard', ['getErrors'])
  }

}
</script>

<style scoped>

</style>
